Repository powsybl/powsybl-core, pull requests merged in 2019-10, with the labels that each got.

#960 RTC always at side one in three windings transformers
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
Labels: CGMES, PR: waiting-for-review

#961 Correct SVC import from CGMES
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
Labels: CGMES, bug

#965 Add bytes into ComputationException
  computation/src/main/java/com/powsybl/computation/ComputationExceptionBuilder.java
  computation/src/test/java/com/powsybl/computation/ComputationExceptionBuilderTest.java
Labels: PR: waiting-for-review

#966 Fix HVDC line XML export anonymization bug
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/HvdcLineXml.java
Labels: PR: ready-to-be-merged

#898 Fix YNODE import/export
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/couplerToXnodeExample.uct
Labels: PR: ready-to-be-merged, UCTE, bug

#956 time-series: fix split precision at huge index values
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/AbstractTimeSeries.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StoredDoubleTimeSeriesTest.java
Labels: PR: ready-to-be-merged, Time series

#967 CGMES remote regulating terminal is connected if a connected terminal exists on the topological node
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
Labels: CGMES

#843 IIDM network state comparator
  .gitignore
  distribution-core/pom.xml
  iidm/iidm-comparator/pom.xml
  iidm/iidm-comparator/src/main/java/com/powsybl/iidm/comparator/NetworkStateComparator.java
  iidm/iidm-comparator/src/test/java/com/powsybl/iidm/comparator/NetworkStateComparatorTest.java
  iidm/pom.xml
Labels: IIDM, PR: ready-to-be-merged

#968 CGMES profile used for initial state values taken into account for shunt sections
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
Labels: CGMES, PR: ready-to-be-merged

#962 Cgmes conversion generator regulating control refactoring
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
Labels: CGMES, PR: ready-to-be-merged, Refactoring

#974 Make CGMES catalogs final + add back a removed test
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1Catalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1Test.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessorTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ImportExportPerformanceTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesNetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model-alternatives/src/test/java/com/powsybl/cgmes/alternatives/test/AlternativeQueriesForGeneratorsTest.java
  cgmes/cgmes-model-alternatives/src/test/java/com/powsybl/cgmes/alternatives/test/AlternativeQueriesForSwitchesTest.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesCatalog.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesTest.java
Labels: CGMES, PR: ready-to-be-merged, enhancement

#859 Local computation manager : fix CompletableFuture contract of cancel
  computation-local/src/main/java/com/powsybl/computation/local/LocalComputationManager.java
  computation-local/src/test/java/com/powsybl/computation/local/LocalComputationManagerTest.java
  computation/src/main/java/com/powsybl/computation/CompletableFutureTask.java
  computation/src/test/java/com/powsybl/computation/CompletableFutureTaskTest.java
Labels: PR: ready-to-be-merged

#979 Detect incomplete nodes
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectFile.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/VirtualCase.java
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/VirtualCaseTest.java
  security-analysis/security-analysis-afs/src/main/java/com/powsybl/security/afs/SecurityAnalysisRunner.java
  security-analysis/security-analysis-afs/src/test/java/com/powsybl/security/afs/SecurityAnalysisRunnerTest.java
Labels: PR: ready-to-be-merged

#985 Change the R and X reference values to import a line as a low impedance line
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
Labels: CGMES

#948 Correct HVDC data during CGMES import
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_NaN_targetPpcc/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_dcLine2_targetPpcc_both_1inverter_2rectifier/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_dcLine2_targetPpcc_both_1rectifier_2inverter/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_dcLine2_targetPpcc_for_1inverter_2rectifier/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_vsc_reactive_qPccControl/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#984 Network comparison: two Identifiables are equivalent if both are null
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/IssuesTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/NetworkMapping.java
Labels: CGMES, PR: ready-to-be-merged

#806 Correct option for logback configuration file in itools scripts and allowing paths with spaces in powsybl_config_dirs
  config-classic/src/main/java/com/powsybl/config/classic/ClassicPlatformConfigProvider.java
  config-classic/src/test/java/com/powsybl/config/classic/ClassicPlatformConfigProviderTest.java
  itools-packager/src/main/resources/itools
  itools-packager/src/main/resources/itools.bat
Labels: Breaking Change, PR: ready-to-be-merged

#839 Add archive method
  afs/afs-core/src/main/java/com/powsybl/afs/AbstractNodeBase.java
  afs/afs-core/src/main/java/com/powsybl/afs/Folder.java
  afs/afs-core/src/main/java/com/powsybl/afs/Node.java
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectFile.java
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectNode.java
  afs/afs-core/src/test/java/com/powsybl/afs/AfsBaseTest.java
Labels: PR: waiting-for-correction

#952 Revert "Tests independent of local TableFormatterConfig (#658)"
  action/action-simulator/src/main/java/com/powsybl/action/simulator/loadflow/LoadFlowActionSimulator.java
  action/action-simulator/src/test/java/com/powsybl/action/simulator/AbstractLoadFlowRulesEngineTest.java
  action/action-simulator/src/test/java/com/powsybl/action/simulator/ContingencyOccurredTest.java
  action/action-simulator/src/test/java/com/powsybl/action/simulator/loadflow/LoadFlowActionSimulatorTest.java
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/Networks.java
  iidm/iidm-impl/pom.xml
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NetworksTest.java
  loadflow/loadflow-results-completion/pom.xml
  loadflow/loadflow-results-completion/src/test/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletionZ0FlowsTest.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/AbstractTransformersValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/BusesValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/FlowsValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/GeneratorsValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ShuntCompensatorsValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/StaticVarCompensatorsValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/Transformers3WValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/TransformersValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ValidationType.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ValidationUtils.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriterFactory.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvWriterFactory.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationWriterFactory.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationWriters.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/AbstractValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/BusesValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/FlowsValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/GeneratorsValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/ShuntCompensatorsValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/StaticVarCompensatorsValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/Transformers3WValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/TransformersValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriterTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvWriterTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationWritersTest.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/comparator/LimitViolationsResultEquivalence.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/comparator/SecurityAnalysisResultComparisonWriter.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/comparator/SecurityAnalysisResultEquivalence.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/comparator/LimitViolationsResultEquivalenceTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/comparator/SecurityAnalysisResultComparisonWriterTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/comparator/SecurityAnalysisResultEquivalenceTest.java
Labels: Breaking Change, Configuration, PR: ready-to-be-merged
