Repository powsybl/powsybl-core, pull requests merged in 2019-07, with the labels that each got.

#840 Active power control
  .gitignore
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtensionXmlSerializer.java
  distribution-core/pom.xml
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeAreaXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/XnodeXmlSerializer.java
  iidm/iidm-extensions/pom.xml
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ActivePowerControl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ActivePowerControlXmlSerializer.java
  iidm/iidm-extensions/src/main/resources/xsd/activePowerControl.xsd
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ActivePowerControlTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ActivePowerControlXmlTest.java
  iidm/iidm-extensions/src/test/resources/activePowerControlRoundTripRef.xml
  iidm/pom.xml
Labels: Breaking Change, Doc needed

#854 Find project folder from its ID
  afs/afs-core/src/main/java/com/powsybl/afs/AppFileSystem.java
  afs/afs-core/src/main/java/com/powsybl/afs/Project.java
  afs/afs-core/src/test/java/com/powsybl/afs/AfsBaseTest.java
  afs/afs-core/src/test/java/com/powsybl/afs/ProjectTest.java
Labels: AFS

#863 Fix comparison operations in Contingency DSL
  contingency/contingency-dsl/src/test/java/com/powsybl/contingency/dsl/GroovyDslContingenciesProviderTest.java
  dsl/src/main/groovy/com/powsybl/dsl/DslLoader.groovy
Labels: Contingency DSL, bug

#864 Export Network properties in XML
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/PropertiesXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/PropertiesXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/eurostag-tutorial-example1-properties.xml
Labels: IIDM, bug

#846 Accept conversion of boundaries without errors in n/b networks
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_invalid_t2w/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#874 mapDB uncomplete time series cleaning #873
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/MapDbAppStorage.java
Labels: :thumbsup: Ready For Merge

#866 Extend support for CGMES export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-model-alternatives/src/test/java/com/powsybl/cgmes/alternatives/test/AlternativeQueriesTester.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesSubset.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  distribution-core/pom.xml
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PrefixNamespace.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PropertyBag.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStore.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/PowsyblWriter.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
  triple-store/triple-store-test/pom.xml
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/ExportTest.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreTester.java
Labels: CGMES
