Repository powsybl/powsybl-core, pull requests merged in 2019-11, with the labels that each got.

#990 Cgmes conversion t3x regulating control
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_T3x_two_regulatingControls_enabled/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_T3x_two_regulatingControls_enabled/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#963 No destructive merging network implementation
  distribution-core/pom.xml
  iidm/iidm-mergingview/pom.xml
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingNetworkListener.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ValidationUtil.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SubstationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SubstationExtensionTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TestUtil.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelTest.java
  iidm/pom.xml
Labels: IIDM, PR: ready-to-be-merged

#1000 Ignore duplicate rdf:ID with rdf4j + all triplestore impl are in runtime scope in distribution-core
  distribution-core/pom.xml
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, PR: waiting-for-review

#926 Addition of a storage version in NodeInfo serialization within MapDB (#831)
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/DoubleDataChunkSerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/MapDbStorageConstants.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/NamedLinkSerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/NodeInfoSerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/StringDataChunkSerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/TimeSeriesChunkKeySerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/TimeSeriesIndexSerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/TimeSeriesKeySerializer.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/TimeSeriesMetadataSerializer.java
Labels: PR: ready-to-be-merged

#999 Cgmes conversion svc regulating control
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
Labels: CGMES, PR: ready-to-be-merged, Refactoring

#998 Not using an InMemoryPlatformConfig object or a mock PlatformConfig for empty platformconfig in tests but powsybl-config-test
  action/action-simulator/src/test/java/com/powsybl/action/simulator/loadflow/CaseExporterTest.java
  afs/afs-ext-base/pom.xml
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/ImportedCaseTest.java
  ampl-converter/pom.xml
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkWriterTest.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessorTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ImportExportPerformanceTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesNetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  commons/src/test/java/com/powsybl/commons/AbstractConverterTest.java
  iidm/iidm-xml-converter/pom.xml
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalRefTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLExporterTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterLimitsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseOneExtensionPerFileTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterImporterBaseOneExtensionPerFileTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisParametersTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationParametersTest.java
Labels: Configuration, PR: ready-to-be-merged

#1005 fix #1004; log message only should be shown for two windings transformer
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
Labels: PR: ready-to-be-merged, bug

#1010 Fix missing .gitignore iidm-mergingview
  .gitignore
Labels: PR: ready-to-be-merged

#980 Hybridperfvisitor
  time-series/time-series-api/pom.xml
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/BigDecimalNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/BinaryOperation.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/DoubleNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/FloatNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/IntegerNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/MaxNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/MinNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcEvaluator.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcPrinter.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcResolver.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcSimplifier.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcVisitor.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcVisitors.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/TimeNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/TimeSeriesNameNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/TimeSeriesNames.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/TimeSeriesNumNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/UnaryOperation.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/CalculatedTimeSeriesTest.java
  time-series/time-series-api/src/test/resources/com/powsybl/config/test/config.yml
  time-series/time-series-api/src/test/resources/com/powsybl/config/test/filelist.txt
Labels: PR: ready-to-be-merged, Performance, Time series

#991 Groovy25
  action/action-dsl-spi/pom.xml
  action/action-dsl/pom.xml
  action/action-util/pom.xml
  afs/afs-core/src/test/java/com/powsybl/afs/AppFileSystemToolTest.java
  afs/afs-ext-base/pom.xml
  commons/pom.xml
  dsl/pom.xml
  iidm/iidm-api/pom.xml
  iidm/iidm-api/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  iidm/iidm-converter-api/pom.xml
  pom.xml
  scripting/scripting-afs/pom.xml
  scripting/scripting-afs/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  scripting/scripting-extension/pom.xml
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationToolTest.java
  time-series/time-series-api/pom.xml
  time-series/time-series-api/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  tools/src/test/java/com/powsybl/tools/AbstractToolTest.java
Labels: Breaking Change, Groovy, PR: ready-to-be-merged

#1009 Fix checks on RTC attributes related to the regulation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ValidationUtil.java
Labels: IIDM, PR: ready-to-be-merged

#997 Triplestore copy
  .gitignore
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/AbstractPowsyblTripleStore.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStore.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreFactory.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreFactoryService.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreFactoryServiceBlazegraph.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreFactoryServiceJena.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreFactoryServiceRDF4J.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreClearTest.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreCopyTest.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreTester.java
  triple-store/triple-store-test/src/test/resources/foaf/foaf.sparql
Labels: PR: ready-to-be-merged, Triplestore

#1006 Cgmes conversion regulating control uniformization
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
Labels: CGMES, PR: ready-to-be-merged

#983 Defining the new dynamic simulation API
  .gitignore
  distribution-core/pom.xml
  dynamic-simulation/dynamic-simulation-api/pom.xml
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulation.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationParameters.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationProvider.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationResult.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationResultImpl.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationParametersDeserializer.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationParametersJsonModule.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationParametersSerializer.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultDeserializer.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultSerializer.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/JsonDynamicSimulationParameters.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationTool.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/AnotherDynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationParametersTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultJsonTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/json/JsonDynamicSimulationParametersTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationToolTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationParameters.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationParametersError.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationParametersWithExtension.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationResult.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationResultError.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/network.xiidm
  dynamic-simulation/pom.xml
  pom.xml
Labels: Dynamic, PR: ready-to-be-merged

#1008 BBranch calculated connectable bus from NB view can be null
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NodeBreakerTest.java
Labels: IIDM, PR: ready-to-be-merged

#867 Supress Exceptions in some cases when working with variants [ allowVariantMultiThreadAccess(true) ]
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MultiVariantContext.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreadLocalMultiVariantContext.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VariantContext.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VariantManagerImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
Labels: PR: ready-to-be-merged

#1014 afs-ext-base, enstoe-util: fix missing scope=test for jimfs
  afs/afs-ext-base/pom.xml
  entsoe-util/pom.xml
  ucte/ucte-converter/pom.xml
Labels: PR: ready-to-be-merged

#1013 Cgmes update triplestore update
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStore.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreTester.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/TripleStoreUpdateTest.java
  triple-store/triple-store-test/src/test/resources/foaf/foaf.sparql
Labels: CGMES, PR: ready-to-be-merged, Triplestore

#988 Best effort to find a regulating terminal which is connected
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1007 Add less restrictive task creation
  afs/afs-core/src/main/java/com/powsybl/afs/AppFileSystem.java
  afs/afs-core/src/main/java/com/powsybl/afs/LocalTaskMonitor.java
  afs/afs-core/src/main/java/com/powsybl/afs/TaskMonitor.java
  afs/afs-core/src/test/java/com/powsybl/afs/AfsBaseTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/AbstractAppStorageTest.java
  afs/afs-ws/afs-ws-server/src/main/java/com/powsybl/afs/ws/server/AppStorageServer.java
  afs/afs-ws/afs-ws-server/src/test/java/com/powsybl/afs/ws/server/AppDataBeanMock.java
  afs/afs-ws/afs-ws-server/src/test/java/com/powsybl/afs/ws/server/AppStorageServerTest.java
  afs/afs-ws/afs-ws-server/src/test/java/com/powsybl/afs/ws/server/UserAuthenticatorMock.java
  afs/afs-ws/afs-ws-storage/src/main/java/com/powsybl/afs/ws/storage/RemoteTaskMonitor.java
Labels: AFS, PR: ready-to-be-merged

#1012 Two windings transformer: add phaseAngleClock, only one tap changer regulating.
  ampl-converter/src/test/resources/inputs/three-windings-transformers-rtc.txt
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClock.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-extensions/src/main/resources/xsd/twoWindingsTransformerPhaseAngleClock.xsd
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializerTest.java
  iidm/iidm-extensions/src/test/resources/twoWindingsTransformerPhaseAngleClock.xml
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerParent.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TapChangerParent.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ValidationUtil.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/TapChangerTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/ThreeWindingsTransformerNetworkFactory.java
  iidm/iidm-xml-converter/src/test/resources/threeWindingsTransformerRoundTripRef.xml
Labels: CGMES, PR: ready-to-be-merged

#1019 Clear storage changeset after flush even on failure
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/buffer/StorageChangeBuffer.java
Labels: AFS, PR: ready-to-be-merged, bug

#1024 Enhancement of validation method checkOnlyOneTapChangerRegulatingEnabled
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ValidationUtil.java
Labels: IIDM, PR: ready-to-be-merged, enhancement

#1026 Fix named task creation
  afs/afs-ws/afs-ws-storage/src/main/java/com/powsybl/afs/ws/storage/RemoteTaskMonitor.java
Labels: PR: waiting-for-correction

#1029 Add naming strategy choice through export properties and platform configuration for UCTE export feature
  ucte/ucte-converter/pom.xml
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/DefaultNamingStrategy.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/NamingStrategy.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/OtherNamingStrategy.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
Labels: PR: ready-to-be-merged

#1021 Merging view : bus & HvdcConverterStation adapters implementation
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/Identifiables.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiableAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractHvdcConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractInjectionAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ComponentAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/GeneratorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HvdcLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LccConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/Leg1Adapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/Leg2or3Adapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LoadAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NetworkBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NetworkBusViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SwitchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalBusViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TieLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ValidationUtil.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelBusViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelNodeBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LccConverterStationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VscConverterStationAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1017 IEEE CDF import
  distribution-core/pom.xml
  ieee-cdf/ieee-cdf-converter/pom.xml
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfNetworkFactory.java
  ieee-cdf/ieee-cdf-converter/src/test/java/com/powsybl/ieeecdf/converter/IeeeCdfImporterTest.java
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee118cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee300cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee30cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee57cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
  ieee-cdf/ieee-cdf-model/pom.xml
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/BranchSideConversion.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/BranchTypeConversion.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/BusTypeConversion.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfBranch.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfBus.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfInterchangeData.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfLossZone.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfModel.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfReader.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfTieLine.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfTitle.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfWriter.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/LocalDateConversion.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/SeasonConversion.java
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee118cdf.txt
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee14cdf.txt
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee300cdf.txt
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee30cdf.txt
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee57cdf.txt
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee9cdf.txt
  ieee-cdf/ieee-cdf-model/src/test/java/com/powsybl/ieeecdf/model/IeeeCdfReaderWriterTest.java
  ieee-cdf/ieee-cdf-model/src/test/resources/tieline.txt
  ieee-cdf/pom.xml
  pom.xml
Labels: PR: ready-to-be-merged

#1040 Readd Properties to default AbstractIdentifiable
  iidm/iidm-api/src/main/groovy/com/powsybl/iidm/network/IdentifiableExtension.groovy
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/test/groovy/com/powsybl/iidm/network/impl/IdentifiableExtensionGroovyTest.groovy
Labels: PR: ready-to-be-merged
