Repository powsybl/powsybl-core, pull requests merged in 2019-04, with the labels that each got.

#682 Extensions should be able to handle variants properly
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MultiVariantObject.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VariantManagerImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
Labels: IIDM

#598 Adding Current Temporary Limits in CGMES Conversion
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/CGMES_v2.4.15_MicroGridTestConfiguration_T4_BE_BB_Complete_v2/MicroGridTestConfiguration_T4_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/CurrentLimits.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/CurrentLimitsAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CurrentLimitsAdderImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/CurrentLimitsTest.java
Labels: CGMES

#729 Ignore current limit if there is no PATL
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
Labels: CGMES

#738 Fixes issue #731
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_rtc_ptc_tabular/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_rtc_ptc_tabular/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_DL_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_SV_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_TP_v3.0.0.xml
Labels: CGMES

#728 CGMES reactive capability curves
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_q_curves/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_q_curves/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_q_curves/MicroGridTestConfiguration_BC_BE_SV_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_q_curves/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractReactiveLimitsOwnerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES

#733 Retrieve remote regulating terminal for generators during CGMES import
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RegulatingControlConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/DifferencesFail.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#739 Add logs for security analysis
  commons/src/main/java/com/powsybl/commons/compress/ZipHelper.java
  commons/src/test/java/com/powsybl/commons/compress/ZipHelperTest.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysis.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResultWithLog.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisTool.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisToolConstants.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/DistributedSecurityAnalysis.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/ExternalSecurityAnalysis.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/NetworkImporterMock.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisMockFactory.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultWithLogTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisToolTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/distributed/DistributedSecurityAnalysisTest.java
Labels: Security Analysis

#673 add battery Object
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkReader.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplSubset.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplUtil.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkReaderTest.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkWriterTest.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplUtilTest.java
  ampl-converter/src/test/resources/inputs/battery-test-batteries.txt
  ampl-converter/src/test/resources/outputs/battery-test_batteries.txt
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractEquipmentTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractTerminalTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Battery.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/BatteryAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Bus.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ConnectableType.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DefaultTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ReactiveCapabilityCurve.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBus.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GeneratorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MergedBus.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ReactiveLimitsHolderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VscConverterStationImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/BatteryTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NetworkTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/BatteryNetworkFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/BatteryXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/BatteryXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/batteryRoundTripRef.xml
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/z0flows/Z0FlowFromBusBalance.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/BusesValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/AbstractValidationFormatterWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationWriter.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/BusesValidationTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/AbstractValidationFormatterWriterTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriterTest.java
Labels: IIDM

#750 Fix reactive capability curve import
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_q_curve_1_point/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractReactiveLimitsOwnerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#767 Throw an explicit exception when the loadNetwork methods do not find any appropriate importer
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportersTest.java
Labels: Breaking Change

#766 Read/Write references to terminals
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/GeneratorXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TerminalRefXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalRefTest.java
  iidm/iidm-xml-converter/src/test/resources/regulatingTerminal.xml
  iidm/iidm-xml-converter/src/test/resources/terminalRef.xiidm
Labels: Breaking Change
