Repository powsybl/powsybl-core, pull requests merged in 2019-06, with the labels that each got.

#744 Afs-Object-creation-consistency
  action/action-dsl/src/main/java/com/powsybl/action/dsl/afs/ActionScriptBuilder.java
  afs/afs-core/src/main/java/com/powsybl/afs/AppFileSystemTool.java
  afs/afs-core/src/main/java/com/powsybl/afs/Folder.java
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectFolder.java
  afs/afs-core/src/test/java/com/powsybl/afs/AfsBaseTest.java
  afs/afs-core/src/test/java/com/powsybl/afs/AppFileSystemToolTest.java
  afs/afs-core/src/test/java/com/powsybl/afs/DependencyCacheTest.java
  afs/afs-core/src/test/java/com/powsybl/afs/FooFileBuilder.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/ImportedCaseBuilder.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/ModificationScriptBuilder.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/VirtualCaseBuilder.java
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/ImportedCaseTest.java
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/VirtualCaseTest.java
  afs/afs-local/src/main/java/com/powsybl/afs/local/storage/LocalAppStorage.java
  afs/afs-local/src/test/java/com/powsybl/afs/local/storage/LocalAppStorageTest.java
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/MapDbAppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/AppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/AppStorageArchive.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/DefaultListenableAppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/ForwardingAppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/events/NodeConsistent.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/events/NodeEventType.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/AbstractAppStorageArchiveTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/AbstractAppStorageTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/DefaultListenableAppStorageTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/NodeInfoTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/events/NodeEventTest.java
  afs/afs-ws/afs-ws-server/src/main/java/com/powsybl/afs/ws/server/AppStorageServer.java
  afs/afs-ws/afs-ws-storage/src/main/java/com/powsybl/afs/ws/storage/RemoteAppStorage.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/afs/ContingencyStoreBuilder.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/afs/ContingencyStoreTest.java
  security-analysis/security-analysis-afs/src/main/java/com/powsybl/security/afs/SecurityAnalysisRunnerBuilder.java
  security-analysis/security-analysis-afs/src/test/java/com/powsybl/security/afs/SecurityAnalysisRunnerTest.java
Labels: AFS, Breaking Change

#822 Zip packager helper
  commons/pom.xml
  commons/src/main/java/com/powsybl/commons/compress/ZipHelper.java
  commons/src/main/java/com/powsybl/commons/compress/ZipPackager.java
  commons/src/test/java/com/powsybl/commons/compress/ZipHelperTest.java
  commons/src/test/java/com/powsybl/commons/compress/ZipPackagerTest.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandlers.java
Labels: :thumbsup: Ready For Merge, Deprecated

#815 TerminalRefXml with writer param
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/EurostagTutorialExample1Factory.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/TerminalMockExt.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TerminalRefXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/IdentifiableExtensionXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/LoadZipModelXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalMockXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseOneExtensionPerFileTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterImporterBaseOneExtensionPerFileTest.java
  iidm/iidm-xml-converter/src/test/resources/eurostag-tutorial-example1-terminalMock.xml
  iidm/iidm-xml-converter/src/test/resources/eurostag-tutorial-example1-with-terminalMock-ext.xml
  iidm/iidm-xml-converter/src/test/resources/xsd/terminalMock.xsd
Labels: :thumbsup: Ready For Merge, XIIDM

#829 Take ltcFlag into account during conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#830 Does not automatically throw an exception when setting a null regulation terminal for a tap changer
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTapChanger.java
Labels: IIDM

#803 Fix triple store RDF4J writer: explicit statement sequence processing
  triple-store/triple-store-impl-rdf4j/pom.xml
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
  triple-store/triple-store-impl-rdf4j/src/test/java/com/powsybl/triplestore/impl/rdf4j/test/PowsyblWriterSequenceFixTest.java
  triple-store/triple-store-impl-rdf4j/src/test/resources/fix-powsybl-writer-objects.xml
Labels: Triplestore

#836 Add targetDeadband for IIDM tap changers
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/PhaseTapChangerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/RatioTapChangerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/TapChangerTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/PhaseShifterTestCaseFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/PhaseShifterXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/phaseShifterRoundTripRef.xml
Labels: Breaking Change, CGMES, IIDM, XIIDM
