Repository powsybl/powsybl-core, pull requests merged in 2019-12, with the labels that each got.

#1022 Cgmes conversion three windings transformer new API
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-api/src/main/javadoc/com/powsybl/iidm/network/doc-files/threeWindingsTransformer.svg
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/TwtTestData.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerParent.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TapChangerParent.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ValidationUtil.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/TapChangerAttributeTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/TapChangerTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/Leg2or3Adapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LegAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/ThreeWindingsTransformerNetworkFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  loadflow/loadflow-results-completion/src/test/java/com/powsybl/loadflow/resultscompletion/AbstractLoadFlowResultsCompletionTest.java
Labels: Breaking Change, CGMES, IIDM, PR: ready-to-be-merged

#1018 iAL generator modifications support
  action/action-dsl/src/test/java/com/powsybl/action/dsl/GeneratorModificationActionTest.java
  action/action-dsl/src/test/resources/exception-generator-modification-action.groovy
  action/action-dsl/src/test/resources/generator-modification-action.groovy
  action/action-util/src/main/groovy/com/powsybl/action/util/GeneratorModificationTaskExtension.groovy
  action/action-util/src/main/java/com/powsybl/action/util/GeneratorModificationTask.java
  action/action-util/src/main/java/com/powsybl/action/util/GeneratorScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/GeneratorUtil.java
  action/action-util/src/test/java/com/powsybl/action/util/GeneratorUtilTest.java
  action/action-util/src/test/java/com/powsybl/action/util/ScalableTestNetwork.java
Labels: Action DSL, PR: ready-to-be-merged

#1038 fix issue #1033 (CGMES LoadBreakSwitch switches were ignored)
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_load_break_switch/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_protected_switch/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1020 Improve computation exceptions logging.
  computation/pom.xml
  computation/src/main/java/com/powsybl/computation/ComputationException.java
  computation/src/main/java/com/powsybl/computation/ComputationExceptionBuilder.java
  computation/src/test/java/com/powsybl/computation/ComputationExceptionBuilderTest.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandler.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandlers.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandlersTest.java
Labels: Breaking Change, Computation, PR: waiting-for-review

#1034 Merging view : injections adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractInjectionAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusbarSectionAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/GeneratorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/GeneratorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LoadAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LoadAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BatteryAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusbarSectionAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/GeneratorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LoadAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1041 PhaseAngleClock as an extension in ThreeWindingsTransformer and CGMES conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClock.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-extensions/src/main/resources/xsd/threeWindingsTransformerPhaseAngleClock.xsd
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializerTest.java
  iidm/iidm-extensions/src/test/resources/threeWindingsTransformerPhaseAngleClock.xml
Labels: CGMES, IIDM, PR: ready-to-be-merged, XIIDM

#1049 Fix bug in XmlImporter.exists() method after versioning of XIIDM
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
Labels: PR: waiting-for-review, XIIDM, bug

#1042 Add methods for CGMES validation
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1Catalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtension.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/CgmesModelTester.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: waiting-for-review

#1052 Refactoring of XML extensions
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlXmlSerializer.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializer.java
Labels: PR: ready-to-be-merged, Refactoring, XIIDM

#1053 Add setMetadata to AppStorage interface
  afs/afs-mapdb-storage/pom.xml
  afs/afs-mapdb-storage/src/main/java/com/powsybl/afs/mapdb/storage/MapDbAppStorage.java
  afs/afs-mapdb-storage/src/test/java/com/powsybl/afs/mapdb/storage/MapDbAppStorageTest.java
  afs/afs-storage-api/pom.xml
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/AppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/DefaultListenableAppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/ForwardingAppStorage.java
  afs/afs-storage-api/src/main/java/com/powsybl/afs/storage/events/NodeMetadataUpdated.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/AbstractAppStorageTest.java
  afs/afs-ws/afs-ws-server/pom.xml
  afs/afs-ws/afs-ws-server/src/main/java/com/powsybl/afs/ws/server/AppStorageServer.java
  afs/afs-ws/afs-ws-storage/src/main/java/com/powsybl/afs/ws/storage/RemoteAppStorage.java
Labels: AFS, PR: ready-to-be-merged

#1058 Fix a bug during UCTE import when it only lacked the final character of a node line
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/lastCharacterIssue.uct
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteRecordParser.java
Labels: PR: ready-to-be-merged, UCTE, bug

#1061 Ext writer
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeArea.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeAreaXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnode.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/Xnode.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/XnodeXmlSerializer.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1036 Replace dependencies
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectFile.java
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/VirtualCaseTest.java
Labels: AFS, PR: ready-to-be-merged

#1044 Merging view : transformers adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LegAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LegAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerStepAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerStepAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LccConverterStationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/RatioTapChangerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SubstationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VscConverterStationAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1050 Cgmes conversion fix alpha
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#1057 Merging view : common Injection adder adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractInjectionAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/GeneratorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LoadAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/GeneratorAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1059 Equivalent shunts cgmes
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_equivalent_shunt/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_equivalent_shunt/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_equivalent_shunt/MicroGridTestConfiguration_BC_BE_SV_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentShuntConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#1046 Merging view : terminals adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalBusViewAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TerminalAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1045 Merging view : switch adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusbarSectionAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/GeneratorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SubstationAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SwitchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelBusViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelNodeBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BatteryAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/GeneratorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SwitchAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1047 use double instead of float in IEEE CDF model; add a solved case test
  ieee-cdf/ieee-cdf-converter/pom.xml
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfNetworkFactory.java
  ieee-cdf/ieee-cdf-converter/src/test/java/com/powsybl/ieeecdf/converter/IeeeCdfImporterTest.java
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee118cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf-solved.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee300cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee30cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee57cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfBranch.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfBus.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfInterchangeData.java
  ieee-cdf/ieee-cdf-model/src/main/java/com/powsybl/ieeecdf/model/IeeeCdfTitle.java
  ieee-cdf/ieee-cdf-model/src/main/resources/ieee14cdf-solved.txt
Labels: IEEE, PR: ready-to-be-merged

#973 Afs virtual script
  action/action-dsl-afs/src/main/java/com/powsybl/action/dsl/afs/ActionScript.java
  afs/afs-core/src/main/java/com/powsybl/afs/DependencyCache.java
  afs/afs-core/src/main/java/com/powsybl/afs/OrderedDependencyManager.java
  afs/afs-core/src/main/java/com/powsybl/afs/ProjectFile.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/AbstractModificationScript.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/AbstractScript.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/GenericScript.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/LocalNetworkCacheService.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/ModificationScript.java
  afs/afs-ext-base/src/main/java/com/powsybl/afs/ext/base/StorableScript.java
  afs/afs-ext-base/src/test/java/com/powsybl/afs/ext/base/ModificationScriptTest.java
Labels: AFS, PR: ready-to-be-merged

#1074 Create github actions script
  .github/workflows/maven.yml
  .travis.yml
  appveyor.yml
Labels: CI, PR: waiting-for-review, Performance

#1064 Readd setMetadata appstorage test to abstract common tests
  afs/afs-mapdb-storage/src/test/java/com/powsybl/afs/mapdb/storage/MapDbAppStorageTest.java
  afs/afs-storage-api/src/test/java/com/powsybl/afs/storage/AbstractAppStorageTest.java
Labels: PR: ready-to-be-merged

#1068 Add clear result method to security analysis
  security-analysis/security-analysis-afs/src/main/java/com/powsybl/security/afs/SecurityAnalysisRunner.java
  security-analysis/security-analysis-afs/src/test/java/com/powsybl/security/afs/SecurityAnalysisRunnerTest.java
Labels: AFS, PR: ready-to-be-merged

#1077 Fix CI README.md badge
  README.md
Labels: PR: ready-to-be-merged

#994 PST : change tap in relative
  action/action-dsl/src/test/java/com/powsybl/action/dsl/ActionDslLoaderTest.java
  action/action-dsl/src/test/resources/actions2.groovy
  action/action-util/src/main/groovy/com/powsybl/action/util/PhaseShifterTapTaskExtension.groovy
  action/action-util/src/main/java/com/powsybl/action/util/PhaseShifterTapTask.java
Labels: Action DSL, PR: ready-to-be-merged

#1086 Add missing license to dsl/pom.xml
  dsl/pom.xml
Labels: PR: ready-to-be-merged

#1025 Cgmes update simple update
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessor.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtension.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Profiling.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/CgmesUpdate.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/Changelog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChange.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeCreation.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeRemoval.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeUpdate.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmToCgmes.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreChange.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreChangeParams.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreComputedValueUpdateReference.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreSimpleUpdateReference.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/GeneratorToSynchronousMachine.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/IidmToCgmes16.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LineToACLineSegment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LoadToEnergyConsumer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/ShuntCompensatorToShuntCompensator.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/TwoWindingsTransformerToPowerTransformer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/VoltageLevelToVoltageLevel.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessorTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesUpdateUnsupportedTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogCreationRemovalTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesSubset.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, PR: ready-to-be-merged

#1081 XIIDM writer writes generator's regulating terminal each time the connectable linked to this is not the generator in order not to lose info
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/GeneratorXml.java
Labels: PR: ready-to-be-merged, XIIDM, bug

#1090 Revert XIIDM to version 1.0
  entsoe-util/src/test/resources/entsoeAreaRef.xml
  entsoe-util/src/test/resources/mergedXnodeRef.xml
  entsoe-util/src/test/resources/xnodeRef.xml
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee118cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf-solved.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee300cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee30cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee57cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
  iidm/iidm-extensions/src/test/resources/activePowerControlRoundTripRef.xml
  iidm/iidm-extensions/src/test/resources/coordinatedReactiveControl.xml
  iidm/iidm-extensions/src/test/resources/threeWindingsTransformerPhaseAngleClock.xml
  iidm/iidm-extensions/src/test/resources/twoWindingsTransformerPhaseAngleClock.xml
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/IidmXmlConstants.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalMockXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/fictitiousSwitchRef-bbk.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/fictitiousSwitchRef-bbr.xml
Labels: PR: ready-to-be-merged, XIIDM

#1055 Remove maven-build-helper, it should not be needed
  pom.xml
Labels: PR: ready-to-be-merged

#1065 Merging view : Line & TieLine adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TieLineAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TieLineAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1092 Merging view : remove useless stacktrace
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingNetworkListener.java
Labels: IIDM, PR: ready-to-be-merged

#1096 Fix two issues in iterative proportional scalable scaling algorithm.
  action/action-util/src/main/java/com/powsybl/action/util/ProportionalScalable.java
  action/action-util/src/test/java/com/powsybl/action/util/ScalableTest.java
Labels: Action DSL, PR: waiting-for-review, bug
