Repository powsybl/powsybl-core, pull requests merged in 2020-06, with the labels that each got.

#1331 Merging connectable adapter
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractConnectableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractHvdcConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractInjectionAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/RatioTapChangerAdapterTest.java
Labels: MergingView, PR: ready-to-be-merged

#1313 Remove skip-postproc from LoadFlow and DynamicSimulation tools
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationTool.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationToolTest.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/tools/RunLoadFlowTool.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/tools/SecurityAnalysisTool.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/tools/SecurityAnalysisToolConstants.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/tools/SecurityAnalysisToolTest.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationTool.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationToolTest.java
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged, bug

#1329 Implement getLineStream(), getLines(), getDanglingLineStream() and getDanglingLines() in BusAdapter
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
Labels: IIDM, MergingView, PR: ready-to-be-merged

#1330 Dynamic curves provider
  distribution-core/pom.xml
  dsl/src/main/java/com/powsybl/dsl/GroovyScripts.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/Curve.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/CurvesSupplier.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulation.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationProvider.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/SimulatorInputSupplier.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/AnotherDynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationToolTest.java
  dynamic-simulation/dynamic-simulation-dsl/pom.xml
  dynamic-simulation/dynamic-simulation-dsl/src/main/java/com/powsybl/dynamicsimulation/groovy/CurveGroovyExtension.java
  dynamic-simulation/dynamic-simulation-dsl/src/main/java/com/powsybl/dynamicsimulation/groovy/GroovyCurvesSupplier.java
  dynamic-simulation/dynamic-simulation-dsl/src/main/java/com/powsybl/dynamicsimulation/groovy/GroovyExtension.java
  dynamic-simulation/dynamic-simulation-dsl/src/test/groovy/com/powsybl/dynamicsimulation/groovy/DummyCurveGroovyExtension.groovy
  dynamic-simulation/dynamic-simulation-dsl/src/test/java/com/powsybl/dynamicsimulation/groovy/DummyCurve.java
  dynamic-simulation/dynamic-simulation-dsl/src/test/java/com/powsybl/dynamicsimulation/groovy/GroovyCurvesSupplierTest.java
  dynamic-simulation/dynamic-simulation-dsl/src/test/resources/curves.groovy
  dynamic-simulation/dynamic-simulation-tool/pom.xml
  dynamic-simulation/dynamic-simulation-tool/src/main/java/com/powsybl/dynamicsimulation/tool/DynamicSimulationTool.java
  dynamic-simulation/dynamic-simulation-tool/src/test/java/com/powsybl/dynamicsimulation/tool/DynamicSimulationToolTest.java
  dynamic-simulation/dynamic-simulation-tool/src/test/resources/network.xiidm
  dynamic-simulation/pom.xml
Labels: Dynamic, PR: waiting-for-review

#1339 implement new extension API on CgmesModelExtension
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtension.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
Labels: Breaking Change, CGMES, PR: ready-to-be-merged, extensions

#1336 implement new extension API on ThreeWindingsTransformerPhaseAngleClock
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/PhaseAngleClock.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClock.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockAdderImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockAdderImplProvider.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockimpl.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializerTest.java
Labels: Breaking Change, IIDM, PR: ready-to-be-merged, extensions

#1341 implement new extension API on CgmesConversionContextExtension
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtension.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
Labels: Breaking Change, PR: ready-to-be-merged, extensions

#1350 Network copy with a different factory
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
Labels: PR: ready-to-be-merged

#1351 Logs level adjustments in UCTE importer and network merge
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteElement.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNode.java
Labels: PR: ready-to-be-merged

#1344 Fix conversion of opened switches between voltage levels
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_switchVLsOpen/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_switchVLsOpen/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1326 Mergingview vl adapter
  iidm/iidm-api/pom.xml
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractComponent.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractComponentsManager.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractConnectedComponent.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractConnectedComponentsManager.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractSynchronousComponent.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/AbstractSynchronousComponentsManager.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/ConnectedComponent.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/components/SynchronousComponent.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ConnectedComponentImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SynchronousComponentImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractVoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusBreakerVoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ConnectedComponentsManager.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HalfLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingVariantManager.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MultiVariantObject.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NodeBreakerVoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SwitchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/SynchronousComponentsManager.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TopologyListener.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingViewFactory.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SwitchAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TerminalAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TopologyTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: MergingView

#1318 Create a new factory for testing an IIDM network with all equipments
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/FourSubstationsNodeBreakerFactory.java
  iidm/iidm-test/src/main/javadoc/com/powsybl/iidm/network/test/doc-files/fourSubstationsNetwork.svg
Labels: PR: ready-to-be-merged

#1346 add optional getter for ratio and phase tap changer
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/PhaseTapChangerHolder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/RatioTapChangerHolder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerImpl.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTwoWindingsTransformerTest.java
Labels: IIDM, PR: ready-to-be-merged

#1340 A dangling line should be considered as branch and not more as feeder
  ampl-converter/src/test/resources/inputs/dangling-line-branches.txt
  ampl-converter/src/test/resources/inputs/dangling-line-buses.txt
  ampl-converter/src/test/resources/inputs/dangling-line-loads.txt
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
Labels: IIDM, PR: ready-to-be-merged

#1363 Fix branchAdmittanceMatrix get methods
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LinkData.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1360 Current limits with missing permanent limit are not ignored anymore in CGMES import but fixed with permanent limit equal to lowest TATL
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_undefined_PATL/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#1366 Fix guava vulnerability
  pom.xml
Labels: PR: ready-to-be-merged, dependencies

#1367 Update Java version for CI to JDK 11
  .github/workflows/maven.yml
Labels: PR: ready-to-be-merged, dependencies

#1347 CGMES model returns all terminals for a given conducting equipment
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#1372 Add hasTemporaryLimits() to CurrentLimitsAdder + correct CGMES conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/CurrentLimitsAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CurrentLimitsAdderImpl.java
Labels: CGMES, IIDM, PR: waiting-for-review
