Repository powsybl/powsybl-core, pull requests merged in 2020-07, with the labels that each got.

#1377 Implementation of LoadDetail extension (handle fixed and variable part of active and reactive power)
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetail.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailAdderImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailAdderImplProvider.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailXmlSerializer.java
  iidm/iidm-extensions/src/main/resources/xsd/loadDetail.xsd
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/LoadDetailTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/LoadDetailXmlTest.java
  iidm/iidm-extensions/src/test/resources/loadDetailOldRef.xml
  iidm/iidm-extensions/src/test/resources/loadDetailRef.xml
Labels: IIDM, PR: ready-to-be-merged

#1382 Psse converter b3
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  iidm/iidm-util/src/main/java/com/powsybl/iidm/network/util/ContainersMapping.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  psse/psse-converter/src/main/resources/IEEE_118_bus.xiidm
  psse/psse-converter/src/main/resources/IEEE_24_bus.xiidm
  psse/psse-converter/src/main/resources/IEEE_57_bus.xiidm
  psse/psse-converter/src/main/resources/ThreeMIB_T3W_modified.xiidm
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-converter/src/test/resources/IEEE_118_bus.RAW
  psse/psse-converter/src/test/resources/IEEE_24_bus.RAW
  psse/psse-converter/src/test/resources/IEEE_57_bus.RAW
  psse/psse-converter/src/test/resources/ThreeMIB_T3W_modified.RAW
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseRawModel.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseRawReader.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseSwitchedShunt.java
  psse/psse-model/src/test/resources/IEEE_14_bus.json
Labels: PR: waiting-for-review, PSS/E

#1383 Import details about scaling participation for energy consumer in CGMES (conform or not conform loads)
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_conform_non_conform_loads/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_conform_non_conform_loads/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergyConsumerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesTest.java
Labels: CGMES, PR: waiting-for-review

#1380 Add double property
  commons/src/main/java/com/powsybl/commons/config/ModuleConfigUtil.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/ConversionParameters.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/Parameter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/ParameterDefaultValueConfig.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/ParameterType.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/ConversionParametersTest.java
Labels: Configuration, PR: ready-to-be-merged

#1379 Correct ratedS javadoc in IIDM
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Generator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformer.java
Labels: Javadoc, PR: ready-to-be-merged

#1385 PSSE: remove duplicated connect in conversion of generator
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
Labels: PSS/E

#1374 Fix sonar smells
  action/action-simulator/src/test/java/com/powsybl/action/simulator/SimpleDslTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogCreationRemovalTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/StateVariablesAdderTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/NamespaceReader.java
  computation/src/main/java/com/powsybl/computation/ComputationParametersBuilder.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/EntsoeGeographicalCodeTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DefaultTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TopologyVisitor.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MergedBus.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  math/src/test/java/com/powsybl/math/casting/Double2FloatTest.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/comparator/LimitViolationComparatorTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/comparator/PostContingencyResultComparatorTest.java
  simulation-api/src/main/java/com/powsybl/simulation/SimulationDetailedParameters.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndex2.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/OverloadSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SecurityIndexParser.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TransientSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoDisconnectedGenerator.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoFrequencySecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoGeneratorSpeedAutomaton.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoGeneratorVoltageAutomaton.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoOverloadSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoOvervoltageSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoSynchroLossSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoUndervoltageSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/UnderOverVoltageSecurityIndex.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/OverloadSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/SmallSignalSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TransientSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoFrequencySecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoGeneratorSpeedAutomatonTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoGeneratorVoltageAutomatonTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoOverloadSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoOvervoltageSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoSynchroLossSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoUndervoltageSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/UnderOverVoltageSecurityIndexTest.java
  triple-store/triple-store-api/src/test/java/com/powsybl/triplestore/api/test/PropertyBagTest.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/QueryCatalogTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteElementIdTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNodeCodeTest.java
Labels: PR: ready-to-be-merged, Quality

#1387 Names for generators from CGMES synchronous machines
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesNetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/resources/cim14/7buses.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/ieee14.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/nordic32.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/tx-from-microBE-adapted.xiidm
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#1386 CGMES updates: reduce size of changelog not recording state variables
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/Changelog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeUpdate.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/GeneratorToSynchronousMachine.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LineToACLineSegment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LoadToEnergyConsumer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/ShuntCompensatorToShuntCompensator.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/TwoWindingsTransformerToPowerTransformer.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
Labels: CGMES, PR: waiting-for-review

#1358 Export UCT - change of status
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TieLine.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TieLineAdapter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_3.xsd
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/util/UcteConstants.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/resources/beForMergeProperties.uct
  ucte/ucte-converter/src/test/resources/frForMergeProperties.uct
  ucte/ucte-converter/src/test/resources/multipleStatusTests.uct
  ucte/ucte-converter/src/test/resources/uxForMergeProperties.uct
Labels: PR: ready-to-be-merged, UCTE, bug

#1375 Compute star bus voltages of threeWindingsTransformers and boundary bus voltages of dangling lines
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/DanglingLineData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/DanglingLineDataTest.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/DanglingLineTestData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/TwtDataTest.java
Labels: IIDM

#1394 IIDM util sv. Split shunt admittance when calculating flows
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SV.java
Labels: IIDM, PR: ready-to-be-merged

#1398 Iidm util branchData. Delete structuralRatio in lines with different nominal voltage at the ends.
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/BranchData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/BranchDataTest.java
Labels: IIDM

#1395 add method to get all tapChanger steps
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTapChangerTest.java
Labels: IIDM, PR: ready-to-be-merged

#1399 Runnables in XIIDM util methods can now throw XmlStreamException
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractSwitchXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/BusbarSectionXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/StaticVarCompensatorXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
Labels: PR: ready-to-be-merged, XIIDM, enhancement

#1400 Small fix in DanglingLine's notifications
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1391 Change Tap Changers checks
  action/action-util/src/main/java/com/powsybl/action/util/LoadFlowBasedPhaseShifterOptimizer.java
  action/action-util/src/main/java/com/powsybl/action/util/PhaseShifterFixedTapTask.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/BranchData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SV.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-comparator/src/main/java/com/powsybl/iidm/comparator/NetworkStateComparator.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/TransformersValidation.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/FlowsValidationTest.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
Labels: IIDM, PR: ready-to-be-merged

#1390 Fix sonar bug: no fail() while catching an assertionerror
  computation/src/test/java/com/powsybl/computation/CompletableFutureTaskTest.java
Labels: PR: ready-to-be-merged, Quality, bug

#1401 use network accessor from connectable when it is possible
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractMultiVariantConnectableExtension.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevels.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/GeneratorXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/StaticVarCompensatorXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalMockXmlSerializer.java
Labels: IIDM, PR: ready-to-be-merged

#1393 rename SetPoint to Setpoint
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkReader.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkReaderTest.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/StaticVarCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/StaticVarCompensatorAdder.java
  iidm/iidm-extensions/src/test/resources/voltagePerReactivePowerControl.xml
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/StaticVarCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/StaticVarCompensatorImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/StaticVarCompensatorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractStaticVarCompensatorTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/FourSubstationsNodeBreakerFactory.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/SvcTestCaseFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/StaticVarCompensatorXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_3.xsd
  iidm/iidm-xml-converter/src/test/resources/V1_3/regulatingStaticVarCompensatorRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/staticVarCompensatorRoundTripRef.xml
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/StaticVarCompensatorsValidation.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/StaticVarCompensatorsValidationTest.java
Labels: Deprecated, IIDM, PR: ready-to-be-merged, XIIDM

#1319 Addition of an alias system on Identifiables in IIDM
  distribution-core/pom.xml
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkIndex.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/AliasesTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/ShuntTestCaseFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AliasesXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_3.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TieLineWithAliasesXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_3/shuntRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/tielineWithAliases.xml
  ucte/pom.xml
  ucte/ucte-util/pom.xml
  ucte/ucte-util/src/main/java/com/powsybl/ucte/util/UcteAliasesCreation.java
  ucte/ucte-util/src/test/java/com/powsybl/ucte/util/UcteAliasesCreationTest.java
  ucte/ucte-util/src/test/resources/aliasesDuplicationTest.uct
  ucte/ucte-util/src/test/resources/beTestGridForMerging.uct
  ucte/ucte-util/src/test/resources/frTestGridForMerging.uct
  ucte/ucte-util/src/test/resources/uxTestGridForMerging.uct
Labels: Feature, IIDM, PR: waiting-for-review, UCTE, XIIDM

#1357 DanglingLine with generation attributes
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_equivalent_injection_regulating_voltage/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_equivalent_injection_regulating_voltage/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Boundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractReactiveLimitsOwnerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLineAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdderAdapter.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractDanglingLineTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/DanglingLineNetworkFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_3.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/DanglingLineXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_3/danglingLineWithGeneration.xml
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/frVoltageRegulatingXnode.uct
Labels: CGMES, IIDM, PR: ready-to-be-merged

#1376 Change lock region for WeakListenerList notify method to prevent deadlock
  commons/src/main/java/com/powsybl/commons/util/WeakListenerList.java
Labels: PR: ready-to-be-merged

#1405 Fix file leak in CGMES import
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1404 Correcting bug for MultiVariant extensions of VoltageLevels
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1397 Update the javadoc with the Tables copied from the current website
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Battery.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Branch.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/BusbarSection.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Generator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/HvdcLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/LccConverterStation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Load.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/StaticVarCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Substation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TieLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VscConverterStation.java
Labels: Javadoc, PR: ready-to-be-merged

#1407 Fix a memory leak in Matpower reader
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerReader.java
Labels: Matpower, PR: ready-to-be-merged, bug

#1396 Terminals getters added to Bus interface
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Bus.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBus.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusExt.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
Labels: IIDM, PR: ready-to-be-merged

#1403 Improve dynamic simulation tool
  dynamic-simulation/dynamic-simulation-tool/src/main/java/com/powsybl/dynamicsimulation/tool/DynamicSimulationTool.java
  dynamic-simulation/dynamic-simulation-tool/src/test/java/com/powsybl/dynamicsimulation/tool/DynamicSimulationToolTest.java
Labels: Dynamic, PR: ready-to-be-merged

#1406 Small fixes after #1319: Add assert when reading and writing aliases in XIIDM (incorrect sub-elements names should be detected) + Network's aliases are read and written
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AliasesXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
Labels: PR: ready-to-be-merged, XIIDM, bug

#1381 Slackbus extension: interface and implementation
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/extensions/SlackTerminal.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/extensions/SlackTerminalAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TerminalFinder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractMultiVariantConnectableExtension.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractMultiVariantIdentifiableExtension.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/MultiVariantExtensionTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/TerminalFinderTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTerminalFinderTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TerminalRefXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/SlackTerminalXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/slackTerminal.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/SlackTerminalXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/slackTerminal.xml
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/resources/expectedExport.uct
  ucte/ucte-util/pom.xml
Labels: PR: waiting-for-correction

#1414 Deploy XIIDM xsd files
  distribution-core/pom.xml
Labels: bug
