Repository powsybl/powsybl-core, pull requests merged in 2020-09, with the labels that each got.

#1451 Update jgrapht version
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/SubstationIdMapping.java
  iidm/iidm-util/src/main/java/com/powsybl/iidm/network/util/ContainersMapping.java
  pom.xml
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
Labels: Breaking Change, Doc needed

#1462 IIDM SVC : remove blank line to fix checkstyle complain
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/StaticVarCompensator.java
Labels: PR: ready-to-be-merged

#1459 Add an extension containing SV metadata information for CGMES SV export
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadata.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataXmlSerializer.java
  cgmes/cgmes-conversion/src/main/resources/xsd/cgmesSvMetadata.xsd
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataXmlSerializerTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/resources/extensions/eurostag_cgmes_sv_metadata.xml
Labels: Breaking Change, CGMES, PR: ready-to-be-merged

#1464 Introduce CimCharacteristics extension and use in CGMES import
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/CgmesTopologyKind.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristics.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsXmlSerializer.java
  cgmes/cgmes-conversion/src/main/resources/xsd/cimCharacteristics.xsd
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CimCharacteristicsXmlSerializerTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/resources/extensions/eurostag_cim_characteristics.xml
Labels: Breaking Change, CGMES, IIDM, PR: ready-to-be-merged, XIIDM, extensions

#1465 Core188 don't show 999999.0 value on CGM when a line or transformer has no Imax
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/util/UcteConstants.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/resources/expectedExport_withoutPermanentLimit.uct
Labels: UCTE

#1408 CGMES switch at boundary to dangling line z0
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_switch_at_boundary/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Boundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: waiting-for-review

#1467 Import of SlackTerminal extension during CGMES import (SynchronousMachine.referencePriority)
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: Breaking Change, CGMES, PR: ready-to-be-merged

#1470 Upgrade junit 4.12 -> 4.13
  pom.xml
Labels: PR: ready-to-be-merged

#1471 Add logback-core explicit dependency in dependencyManagement
  pom.xml
Labels: PR: ready-to-be-merged

#1477 Fix property name of shunt compensator sections in SV export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
Labels: CGMES

#1476 Fix missing call to MultiVariantObject implementations
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ConfiguredBusImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/HvdcLineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SwitchImpl.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1466 Add aliases during CGMES import for missing IDs
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AsynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/BusbarSectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergyConsumerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergySourceConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SeriesCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#1479 improve getCountry method to avoid nullPointerException when geographicalCode is not null and country is null
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeFileName.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/EntsoeFileNameTest.java
Labels: PR: ready-to-be-merged, bug

#1473 Modify limit violation builder copy
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/LimitViolation.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/LimitViolationBuilder.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/LimitViolationBuilderTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/LimitViolationTest.java
Labels: PR: ready-to-be-merged

#1484 Regulating control adjustments to export SSH
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
Labels: CGMES, PR: ready-to-be-merged

#1483 Add dangling line contingency
  contingency/contingency-api/src/main/java/com/powsybl/contingency/Contingency.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/ContingencyElementType.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/DanglingLineContingency.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/json/ContingencyElementDeserializer.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/tasks/DanglingLineTripping.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/ContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/DanglingLineContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/json/ContingencyJsonTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/tasks/DanglingLineTrippingTest.java
  contingency/contingency-api/src/test/resources/contingency.json
  contingency/contingency-dsl/src/main/groovy/com/powsybl/contingency/dsl/ContingencyDslLoader.groovy
  contingency/contingency-dsl/src/test/java/com/powsybl/contingency/dsl/DanglingLineContingencyScriptTest.java
Labels: Contingency DSL, Feature, PR: waiting-for-review

#1487 CGMES conversion of shunts: regulating control is disabled if the voltage target value is negative.
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
Labels: CGMES, PR: ready-to-be-merged

#1480 Integration of the new way to export SV profile in CGMES export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SvInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadata.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataXmlSerializer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/resources/xsd/cgmesSvMetadata.xsd
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSvMetadataXmlSerializerTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/resources/extensions/eurostag_cgmes_sv_metadata.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
  commons/pom.xml
  commons/src/main/java/com/powsybl/commons/xml/XmlUtil.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
Labels: CGMES, PR: ready-to-be-merged

#1491 Prevent x of step to be undefined (NaN) during CGMES import for non tabular ptc
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1492 Fix CGMES dependency: junit appear twice in the pom.xml
  cgmes/cgmes-conversion/pom.xml
Labels: CGMES, PR: ready-to-be-merged, bug
