Repository powsybl/powsybl-core, pull requests merged in 2020-03, with the labels that each got.

#1107 Dynamic simulation doc
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/JsonDynamicSimulationParameters.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationTool.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/json/JsonDynamicSimulationParametersTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/tools/DynamicSimulationToolTest.java
Labels: Dynamic, PR: waiting-for-review

#1190 Sensi csv export
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationTool.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/converter/CsvSensitivityComputationResultExporter.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/converter/CsvSensitivityComputationResultExporterTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/converter/SensitivityComputationResultExportersTest.java
  sensitivity-api/src/test/resources/sensitivity-results.csv
Labels: PR: ready-to-be-merged, Sensitivity

#1199 Add apparent power attribute (ratedS) on transformers in IIDM
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformerAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTwoWindingsTransformerTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_2.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_2/completeThreeWindingsTransformerRoundTripRef.xml
Labels: IIDM, PR: ready-to-be-merged, XIIDM

#1204 Fix bug: check target deadband when setting regulation status to prevent inconsistent data
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTapChangerTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1154 Fix LoadFlowParameters copy.
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowParameters.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowParametersTest.java
  pom.xml
Labels: PR: ready-to-be-merged, bug

#1082 use -T 2.0C for tests in github actions for speed
  .github/workflows/maven.yml
Labels: CI, Github Actions

#1162 Merging view step : to create Line between two different networks
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLinePowerListener.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DefaultMergingViewListener.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LineAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingLineListener.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
Labels: PR: ready-to-be-merged

#1208 Merging view step : refactor not implemented exception
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractHvdcConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractInjectionAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractTapChangerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ComponentAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HvdcLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
Labels: IIDM, PR: waiting-for-review

#1212 Remove skip-extension property
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/AbstractOptions.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/SkipExtensionTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/noExtension.xml
Labels: PR: ready-to-be-merged, XIIDM, bug

#1213 Increase the timeout in ThreadInterruptedCompletableFutureTest
  computation/src/test/java/com/powsybl/computation/ThreadInterruptedCompletableFutureTest.java
Labels: PR: waiting-for-review, Test, bug

#1161 Delete node count
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeMapping.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevelExt.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NodeBreakerCleanTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCalculatedTopologyTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractEmptyCalculatedBusBugTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractMainConnectedComponentWithSwitchTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerDisconnectionDoublePathBugTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerInternalConnectionsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSwitchOpenCloseNodeBreakerTopoTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSwitchSetRetainedTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTopologyTraverserTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/FictitiousSwitchFactory.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/HvdcTestNetwork.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/NetworkTest1Factory.java
  iidm/iidm-util/src/main/java/com/powsybl/iidm/network/util/NodeBreakerTopology.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_2.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/NodeBreakerInternalConnectionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/ShuntCompensatorXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_1/faultyThreeWindingsTransformerRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/LccRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/VscRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/fictitiousSwitchRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/internalConnections.xiidm
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
Labels: Breaking Change, Deprecated, Doc needed, IIDM, PR: ready-to-be-merged, XIIDM

#1217 Add methods in the shunt compensator adapter of the merging view
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1218 Ensure that voltageLevel.getConnectables() and associated return collections of distinct elements
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1221 Revert commits that make the compilation to fail randomly
  .github/workflows/maven.yml
  computation/src/test/java/com/powsybl/computation/ThreadInterruptedCompletableFutureTest.java
Labels: PR: ready-to-be-merged, bug

#1219 remove multiple empty lines to avoid checkstyle errors
  action/action-util/src/main/java/com/powsybl/action/util/Scalable.java
  commons/src/main/java/com/powsybl/commons/datasource/Bzip2FileDataSource.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/tasks/ShuntCompensatorTripping.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/export/ExportOptionsTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportOptionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterLimitsTest.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/JsonLoadFlowParameters.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/KComputation.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/execution/SecurityAnalysisExecutionBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/JsonSecurityAnalysisParameters.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationResults.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityValue.java
Labels: PR: ready-to-be-merged, Quality

#1216 Fix how to merge two dangling lines in a tie line.
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
Labels: IIDM, PR: waiting-for-review

#1205 Psse raw file loading
  distribution-core/pom.xml
  pom.xml
  psse/pom.xml
  psse/psse-model/pom.xml
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseArea.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseBus.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseCaseIdentification.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseException.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseFixedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseGenerator.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseLoad.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseNonTransformerBranch.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseOwner.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseRawModel.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseRawReader.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseTransformer.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseZone.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawReaderTest.java
  psse/psse-model/src/test/resources/IEEE_14_bus.json
  psse/psse-model/src/test/resources/IEEE_14_bus.raw
Labels: Alpha feature, PR: ready-to-be-merged, PSS/E

#1207 Change the design of the SecurityAnalysisResultBuilder
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResultBuilder.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultBuilderTest.java
Labels: Breaking Change, Doc needed, PR: waiting-for-review, Refactoring, Security Analysis

#1220 Support CGMES import of shunts' regulation
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_missing_shunt_regulating_control_id/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_missing_shunt_regulating_control_id/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1201 Cgmes update simple update sv file
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/StateVariablesAdderTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesSubset.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LinkData.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/AbstractPowsyblTripleStore.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PropertyBag.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/PowsyblWriter.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, PR: ready-to-be-merged

#1155 Modify the sensitivity API to allow for post-contingency sensitivity analyses
  sensitivity-api/pom.xml
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputation.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationResults.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationTool.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/converter/CsvSensitivityComputationResultExporter.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/mock/SensitivityComputationFactoryMock.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationResultsTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationToolTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/converter/CsvSensitivityComputationResultExporterTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/mock/SensitivityComputationFactoryMockTest.java
  sensitivity-api/src/test/resources/contingency.json
  sensitivity-api/src/test/resources/resultsExport.json
  sensitivity-api/src/test/resources/sensitivity-results.csv
Labels: Feature, PR: ready-to-be-merged, Sensitivity

#1231 CGMES regulating controls: targetDeadband is optional
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
Labels: CGMES, PR: ready-to-be-merged

#1236 align isTransformer s logic to createBranches line and transformer de…
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
Labels: PR: ready-to-be-merged

#1222 Set rdp to 0 when R1+R2 = 0 in mergedXnode (resp. xdp)
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnode.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
Labels: PR: ready-to-be-merged, UCTE

#1223 add provider in ucte header file
  commons/src/test/java/com/powsybl/commons/AbstractConverterTest.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/resources/beTestGridForMerging.uct
  ucte/ucte-converter/src/test/resources/couplerToXnodeExample.uct
  ucte/ucte-converter/src/test/resources/elementName.uct
  ucte/ucte-converter/src/test/resources/expectedExport.uct
  ucte/ucte-converter/src/test/resources/frTestGridForMerging.uct
  ucte/ucte-converter/src/test/resources/germanTsos.uct
  ucte/ucte-converter/src/test/resources/id_duplication_test.uct
  ucte/ucte-converter/src/test/resources/testGridNoScientificNotation.uct
  ucte/ucte-converter/src/test/resources/uxTestGridForMerging.uct
Labels: PR: ready-to-be-merged, UCTE

#1215 Delete multi-files mode of XIIDM import/export
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/AbstractOptions.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/IidmImportExportMode.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportOptions.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/export/ExportOptionsTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportOptionsTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/AbstractXmlConverterTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/IdentifiableExtensionXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterLimitsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLReaderContextTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseExtensionsTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterBaseOneExtensionPerFileTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XmlExporterImporterBaseOneExtensionPerFileTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/multiple-extensions-ext.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_0/multiple-extensions-loadBar.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_0/multiple-extensions-loadFoo.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_0/multiple-extensions.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_1/multiple-extensions-ext.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_1/multiple-extensions-loadBar.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_1/multiple-extensions-loadFoo.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_1/multiple-extensions.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_2/multiple-extensions-ext.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_2/multiple-extensions-loadBar.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_2/multiple-extensions-loadFoo.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_2/multiple-extensions.xiidm
Labels: Breaking Change, Deprecated, PR: ready-to-be-merged, XIIDM

#1239 Merging view : Topology visitor adapter implementation & tests
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TopologyVisitorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusbarSectionAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: PR: ready-to-be-merged

#1235 Add UndirectedGraph.vertexExists(node) method + NodeBreakerView.getOptionalTerminal(node)
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
Labels: IIDM, PR: waiting-for-review

#1202 Introduction of non linear shunt compensators
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkReader.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorLinearModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorLinearModelAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorModelType.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorNonLinearModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensatorNonLinearModelAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractShuntCompensatorModel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorLinearModelImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorModelWrapper.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorNonLinearModelImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorLinearModelAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ShuntCompensatorNonLinearModelAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ShuntCompensatorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
  iidm/iidm-scripting/src/main/groovy/com/powsybl/iidm/network/scripting/ShuntCompensatorExtension.groovy
  iidm/iidm-scripting/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  iidm/iidm-scripting/src/test/groovy/com/powsybl/iidm/network/scripting/NetworkExtensionTest.groovy
  iidm/iidm-scripting/src/test/groovy/com/powsybl/iidm/network/scripting/ShuntCompensatorExtensionTest.groovy
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLccTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/EurostagTutorialExample1Factory.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/HvdcTestNetwork.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/ShuntTestCaseFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  loadflow/loadflow-results-completion/src/test/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletionZ0FlowsTest.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ShuntCompensatorsValidation.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/ShuntCompensatorsValidationTest.java
Labels: Breaking Change, IIDM, PR: ready-to-be-merged

#1245 Fix PR #1155 to avoid breaking change in the sensitivity results constructor
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationResults.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationResultsTest.java
Labels: PR: waiting-for-review, Sensitivity

#1241 Set rpd/xdp to 0.5 instead of 0 when R1, R2 or X1, X2 are equal to 0
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
Labels: PR: ready-to-be-merged, UCTE

#1246 Optimize performance SPARQL query "terminals"
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: waiting-for-review

#1237 Let Connectivity Nodes find Topological Node SvVoltage through Terminals
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: waiting-for-review

#1238 Change to CGMES import of SVC regulation
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/BE_BB_Complete_v2_off_svc_control/MicroGridTestConfiguration_T4_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: waiting-for-info-reviewer, PR: waiting-for-review

#1243 Identifiable.name is optional + introduce getOptionalName(), getNameOrId() + deprecate getName()
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogCreationRemovalTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-comparator/src/main/java/com/powsybl/iidm/comparator/NetworkStateComparator.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/SubstationAdapterTest.java
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/DefaultNetworkReducer.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractDanglingLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractHvdcLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractMergeNetworkTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSubstationTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTwoWindingsTransformerTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletion.java
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/z0flows/Z0FlowFromBusBalance.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/LimitViolationHelper.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/detectors/DefaultLimitViolationDetector.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
Labels: Deprecated, Doc needed, IIDM, PR: ready-to-be-merged
