Repository powsybl/powsybl-core, pull requests merged in 2020-08, with the labels that each got.

#1422 Allow creation of timeseries from BigDecimal
  time-series/time-series-api/src/main/groovy/com/powsybl/timeseries/CalculatedTimeSeriesDslLoader.groovy
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/CalculatedTimeSeriesTest.java
Labels: Time series

#1418 Add utility function to quickly jump to a XML path
  commons/src/main/java/com/powsybl/commons/xml/XmlUtil.java
  commons/src/test/java/com/powsybl/commons/xml/XmlUtilTest.java
Labels: PR: waiting-for-review

#1419 Add some javadoc to import API.
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportConfig.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportPostProcessor.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
Labels: Javadoc, PR: ready-to-be-merged

#1440 Use weakreference in listener cache
  commons/src/main/java/com/powsybl/commons/util/WeakListenerList.java
Labels: PR: ready-to-be-merged

#1337 Add an option to sort equipments in IIDM XML export
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/LineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/SubstationXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
Labels: PR: ready-to-be-merged, XIIDM

#1449 Change Map implementation used in UCTE import
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
Labels: PR: waiting-for-review, UCTE, bug

#1448 Make LoadDetail extension multi variant
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/extensions/LoadDetail.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailImpl.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/LoadDetailTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailImpl.java
Labels: IIDM, PR: ready-to-be-merged, extensions

#1450 Correct bugs in MergingView: getDanglingLine(String id) if there is no dangling line with the given id in the sub-networks + getVariantManager() returns a VariantManager instead of the (private-package) MergingVariantManager
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
Labels: MergingView, PR: waiting-for-review, bug

#1452 Implement TopologyTraverserAdapter to traverse mergingview from TerminalAdapter
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TerminalAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TopologyTraverserAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TopologyTraverserAdapterTest.java
Labels: MergingView, PR: corrected, PR: waiting-for-review
