Repository powsybl/powsybl-core, pull requests merged in 2020-01, with the labels that each got.

#1076 Fixes #1035 Scientific notation in UCTE exporter
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/resources/testGridNoScientificNotation.uct
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteRecordWriter.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/io/UcteRecordWriterTest.java
Labels: PR: ready-to-be-merged, PR: waiting-for-info-reviewer, UCTE, bug

#1100 add create method to cgmes factory
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessor.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreFactory.java
Labels: CGMES, PR: ready-to-be-merged

#1095 CGMES HVDC converters: fix concurrent modification
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_missing_DCLineSegment/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_missing_DCLineSegment/SmallGridTestConfiguration_HVDC_TP_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#1078 Merging view : refactor Leg, LegAdder & StepAdder adapters implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LegAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LegAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/PhaseTapChangerStepAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/RatioTapChangerStepAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1071 Merging view : refactoring Network.BusView & Network.BusBreakerView
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NetworkBusBreakerViewAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NetworkBusViewAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1103 CGMES current limits terminal2
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
Labels: CGMES, PR: waiting-for-review, bug

#1098 Cgmes update simple update chlog index
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/Changelog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChange.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogCreationRemovalTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogUpdateTest.java
Labels: CGMES, PR: waiting-for-correction

#1066 TwoWindings and ThreeWindings new Cgmes conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesRatioTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesT2xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesT3xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ConvertedT2xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ConvertedT3xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/InterpretedT2xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/InterpretedT3xModel.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/NewThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/NewTwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChanger.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChangerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TransformerConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Differences.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/DifferencesFail.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/DifferencesReport.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/BranchData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/TwtTestData.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletion.java
  loadflow/loadflow-results-completion/src/test/java/com/powsybl/loadflow/resultscompletion/AbstractLoadFlowResultsCompletionTest.java
  loadflow/loadflow-validation/pom.xml
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/FlowsValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/Transformers3WValidation.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/AbstractValidationFormatterWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvWriter.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/io/ValidationWriter.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/AbstractValidationFormatterWriterTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvMultilineWriterTest.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/io/ValidationFormatterCsvWriterTest.java
Labels: CGMES, PR: ready-to-be-merged

#1112 fromContinuous method rounds value (from SSH or SV) in CGMES import
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractObjectConversion.java
Labels: CGMES, PR: waiting-for-review, bug

#1120 Update jackson-databind version
  pom.xml
Labels: PR: ready-to-be-merged, dependencies

#1079 Merging view : HvdcLine adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractHvdcConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HvdcLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HvdcLineAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LccConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/HvdcLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: IIDM, PR: ready-to-be-merged

#1127 AbstractExtension, log the correct extandable in throw when reassigni…
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtension.java
Labels: PR: ready-to-be-merged, bug

#1123 Merging view : DanglingLine adapter implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdderAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
Labels: PR: ready-to-be-merged

#1108 Fix a bug in ProportionalScalable that prevent reusing an iterative proportional scalable twice.
  action/action-util/src/main/java/com/powsybl/action/util/ProportionalScalable.java
  action/action-util/src/test/java/com/powsybl/action/util/ScalableTest.java
Labels: Action DSL, PR: ready-to-be-merged, bug

#1091 Merging view : variant manager implementation
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingVariantManager.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MultiVariantMergingViewTest.java
Labels: IIDM, PR: ready-to-be-merged

#1111 Fix some issues in merged XNodes export
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/test/resources/beTestGridForMerging.uct
  ucte/ucte-converter/src/test/resources/couplerToXnodeExample.uct
  ucte/ucte-converter/src/test/resources/expectedExport.uct
  ucte/ucte-converter/src/test/resources/frTestGridForMerging.uct
  ucte/ucte-converter/src/test/resources/uxTestGridForMerging.uct
Labels: IIDM, PR: ready-to-be-merged, UCTE, bug

#1110 Branch, TwoWindingsTransformer and ThreeWindingsTransformer flows depending on connected ends
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf-solved.xiidm
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/BranchData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LinkData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/BranchDataTest.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/TwtDataTest.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/TwtTestData.java
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletion.java
Labels: IIDM, Loadflow validation, PR: ready-to-be-merged

#1128 update to match the new UCTE format on order codes
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteElementId.java
Labels: PR: ready-to-be-merged, UCTE

#1109 Fix UCTE exporter in case of line and 2WT ID duplication
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeFileName.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/resources/id_duplication_test.uct
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteElementId.java
Labels: PR: ready-to-be-merged, UCTE, bug

#1132 Cgmes conversion. Define structural ratio in Lines as needed.
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/BranchData.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/BranchDataTest.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/BranchTestData.java
Labels: IIDM, Loadflow validation, PR: ready-to-be-merged

#1133 Generating test-jar in iidm-xml-converter + make AbstractXmlConverterTest public
  iidm/iidm-xml-converter/pom.xml
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/AbstractXmlConverterTest.java
Labels: PR: ready-to-be-merged, Test, XIIDM

#1124 Allow remote control for SVC during CGMES import + clean up
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesRatioTapChangerBuilder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
Labels: CGMES, PR: ready-to-be-merged

#1137 Cgmes conversion: make visible the method z0checker
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/LoadFlowResultsCompletion.java
Labels: Action DSL, PR: ready-to-be-merged

#1129 Allow to write IIDM-XML files in previous versions
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractIdentifiableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractNetworkXmlContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/IidmXmlConstants.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/IidmXmlVersion.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/LineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXmlReaderContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXmlWriterContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NodeBreakerViewInternalConnectionXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/PropertiesXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ReactiveLimitsXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/StaticVarCompensatorXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TerminalRefXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/AbstractXmlConverterTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/IdentifiableExtensionXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/StaticVarCompensatorXmlTest.java
Labels: Deprecated, Doc needed, PR: waiting-for-review, XIIDM
