Repository powsybl/powsybl-core, pull requests merged in 2020-04, with the labels that each got.

#1252 remove empty line to avoid checkstyle error
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationResults.java
Labels: PR: ready-to-be-merged

#1233 Add nodeBreakerView.hasAttachedEquipment(node) method + Ensure an IIDM node number is valid before trying to use it in CGMES conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
Labels: CGMES, IIDM, PR: ready-to-be-merged, bug

#1249 Issue 1083 ucte internal equivalent nodes
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/resources/expectedExport.uct
Labels: PR: ready-to-be-merged, UCTE

#1251 Regulating controls: terminal topological node can be obtained through connectivity node
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesTerminal.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1257 Revert "Change the design of the SecurityAnalysisResultBuilder (#1207)"
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResultBuilder.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultBuilderTest.java
Labels: PR: waiting-for-review

#1259 Fix NullPointerException when removing a voltage level with internal …
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerInternalConnectionsTest.java
Labels: PR: waiting-for-review, bug

#1232 Create convenient methods to run through connectables from network
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkTest.java
Labels: IIDM, PR: ready-to-be-merged

#1255 Migration IIDM extensions to new extension API on CoordinatedReactiveControl
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlAdderImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlAdderImplProvider.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlXmlSerializer.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlXmlTest.java
Labels: Breaking Change, IIDM, PR: ready-to-be-merged

#1264 Performances - tabulate logs using a StringBuilder instead of concat()
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PropertyBag.java
Labels: CGMES, PR: ready-to-be-merged, Performance

#1247 Improve security analysis interceptor
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResultBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/CurrentLimitViolationInterceptor.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/DefaultSecurityAnalysisInterceptor.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/DefaultSecurityAnalysisResultContext.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/RunningContext.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/SecurityAnalysisInterceptor.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/interceptors/SecurityAnalysisResultContext.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultBuilderTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/interceptors/SecurityAnalysisInterceptorMock.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/interceptors/SecurityAnalysisInterceptorTest.java
Labels: Breaking Change, Doc needed, PR: do-not-merge, PR: ready-to-be-merged, Security Analysis

#1273 Remove the hupper bound for Hvdc converter station lossFactor
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
Labels: IIDM

#1261 Add sub-network reduction predicate
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/SubNetworkPredicate.java
  iidm/iidm-reducer/src/test/java/com/powsybl/iidm/reducer/SubNetworkPredicateTest.java
Labels: Doc needed, IIDM, PR: ready-to-be-merged

#1230 Cgmes conversion hvdc
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_missing_acDcConverters/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_missing_acDcConverters/SmallGridTestConfiguration_HVDC_TP_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_oneDcLineSegment/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_oneDcLineSegment/SmallGridTestConfiguration_HVDC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_oneDcLineSegment/SmallGridTestConfiguration_HVDC_SV_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_oneDcLineSegment/SmallGridTestConfiguration_HVDC_TP_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_two_DCLineSegments/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_two_DCLineSegments/SmallGridTestConfiguration_HVDC_TP_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/DcMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterNodes.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Adjacency.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Hvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandEndHvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Islands.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandsEnds.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/LossFactor.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/TPnodeEquipments.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  cgmes/cgmes-conversion/src/test/resources/logback-test.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesDcTerminal.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged, PR: waiting-for-info-general

#1248 Enable the configuration YML to be updated by a JSON file
  commons/src/main/java/com/powsybl/commons/extensions/Extendable.java
  commons/src/main/java/com/powsybl/commons/extensions/Extension.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionJsonSerializer.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionProviders.java
  commons/src/main/java/com/powsybl/commons/json/JsonUtil.java
  commons/src/test/java/com/powsybl/commons/extensions/BarExtSerializer.java
  commons/src/test/java/com/powsybl/commons/extensions/ExtensionTest.java
  commons/src/test/java/com/powsybl/commons/extensions/FooDeserializer.java
  commons/src/test/java/com/powsybl/commons/extensions/FooExt.java
  commons/src/test/java/com/powsybl/commons/extensions/FooExtSerializer.java
  commons/src/test/resources/extensionsUpdate.json
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VoltageLevelAdapter.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/JsonLoadFlowParameters.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowParametersDeserializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/tools/RunLoadFlowTool.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowParametersTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/JsonLoadFlowParametersTest.java
  loadflow/loadflow-api/src/test/resources/LoadFlowParametersUpdate.json
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/JsonSecurityAnalysisParameters.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisParametersDeserializer.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/JsonSecurityAnalysisParametersTest.java
  security-analysis/security-analysis-api/src/test/resources/SecurityAnalysisParametersExtensionUpdate.json
  sensitivity-api/src/test/java/com/powsybl/sensitivity/json/JsonSensitivityComputationParametersTest.java
Labels: Breaking Change, Configuration, PR: ready-to-be-merged, bug

#1275 Lossfactor is a percentage
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/LossFactor.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
Labels: CGMES, PR: ready-to-be-merged

#1274 add synchronousComponentNumber to ignored attribute list
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/Changelog.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1269 Add contingency extendable DSL extension
  contingency/contingency-dsl/src/main/groovy/com/powsybl/contingency/dsl/ContingencyDslLoader.groovy
  contingency/contingency-dsl/src/main/java/com/powsybl/contingency/dsl/ContingencyDslExtension.java
  contingency/contingency-dsl/src/test/groovy/com/powsybl/contingency/dsl/ProbabilityContingencyDslExtension.groovy
  contingency/contingency-dsl/src/test/java/com/powsybl/contingency/dsl/GroovyDslContingenciesProviderTest.java
  contingency/contingency-dsl/src/test/java/com/powsybl/contingency/dsl/ProbabilityContingencyExtension.java
  dsl/src/main/java/com/powsybl/dsl/ExtendableDslExtension.java
Labels: PR: ready-to-be-merged

#1278 Update powsybl-math-native to v1.0.2
  pom.xml
Labels: PR: ready-to-be-merged, dependencies

#1279 Make setters in ReductionOptions public
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/ReductionOptions.java
Labels: PR: ready-to-be-merged

#1281 Delete an obsolete warning concerning XIIDM export modes
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
Labels: PR: ready-to-be-merged, Quality

#1280 Modifiy unit tests with a more realistic value of loss factor.
  ampl-converter/src/test/resources/inputs/lcc-test-case.txt
  ampl-converter/src/test/resources/inputs/vsc-test-case.txt
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLccTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractVscTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/HvdcTestNetwork.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/LccRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/VscRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/LccRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/VscRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/LccRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/VscRoundTripRef.xml
Labels: Breaking Change, PR: ready-to-be-merged, Test

#1266 [PERF] Context logs : postpone String building and check log level
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractReactiveLimitsOwnerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SvInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChangerConversion.java
  cgmes/cgmes-conversion/src/test/resources/logback-test.xml
Labels: CGMES, PR: waiting-for-review, Performance

#1283 Update notifications should not throw an exception
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmToCgmes.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesUpdateUnsupportedTest.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1284 Fix EntsoeFileName to parse IDCF
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeFileName.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/EntsoeFileNameTest.java
Labels: PR: ready-to-be-merged, UCTE, bug

#1286 Upgrade snakeyaml to 1.26 to fix a NullPointerException
  pom.xml
Labels: PR: ready-to-be-merged, bug

#1291 Fix conductingEquipmentTerminal is overwritten
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1294 Remove Groovy script from loadflow validation tool
  loadflow/loadflow-validation/pom.xml
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ValidationTool.java
Labels: Doc needed, PR: ready-to-be-merged, PR: waiting-for-info-author

#1292 Check on qPercent is deleted to prevent regression in CGMES import
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlImpl.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/CoordinatedReactiveControlTest.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1295 Fix: when CGMES regulating control is disabled, SVC local regulation is disabled if voltage
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
Labels: CGMES, PR: waiting-for-review, bug
