Repository powsybl/powsybl-core, pull requests merged in 2020-10, with the labels that each got.

#1498 Rename PSSE option to fit powsybl standards
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged, PSS/E

#1494 Deplace LoadDetailXmlSerializer in iidm-xml-converter
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/LoadDetailXmlTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/extensions/LoadDetailTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LoadDetailXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/loadDetail.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/LoadDetailXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_2/loadDetailRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/loadDetailRef.xml
Labels: Breaking Change, Doc needed, IIDM, Quality, extensions

#1504 Move tests for LoadDetail and SlackTerminal in the TCK
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/LoadDetailTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/SlackTerminalTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractLoadDetailTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractSlackTerminalTest.java
Labels: IIDM, PR: ready-to-be-merged, Refactoring

#1497 LoadFlowResult 1.1
  loadflow/loadflow-api/pom.xml
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResult.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResultImpl.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultDeserializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultSerializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/tools/RunLoadFlowTool.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/LoadFlowResultJsonTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/tools/RunLoadFlowToolTest.java
  loadflow/loadflow-api/src/test/resources/LoadFlowResultResult.txt
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion10.json
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion10Error.json
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion11.json
Labels: Doc needed, PR: ready-to-be-merged

#1512 Fix bug: AbstractTerminalTopologyVisitor now also visits connected terminals of BusbarSections
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractTerminalTopologyVisitor.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1509 CGMES : fix unit test for operational limits on node-breaker
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#1506 check before adding that a contingency has no duplicate in actionDB
  action/action-dsl/pom.xml
  action/action-dsl/src/main/java/com/powsybl/action/dsl/ActionDb.java
  action/action-dsl/src/test/java/com/powsybl/action/dsl/ActionDbTest.java
Labels: PR: ready-to-be-merged, PR: waiting-for-info-author

#1511 Finish ExecutionReport implementation to get std out/err stream
  computation-local/src/main/java/com/powsybl/computation/local/LocalComputationManager.java
  computation/src/main/java/com/powsybl/computation/DefaultExecutionReport.java
  computation/src/test/java/com/powsybl/computation/DefaultExecutionReportTest.java
  security-analysis-api/src/test/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandlersTest.java
Labels: Breaking Change, Computation, PR: next-release, PR: ready-to-be-merged

#1505 Allow itools.bat to be run several time in the same cmd.exe
  itools-packager/src/main/resources/itools.bat
Labels: PR: ready-to-be-merged, bug, iTools

#1486 [iAL] fix encoding
  action/action-dsl/src/main/java/com/powsybl/action/dsl/ast/ActionExpressionPrinter.java
  action/action-dsl/src/test/java/com/powsybl/action/dsl/ast/ActionExpressionPrinterTest.java
  dsl/src/main/java/com/powsybl/dsl/ast/ExpressionPrinter.java
Labels: Action DSL, PR: ready-to-be-merged

#1514 consider network's extensions during AMPL export
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplSubset.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplUtil.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkWriterTest.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplUtilTest.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/FooNetworkExtension.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/FooNetworkExtensionWriter.java
  ampl-converter/src/test/resources/inputs/foo-network-extension.txt
Labels: AMPL, PR: ready-to-be-merged, bug, extensions

#1496 [IIDM] Allow to reuse DanglingLineAdder twice
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractDanglingLineTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1501 [IIDM] Allow to reuse ThreeWindingsTransformerAdder twice
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
Labels: IIDM, PR: waiting-for-review, bug

#1424 CGMES rdf4j update
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  pom.xml
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/PowsyblWriter.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, Performance

#1516 Add a requireNonNull to ensure the extension XML serializer is not null when writeExtension() is called
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
Labels: PR: corrected, PR: ready-to-be-merged, XIIDM, bug

#1518 Accept DL limit cases in merging view (Merged line composed of two Dangling lines with same ID + non merged DL with null UcteXnodeCode)
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ValidationUtil.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
Labels: MergingView, PR: ready-to-be-merged

#1521 Fix bug in LineAdderAdapter (node1 used to be set twice)
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/LineAdderAdapter.java
Labels: MergingView, PR: ready-to-be-merged, bug

#1502 [IIDM] Allow to reuse ShuntCompensatorAdder twice
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractShuntCompensatorModel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorModelWrapper.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorNonLinearModelImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1500 CGMES conversion performance improvement: avoid duplicated queries
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_internal_line_z0/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES
