Repository powsybl/powsybl-core, pull requests merged in 2020-11, with the labels that each got.

#1520 Correct the message exception when adding an equipment with an existing ID in a merging view: the class of the existing object is returned, not the adder class
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
Labels: MergingView, PR: corrected, PR: waiting-for-review, bug

#1332 Cgmes conversion join voltage levels connected by switches
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_joinVoltageLevelSwitch/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_joinVoltageLevelTx/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/SubstationIdMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/VoltageLevelConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/JoinVoltageLevelTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#1529 add possibility to run sensitivity analysis whithout contengencies
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysis.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityAnalysisTest.java
Labels: Breaking Change, PR: ready-to-be-merged

#1517 Create LoadFlowResultJsonModule
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultDeserializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultJsonModule.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultSerializer.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/LoadFlowResultJsonTest.java
Labels: LoadFlow, PR: ready-to-be-merged

#1495 IIDM validation in 3w leg adder: substation id in the error message
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
Labels: PR: ready-to-be-merged

#1460 Psse parser by field
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseArea.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseBus.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseCaseIdentification.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseContext.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseFixedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseGenerator.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseLoad.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseNonTransformerBranch.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseOwner.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseRawReader.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseSwitchedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseTransformer.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/PsseZone.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawReaderTest.java
  psse/psse-model/src/test/resources/IEEE_14_bus.json
Labels: PSS/E

#1507 [IIDM] Allow to reuse TieLineAdder twice
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TieLineAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineImpl.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TieLineAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractConnectedComponentWithTieLineBugTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
Labels: Breaking Change, IIDM, PR: ready-to-be-merged, bug

#1535 Allows to log error rather than throwing exceptions when there is an IIDM-XML version incompatibility during export
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/DanglingLineXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/IidmXmlUtilTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/ShuntCompensatorXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/danglingLineWithGeneration.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/nonLinearShuntRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/danglingLineWithGeneration.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/nonLinearShuntRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/danglingLineWithGeneration.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/nonLinearShuntRoundTripRef.xml
Labels: Doc needed, IIDM, PR: ready-to-be-merged, XIIDM

#1542 CgmesOnDataSource.exists(): check that we have an EQ profile
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/StateVariablesExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/CgmesOnDataSourceTest.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesCatalog.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesTest.java
  cgmes/cgmes-model/src/test/resources/empty_cim14_EQ.xml
  cgmes/cgmes-model/src/test/resources/empty_cim14_SV.xml
  cgmes/cgmes-model/src/test/resources/empty_cim16_EQ.xml
  cgmes/cgmes-model/src/test/resources/empty_cim16_SV.xml
  cgmes/cgmes-model/src/test/resources/validCim14InvalidContent_EQ.xml
  cgmes/cgmes-model/src/test/resources/validCim16InvalidContent_EQ.xml
Labels: CGMES, PR: corrected, PR: ready-to-be-merged, bug

#1508 Add possibility to ensure alias unicity
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractIdentifiedObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/BusbarSectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/VoltageLevelConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/AliasesTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/GeneratorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/tck/AliasesTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractAliasesTest.java
Labels: Breaking Change, CGMES, IIDM, PR: next-release, PR: waiting-for-review

#1552 Change the way DanglingLine::Generation is created
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
Labels: IIDM, PR: ready-to-be-merged, Refactoring
