Repository powsybl/powsybl-core, pull requests merged in 2020-12, with the labels that each got.

#1550 Following PR#925
  action/action-dsl/src/test/java/com/powsybl/action/dsl/ActionDbTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/GeneratorContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/ShuntCompensatorContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/StaticVarCompensatorContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/json/ContingencyJsonTest.java
  security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisTest.java
  security-analysis-api/src/test/java/com/powsybl/security/converter/ExporterTest.java
  security-analysis-api/src/test/java/com/powsybl/security/detectors/LimitViolationDetectorTest.java
Labels: Feature, PR: ready-to-be-merged

#1553 sensitivity-analysis-api - Use List<Contingency> instead of ContingenciesProvider
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysis.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisProvider.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisTool.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityAnalysisTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/mocks/SensitivityAnalysisProviderMock.java
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged, Sensitivity

#1554 tap changer is regulating if both control is enabled and tap changer is control-enabled
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_rtc_ptc_disabled_in_ssh_data/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_T3x_two_regulatingControls_enabled/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#1547 Fix regulating equipment control enabled (generators)
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_external_injection_control/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_external_injection_control/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged, bug

#1556 Contingency.setId removed, Contingency.addElement/removeElement added…
  contingency/contingency-api/src/main/java/com/powsybl/contingency/Contingency.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/ContingencyList.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/ContingencyTest.java
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged

#1563 Always write model description dates referred to UTC
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/StateVariablesExport.java
Labels: CGMES, PR: ready-to-be-merged

#1485 Prepare for integration: CGMES SSH export using only Network data
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_hidden_tc/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_hidden_tc/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_shared_regulating_control/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_shared_regulating_control/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChanger.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadata.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataXmlSerializer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/resources/xsd/cgmesSshMetadata.xsd
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/extensions/CgmesSshMetadataXmlSerializerTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportAlternativesTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/Repackager.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesAdderTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/resources/extensions/eurostag_cgmes_ssh_control_areas.xml
  cgmes/cgmes-conversion/src/test/resources/extensions/eurostag_cgmes_ssh_metadata.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#1568 Revert DanglingLine generation creation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
Labels: PR: ready-to-be-merged

#1562 Improve ShuntCompensatorAdder implementation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractShuntCompensatorModel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorLinearModelImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorModelExt.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorNonLinearModelImpl.java
Labels: IIDM, PR: waiting-for-review, Refactoring

#1571 Add missing automatic module name
  ieee-cdf/ieee-cdf-converter/pom.xml
  ieee-cdf/ieee-cdf-model/pom.xml
  iidm/iidm-comparator/pom.xml
  ucte/ucte-util/pom.xml
Labels: PR: ready-to-be-merged, bug

#1559 Do not create DanglingLine.Generation during CGMES import if there is no explicit value
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
Labels: CGMES, PR: waiting-for-review

#1575 Remove IIDM util module
  distribution-core/pom.xml
  ieee-cdf/ieee-cdf-converter/pom.xml
  iidm/iidm-api/pom.xml
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/ContainersMapping.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/NodeBreakerTopology.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/util/NodeBreakerTopologyTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/util/AbstractNodeBreakerTopologyTest.java
  iidm/iidm-util/pom.xml
  iidm/pom.xml
  matpower/matpower-converter/pom.xml
  psse/psse-converter/pom.xml
Labels: Breaking Change, Doc needed, Refactoring

#1546 Addition of the sort parameter in the xml export options
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/export/ExportOptionsTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/PropertiesXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
Labels: Doc needed, Feature, PR: ready-to-be-merged, XIIDM

#1577 Clean LoadScalable and GeneratorScalable implementation to avoid internal call to minimumValue and maximumValue without scaling convention.
  action/action-util/src/main/java/com/powsybl/action/util/GeneratorScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/LoadScalable.java
Labels: PR: ready-to-be-merged

#1570 SensitivityFactorsProvider API addition
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/JsonSensitivityFactorsProvider.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityFactorsProvider.java
Labels: Feature, PR: ready-to-be-merged, Sensitivity

#1560 Deprecate useless extension writer in XmlWriterContext
  commons/src/main/java/com/powsybl/commons/xml/XmlWriterContext.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeAreaXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/XnodeXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXmlWriterContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ActivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/CoordinatedReactiveControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LoadDetailXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/VoltagePerReactivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/LoadZipModelXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/TerminalMockXmlSerializer.java
Labels: Deprecated, PR: ready-to-be-merged, XIIDM

#1572 Add Up-Down scalable in Action util
  action/action-util/src/main/java/com/powsybl/action/util/Scalable.java
  action/action-util/src/main/java/com/powsybl/action/util/UpDownScalable.java
  action/action-util/src/test/java/com/powsybl/action/util/UpDownScalableTest.java
Labels: PR: ready-to-be-merged

#1566 UCTE export: ignore fictitious YNodes introduced for transformers at boundary
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/xNodeTransformer.uct
Labels: UCTE

#1574 [UcteImporter] Throw a specific error when a node is not found
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteException.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNetworkImpl.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNetworkImplTest.java
Labels: UCTE, bug

#1582 Kosovo
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeGeographicalCode.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/EntsoeGeographicalCodeTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Country.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/KosovoTest.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteCountryCode.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteCountryCodeTest.java
Labels: PR: waiting-for-review, UCTE

#1581 Use univocity parser instead of supercsv
  commons/pom.xml
  commons/src/main/java/com/powsybl/commons/io/MathUtil.java
  commons/src/main/java/com/powsybl/commons/util/StringAnonymizer.java
  commons/src/test/java/com/powsybl/commons/util/StringAnonymizerTest.java
  pom.xml
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeries.java
Labels: Breaking Change, PR: ready-to-be-merged, PR: waiting-for-info-author, dependencies
