Repository powsybl/powsybl-core, pull requests merged in 2020-05, with the labels that each got.

#1270 Issue 890 ucte power plant type management
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/util/UcteConstants.java
  ucte/ucte-converter/src/test/resources/expectedExport.uct
Labels: PR: waiting-for-review, UCTE

#1303 Remove useless RDF4j dependencies
  pom.xml
  triple-store/triple-store-impl-rdf4j/pom.xml
Labels: PR: ready-to-be-merged, Quality

#1272 Issue 1206 two windings transformer phase angle clock
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClock.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockAdderImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockAdderImplProvider.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializerTest.java
Labels: IIDM, PR: ready-to-be-merged

#1304 IEEE: fix generator active power limits default value
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee118cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf-solved.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee300cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee30cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee57cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
Labels: IEEE, bug

#1305 Extendable: move newExtension from AbstractExtendable to default Exte…
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtendable.java
  commons/src/main/java/com/powsybl/commons/extensions/Extendable.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
Labels: PR: ready-to-be-merged

#1301 Add method to write a unique subset
  cgmes/cgmes-model-alternatives/src/test/java/com/powsybl/cgmes/alternatives/test/TripleStoreWriteTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStore.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, PR: ready-to-be-merged

#1296 Consider only .xml files that contain valid namespaces (RDF, CIM)
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesCatalog.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/cim14/Cim14SmallCasesTest.java
  cgmes/cgmes-model/src/test/resources/invalidContent_EQ.notxml
  cgmes/cgmes-model/src/test/resources/invalidContent_EQ.xml
  cgmes/cgmes-model/src/test/resources/validCimInvalidContent_EQ.xml
  cgmes/cgmes-model/src/test/resources/validRdfInvalidContent_EQ.xml
Labels: CGMES, PR: ready-to-be-merged

#1302 allowing to use json to update the configuration for sensitivity comp…
  sensitivity-api/src/main/java/com/powsybl/sensitivity/SensitivityComputationTool.java
  sensitivity-api/src/main/java/com/powsybl/sensitivity/json/SensitivityComputationParametersDeserializer.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/SensitivityComputationToolTest.java
  sensitivity-api/src/test/java/com/powsybl/sensitivity/json/JsonSensitivityComputationParametersTest.java
  sensitivity-api/src/test/resources/SensitivityComputationParametersExtensionUpdate.json
Labels: PR: ready-to-be-merged, Sensitivity

#1314 Cgmes Conversion: add PhaseAngleClock as a postprocessor
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_T2xPhaseAngleClock1NonZero/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_T3xAllPhaseAngleClockNonZero/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/BusBranch/BaseCase_v3_phaseAngleClockZero/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/PhaseAngleClock.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TransformerConversionTest.java
Labels: CGMES, PR: waiting-for-review

#1306 Cgmes conversion . Add phaseTapChangerLinear
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/BE_BB_PhaseTapChangerLinear/MicroGridTestConfiguration_T4_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/BE_BB_PhaseTapChangerLinear/MicroGridTestConfiguration_T4_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#1324 Fix ImporterWrapper implementation
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/TestImporter.java
Labels: PR: ready-to-be-merged, bug

#1323 Bug fix in SecurityAnalysisImpl: no error anymore when contingency list empty
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisTest.java
Labels: PR: ready-to-be-merged, Security Analysis, bug

#1328 Update mockito version to 3.3.3.
  action/action-dsl/pom.xml
  action/action-simulator/pom.xml
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-model/pom.xml
  computation-local/pom.xml
  computation/pom.xml
  contingency/contingency-api/pom.xml
  dynamic-simulation/dynamic-simulation-api/pom.xml
  entsoe-util/pom.xml
  iidm/iidm-api/pom.xml
  iidm/iidm-converter-api/pom.xml
  iidm/iidm-impl/pom.xml
  iidm/iidm-mergingview/pom.xml
  iidm/iidm-scripting/pom.xml
  iidm/iidm-tck/pom.xml
  iidm/iidm-xml-converter/pom.xml
  loadflow/loadflow-api/pom.xml
  loadflow/loadflow-results-completion/pom.xml
  loadflow/loadflow-scripting/pom.xml
  loadflow/loadflow-validation/pom.xml
  math/pom.xml
  pom.xml
  scripting/pom.xml
  security-analysis/security-analysis-api/pom.xml
  sensitivity-api/pom.xml
  time-series/time-series-api/pom.xml
  tools/pom.xml
Labels: PR: ready-to-be-merged

#1320 Cgmes Conversion: Delete Old Transformer Conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/PhaseTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/RatioTapChangerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
Labels: CGMES

#1321 New extension "VoltagePerReactivePowerControl" for StaticVarCompensator
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlAdderImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlAdderImplProvider.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlImpl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlXmlSerializer.java
  iidm/iidm-extensions/src/main/resources/xsd/voltagePerReactivePowerControl.xsd
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlTest.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControlXmlSerializerTest.java
  iidm/iidm-extensions/src/test/resources/voltagePerReactivePowerControl.xml
Labels: IIDM, PR: ready-to-be-merged, XIIDM
