Repository powsybl/powsybl-core, pull requests merged in 2021-12, with the labels that each got.

#1917 Replace CGMES tap changers properties by extensions
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChanger.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangerAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangerAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangerImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangers.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesTapChangers.xsd
Labels: CGMES, Breaking Change, PR: waiting-for-review

#1921 Make CIM namespace detection more specific in order not to select an incorrect namespace
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
Labels: CGMES, PR: waiting-for-review

#1897 Add methods to get neutral position and step in tap changers
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTapChangerTest.java
Labels: IIDM

#1914 Clarify SV import for terminal values in switches and dangling lines.
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
Labels: CGMES

#1922 Add active and reactive typed value constants for reporter
  commons/src/main/java/com/powsybl/commons/reporter/TypedValue.java
Labels: PR: ready-to-be-merged

#1926 Fix IIDM bus/breaker switch anonymizer
  iidm/iidm-xml-converter/pom.xml
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VoltageLevelXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/BusBreakerAnonymiserBugTest.java
Labels: bug, PR: ready-to-be-merged

#1868 Complete the export of the ACDC converters
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/HvdcConverterStationEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
Labels: PR: ready-to-be-merged

#1925 Make ipMin optional (shortcircuits)
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/IdentifiableShortCircuitAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/IdentifiableShortCircuitImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/IdentifiableShortCircuitTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/IdentifiableShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/identifiableShortCircuit.xsd
Labels: PR: ready-to-be-merged, extensions, Shortcircuits

#1907 Add reporter on postprocessor
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportPostProcessor.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportPostProcessorMock.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/PostProcessorReporterTest.java
  iidm/iidm-converter-api/src/test/resources/postProcessorReporterTest.json
Labels: PR: ready-to-be-merged, Log

#1923 Add generator entsoe category extension
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/GeneratorEntsoeCategory.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/GeneratorEntsoeCategoryAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorEntsoeCategoryAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorEntsoeCategoryAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorEntsoeCategoryImpl.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorEntsoeCategoryXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/generatorEntsoeCategory.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorEntsoeCategoryXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_6/generatorEntsoeCategoryRef.xml
Labels: PR: ready-to-be-merged, extensions

#1918 Add network groovy tests to prevent breaking changes
  iidm/iidm-scripting/pom.xml
  iidm/iidm-scripting/src/test/java/com/powsybl/iidm/network/scripting/GroovyScriptPostProcessorTest.java
  iidm/iidm-scripting/src/test/resources/script-eurostag.groovy
  iidm/iidm-scripting/src/test/resources/script-four-substations.groovy
Labels: PR: ready-to-be-merged

#1812 CGMES identifiers mapping
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractIdentifiedObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterNodes.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Adjacency.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/NodeEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMapping.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesIidmMapping.xsd
Labels: Doc needed, CGMES, Breaking Change, PR: ready-to-be-merged
