Repository powsybl/powsybl-core, pull requests merged in 2021-06, with the labels that each got.

#1745 Add flows of merged tie lines in SV export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportAlternativesTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
Labels: CGMES, PR: ready-to-be-merged

#1751 Fix vulnerability: disable access to external entities in XML parsing [CWE-611][CWE-827]
  cgmes/cgmes-conversion/pom.xml
  commons/src/main/java/com/powsybl/commons/config/XmlModuleConfigRepository.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
Labels: PR: waiting-for-review, vulnerability

#1748 New limit violation types
  action/action-dsl/src/main/java/com/powsybl/action/dsl/ast/ActionExpressionEvaluator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Branch.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LimitViolationUtils.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBranch.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCurrentLimitsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/EurostagTutorialExample1Factory.java
  security-analysis-api/src/main/java/com/powsybl/security/AbstractSecurityAnalysis.java
  security-analysis-api/src/main/java/com/powsybl/security/LimitViolation.java
  security-analysis-api/src/main/java/com/powsybl/security/LimitViolationBuilder.java
  security-analysis-api/src/main/java/com/powsybl/security/LimitViolationDetector.java
  security-analysis-api/src/main/java/com/powsybl/security/LimitViolationType.java
  security-analysis-api/src/main/java/com/powsybl/security/LimitViolations.java
  security-analysis-api/src/main/java/com/powsybl/security/Security.java
  security-analysis-api/src/main/java/com/powsybl/security/comparator/LimitViolationComparator.java
  security-analysis-api/src/main/java/com/powsybl/security/detectors/AbstractLimitViolationDetector.java
  security-analysis-api/src/main/java/com/powsybl/security/detectors/DefaultLimitViolationDetector.java
  security-analysis-api/src/main/java/com/powsybl/security/detectors/LoadingLimitType.java
  security-analysis-api/src/test/java/com/powsybl/security/LimitViolationBuilderTest.java
  security-analysis-api/src/test/java/com/powsybl/security/LimitViolationFilterTest.java
  security-analysis-api/src/test/java/com/powsybl/security/comparator/LimitViolationComparatorTest.java
  security-analysis-api/src/test/java/com/powsybl/security/comparator/LimitViolationEquivalenceTest.java
  security-analysis-api/src/test/java/com/powsybl/security/converter/ExporterTest.java
  security-analysis-api/src/test/java/com/powsybl/security/detectors/DefaultLimitViolationDetectorTest.java
  security-analysis-api/src/test/java/com/powsybl/security/detectors/LimitViolationDetectorTest.java
  security-analysis-api/src/test/resources/SecurityAnalysisResult.json
Labels: PR: ready-to-be-merged

#1743 SV. Javadoc. Add svg of generic branch model
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SV.java
  iidm/iidm-api/src/main/javadoc/com/powsybl/iidm/network/util/doc-files/SV.svg
Labels: Javadoc

#1758 Small fixes in operational limits implementation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractLoadingLimits.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractLoadingLimitsAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ActivePowerLimitsImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ApparentPowerLimitsImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CurrentLimitsImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsHolderImpl.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/LineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
Labels: IIDM, XIIDM

#1752 Add constant power factor scaling on loads
  action/action-util/src/main/java/com/powsybl/action/util/LoadScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/ProportionalScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/Scalable.java
  action/action-util/src/test/java/com/powsybl/action/util/LoadScalableTest.java
  action/action-util/src/test/java/com/powsybl/action/util/ScalableTest.java
Labels: PR: ready-to-be-merged

#1760 Delete redundant dangling line current limits methods (already defined in FlowLimitsHolder)
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLine.java
Labels: IIDM, PR: waiting-for-review, bug

#1756 Improve Graphviz export
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/GraphvizConnectivity.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/util/GraphvizConnectivityTest.java
  iidm/iidm-tck/src/test/resources/eurostag-tutorial-country-cluster.dot
Labels: PR: ready-to-be-merged

#1732 Remote reactive power control extension
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_reactive_power_gen/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/RemoteReactivePowerControl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/RemoteReactivePowerControlAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/VoltagePerReactivePowerControl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerControlImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/RemoteReactivePowerControlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractRemoteReactivePowerControlTest.java
Labels: CGMES, Doc needed

#1680 CGMES import only using EQ file - First try
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1Catalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AsynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergyConsumerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergySourceConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesTerminal.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1739 Calculate flow through switches
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SwitchesFlow.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/util/SwitchesFlowTest.java
Labels: IIDM, PR: ready-to-be-merged

#1772 Fix current limits javadoc comment defining a temporary limit
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/CurrentLimits.java
Labels: IIDM, Javadoc, PR: ready-to-be-merged

#1770 ShuntCompensator, StaticVarCompensator, Battery: export the active flow as 0.0.
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/WithSvInjection/SmallGridTestConfiguration_BC_SV_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
Labels: CGMES, PR: waiting-for-review

#1768 Cgmes Switches: Import retained attribute.
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#1767 When the PTC is not regulating, do not throw exception if some info is missing
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
Labels: IIDM, PR: ready-to-be-merged

#1775 IIDM: fix battery check
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBatteryTest.java
Labels: Breaking Change, IIDM, PR: ready-to-be-merged

#1774 Use double instead of float in UCTE model
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnode.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeAdder.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeAdderImpl.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeImpl.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/resources/xsd/mergedXnode.xsd
  entsoe-util/src/test/java/com/powsybl/entsoe/util/MergedXnodeTest.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/resources/elementNameImportReport.txt
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteAngleRegulation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteElement.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteLine.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNode.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UctePhaseRegulation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteRegulation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteTransformer.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteReader.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteRecordParser.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteRecordWriter.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteWriter.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/AbstractUcteElementTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteAngleRegulationTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteLineTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNetworkFactory.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNetworkImplTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNodeTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UctePhaseRegulationTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteRegulationTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteTransformerTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/ext/UcteNetworkExtTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/io/UcteRecordWriterTest.java
Labels: Breaking Change, PR: ready-to-be-merged

#1759 First proposition of extensions for measurements
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/DiscreteMeasurement.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/DiscreteMeasurementAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/DiscreteMeasurements.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/DiscreteMeasurementsAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/Measurement.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/MeasurementAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/Measurements.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/MeasurementsAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/util/DiscreteMeasurementValidationUtil.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/util/MeasurementValidationUtil.java
  iidm/iidm-extensions/src/main/resources/xsd/discreteMeasurements.xsd
  iidm/iidm-extensions/src/main/resources/xsd/measurements.xsd
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementsAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementsImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementsAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementsImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/DiscreteMeasurementsTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/MeasurementsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractDiscreteMeasurementsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractMeasurementsTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/DiscreteMeasurementsXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/MeasurementsXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/DiscreteMeasurementsXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/MeasurementsXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_5/disMeasRef.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_5/measRef.xiidm
Labels: IIDM, PR: waiting-for-review, XIIDM, extensions
