Repository powsybl/powsybl-core, pull requests merged in 2021-05, with the labels that each got.

#1676 Fix univocity csv parser max column limit
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeries.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesCsvConfig.java
Labels: PR: ready-to-be-merged

#1691 Fix HalfLine creation and its Boundary object
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineBoundaryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/HalfLineBoundaryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineImpl.java
Labels: IIDM, PR: ready-to-be-merged

#1706 Remove blazegraph
  cgmes/cgmes-conformity/pom.xml
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model-alternatives/pom.xml
  cgmes/cgmes-model/pom.xml
  distribution-core/pom.xml
  pom.xml
  triple-store/pom.xml
  triple-store/triple-store-impl-blazegraph/pom.xml
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreBlazegraph.java
  triple-store/triple-store-impl-blazegraph/src/main/java/com/powsybl/triplestore/impl/blazegraph/TripleStoreFactoryServiceBlazegraph.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-test/pom.xml
  triple-store/triple-store-test/src/test/java/com/powsybl/triplestore/test/FoafGraphsTest.java
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged

#1710 Add missing invalidateCache in N/B Voltage Level
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/InvalidateCacheNbVlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractInvalidateCacheNbVlTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1713 Bump logback to 1.2.3
  pom.xml
Labels: PR: ready-to-be-merged

#1688 Allow properties when exporting SecurityAnalysisResult to XML
  security-analysis-api/src/main/java/com/powsybl/security/converter/SecurityAnalysisResultExporter.java
  security-analysis-api/src/main/java/com/powsybl/security/converter/SecurityAnalysisResultExporters.java
  security-analysis-api/src/test/java/com/powsybl/security/converter/ExporterTest.java
Labels: PR: ready-to-be-merged

#1682 Consider transformers at boundaries during conversion
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_transformer_at_boundary/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/BoundaryEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesBoundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractIdentifiedObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/BoundaryLine.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquipmentAtBoundaryConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: waiting-for-review

#1677 Add extension on Boundary Points specifying if they model DC Points and the EIC code of the line they are associated with if it exists
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesBoundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TopologyTester.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNode.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeXmlSerializer.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNode.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesDanglingLineBoundaryNode.xsd
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesLineBoundaryNode.xsd
  cgmes/cgmes-extensions/src/test/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeXmlSerializerTest.java
  cgmes/cgmes-extensions/src/test/resources/eurostag_cgmes_line_boundary_node.xml
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: Breaking Change, CGMES, PR: waiting-for-review

#1712 Fix JsonUtil::readExtensions and JsonUtil::writeExtensions, don't do an infinite busy loop on bad input
  commons/src/main/java/com/powsybl/commons/json/JsonUtil.java
  commons/src/test/java/com/powsybl/commons/extensions/ExtensionTest.java
  commons/src/test/resources/BadExtensions.json
Labels: PR: waiting-for-review

#1711 Fix JSONUtil::skip, skip arrays and don't do an infinite busy loop when skipping starts precisely on next END_OBJECT
  commons/src/main/java/com/powsybl/commons/json/JsonUtil.java
  commons/src/test/java/com/powsybl/commons/json/JsonUtilTest.java
Labels: PR: ready-to-be-merged

#1720 Fix connect bug
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NodeBreakerConnectTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1722 Add a bus cache to network implementation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
Labels: IIDM, PR: ready-to-be-merged

#1721 When importing a CGM, boundary lines are orientated so that side1 ID < side2 ID
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/BoundaryLine.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: waiting-for-review

#1599 Check uncompressed length with sum of step length
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/AbstractCompressedDataChunk.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/CompressedDoubleDataChunkTest.java
Labels: PR: ready-to-be-merged

#1723 Handle missing information on ControlArea and TieFlow during CGMES import
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/TieFlow_missing_controlArea/SmallGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesControlAreas.xsd
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: waiting-for-review

#1695 HVDC. Fix duplicated dcLineSegment id when the configuration is two converters and one dcLineSegment
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PropertyBag.java
  triple-store/triple-store-api/src/test/java/com/powsybl/triplestore/api/test/PropertyBagTest.java
Labels: CGMES, PR: ready-to-be-merged

#1729 Fix CGMES export node/breaker when building bus-TN mapping
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
Labels: PR: ready-to-be-merged

#1727 use ServiceLoader.load with the current classloader instead of the context classloader
  action/action-dsl/src/main/groovy/com/powsybl/action/dsl/ActionDslLoader.groovy
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExtensionWriters.java
  commons/src/main/java/com/powsybl/commons/concurrent/CleanableExecutors.java
  commons/src/main/java/com/powsybl/commons/config/PlatformConfig.java
  commons/src/main/java/com/powsybl/commons/config/PlatformConfigNamedProvider.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionAdderProviders.java
  commons/src/main/java/com/powsybl/commons/util/ServiceLoaderCache.java
  contingency/contingency-dsl/src/main/groovy/com/powsybl/contingency/dsl/ContingencyDslLoader.groovy
  dynamic-simulation/dynamic-simulation-dsl/src/main/java/com/powsybl/dynamicsimulation/groovy/GroovyExtension.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/CandidateComputations.java
  scripting/src/main/groovy/com/powsybl/scripting/groovy/GroovyScripts.groovy
  security-analysis-api/src/main/java/com/powsybl/security/converter/SecurityAnalysisResultExporters.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/converter/SensitivityAnalysisResultExporters.java
  tools/src/main/java/com/powsybl/tools/CommandLineTools.java
Labels: PR: ready-to-be-merged

#1733 CGMES conversion: delete iidm.import.cgmes.merge-boundaries-using-tie-lines parameter
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#1736 Add unit test associated to the IEEE_bus_30.raw case
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-converter/src/test/resources/IEEE_30_bus.raw
  psse/psse-converter/src/test/resources/IEEE_30_bus.xiidm
Labels: PSS/E

#1728 SV utility class. Review and Refactoring
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Boundary.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LinkData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SV.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/SVTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineBoundaryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/HalfLineBoundaryImpl.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/tieline.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/tieline.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/tieline.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/tieline.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/tielineWithAliases.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/tieline.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/tielineWithAliases.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/tl-loading-limits.xml
Labels: IIDM, PR: ready-to-be-merged

#1740 Add fixes for TYNDP
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_incorrect_date_and_version/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_incorrect_date_and_version/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_incorrect_date_and_version/MicroGridTestConfiguration_BC_BE_SV_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_incorrect_date_and_version/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_missing_limit_value/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
Labels: CGMES, PR: waiting-for-review

#1750 Bump guava version to 30.0-jre (CVE-2020-8908)
  pom.xml
Labels: PR: waiting-for-review, vulnerability
