Repository powsybl/powsybl-core, pull requests merged in 2021-11, with the labels that each got.

#1873 Fix Windows build
  cim-anonymiser/pom.xml
  cim-anonymiser/src/test/java/com/powsybl/cim/CimAnonymizerTest.java
  commons/src/test/java/com/powsybl/commons/AbstractConverterTest.java
  commons/src/test/java/com/powsybl/commons/TestUtil.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  tools/pom.xml
  tools/src/test/java/com/powsybl/tools/autocompletion/BashCompletionGeneratorTest.java
  tools/src/test/java/com/powsybl/tools/autocompletion/BashCompletionToolTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterReporterTest.java
Labels: PR: ready-to-be-merged

#1859 Add Identifiable enum type
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Battery.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Bus.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/BusbarSection.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Connectable.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Generator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/HvdcConverterStation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/HvdcLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/IdentifiableType.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Line.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Load.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ShuntCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/StaticVarCompensator.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Substation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Switch.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformer.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractHvdcConverterStation.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusbarSectionImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GeneratorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LoadImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/StaticVarCompensatorImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubstationImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevels.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/IdentifiableTypeTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractConnectableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BatteryAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/GeneratorAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LccConverterStationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VscConverterStationAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/tck/IdentifiableTypeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBatteryTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractDanglingLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractIdentifiableTypeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTerminalFinderTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTwoWindingsTransformerTest.java
Labels: Breaking Change, PR: ready-to-be-merged

#1862 Connectable removal with topology cleanup
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Connectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractHvdcConverterStation.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevelExt.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/util/RemoveDanglingSwitchesTopologyTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractConnectableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/util/AbstractRemoveDanglingSwitchesTopologyTest.java
  math/src/main/java/com/powsybl/math/graph/DefaultUndirectedGraphListener.java
  math/src/main/java/com/powsybl/math/graph/GraphUtil.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphListener.java
  math/src/test/java/com/powsybl/math/graph/GraphUtilTest.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
Labels: Breaking Change

#1880 Update tck traversers unit tests
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/TopologyTraverserTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTopologyTraverserTest.java
Labels: PR: next-release

#1883 Add shortcircuits extensions xml serializer
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/IdentifiableShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/generatorShortCircuit.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/identifiableShortCircuit.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorShortCircuitXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/IdentifiableShortCircuitXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/resources/shortcircuits/generatorShortCircuitRef.xml
  iidm/iidm-xml-converter/src/test/resources/shortcircuits/voltageLevelShortCircuitRef.xml
Labels: PR: ready-to-be-merged

#1886 Removing reporter beta warnings
  commons/src/main/java/com/powsybl/commons/reporter/AbstractReporter.java
  commons/src/main/java/com/powsybl/commons/reporter/Report.java
  commons/src/main/java/com/powsybl/commons/reporter/ReportBuilder.java
  commons/src/main/java/com/powsybl/commons/reporter/Reporter.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModel.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelDeserializer.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelJsonModule.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelSerializer.java
  commons/src/main/java/com/powsybl/commons/reporter/TypedValue.java
  commons/src/main/java/com/powsybl/commons/reporter/package-info.java
Labels: Javadoc, PR: next-release

#1885 Initialize XmlStreamWriter based on Writer
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  commons/src/main/java/com/powsybl/commons/xml/XmlUtil.java
Labels: PR: ready-to-be-merged

#1891 CGMES. Fix query for synchronous machines
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, Performance

#1892 Construct Mapping from CgmesTerminal id to topological node id
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
Labels: PR: ready-to-be-merged

#1895 CGMES 3 - Fix query for synchronous machines in CIM100
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
Labels: CGMES, Performance

#1896 CGMES. Optimize verification of model is node/breaker
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
Labels: CGMES, Performance, PR: ready-to-be-merged

#1889 Delete unused code. dcTerminalsTP query
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, Breaking Change, PR: ready-to-be-merged

#1898 Fix base voltage config loading
  commons/src/main/java/com/powsybl/commons/config/BaseVoltagesConfig.java
  commons/src/test/java/com/powsybl/commons/config/BaseVoltagesConfigTest.java
Labels: PR: ready-to-be-merged

#1899 Ignore voltage level with nominal voltage equal to zero during CGMES import
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/VoltageLevelConversion.java
Labels: CGMES, PR: waiting-for-coverage-test

#1905 During CGMES import, obtain a nominal voltage reference to create fictitious voltage levels for line containers
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
Labels: bug, CGMES

#1909 Fix Matpower importer performance issue
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerModel.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerReader.java
Labels: PR: ready-to-be-merged, Matpower

#1911 Fix Matpower json read
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerModel.java
Labels: bug, Matpower

#1906 Create slack terminal extension in Matpower importer
  matpower/matpower-converter/pom.xml
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-converter/src/test/resources/ieee118mat.xiidm
  matpower/matpower-converter/src/test/resources/ieee14mat.xiidm
  matpower/matpower-converter/src/test/resources/ieee300mat.xiidm
  matpower/matpower-converter/src/test/resources/ieee30mat.xiidm
  matpower/matpower-converter/src/test/resources/ieee57mat.xiidm
  matpower/matpower-converter/src/test/resources/ieee9mat.xiidm
Labels: PR: ready-to-be-merged

#1908 Load flow read slack bus by default
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowParameters.java
  loadflow/loadflow-api/src/test/resources/LoadFlowParameters.json
  loadflow/loadflow-api/src/test/resources/LoadFlowParametersWithExtension.json
  security-analysis/security-analysis-api/src/test/resources/SecurityAnalysisParameters.json
  security-analysis/security-analysis-api/src/test/resources/SecurityAnalysisParametersWithExtension.json
  sensitivity-analysis-api/src/test/resources/SensitivityAnalysisParameters.json
  sensitivity-analysis-api/src/test/resources/SensitivityAnalysisParametersWithExtension.json
Labels: Breaking Change, LoadFlow, PR: ready-to-be-merged

#1902 Ignore tables with missing steps during CGMES import: tap changers considered linears
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_rtc_ptc_faulty_tabular/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesRatioTapChangerBuilder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#1903 Corrections in tests (miscellaneous)
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_rtc_ptc_tabular/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessorTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ImportExportPerformanceTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesNetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/tools/ImporterMock.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/SimpleAnonymizerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/NetworkImporterMock.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/NamingStrategyTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
Labels: bug, Test, Quality

#1913 Delete check if one of CGMES file with suffix EQ exists
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
Labels: CGMES, PR: waiting-for-review

#1870 import and export VsCapabilityCurves
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_withVsCapabilityCurve/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/HvdcConverterStationEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ReactiveCapabilityCurveEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1872 Cgmes review active (P) and reactive (Q) assignments of loads and generators
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/Cgmes3ConversionTest.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/BusesValidation.java
Labels: CGMES, PR: ready-to-be-merged

#1876 Remove identifiable property
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/VariantManagerImplTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractIdentifiableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingView.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/MergingNetworkTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLoadTest.java
Labels: IIDM, Doc needed, Breaking Change, PR: ready-to-be-merged

#1915 CGMES switches: add ground disconnectors, read normal open attribute
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES
