Repository powsybl/powsybl-core, pull requests merged in 2021-01, with the labels that each got.

#1573 Add alphabetical sort criterion to determine the main node in order to have name invariance of a substation
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/substationName.uct
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
Labels: PR: ready-to-be-merged, UCTE

#1592 Make OperationalLimitsOwner public
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsOwner.java
Labels: PR: waiting-for-review

#1589 CGMES import of all kinds of operational limits
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_limits/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CurrentLimitsMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/LoadingLimitsMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: Breaking Change, CGMES, Doc needed, PR: ready-to-be-merged

#1579 Remove deprecated code
  security-analysis-api/src/main/java/com/powsybl/security/AbstractLimitViolationDetector.java
  security-analysis-api/src/main/java/com/powsybl/security/DefaultLimitViolationDetector.java
  security-analysis-api/src/main/java/com/powsybl/security/distributed/DistributedSecurityAnalysis.java
  security-analysis-api/src/main/java/com/powsybl/security/distributed/ExternalSecurityAnalysis.java
  security-analysis-api/src/main/java/com/powsybl/security/interceptors/SecurityAnalysisInterceptor.java
  security-analysis-api/src/test/java/com/powsybl/security/distributed/DistributedSecurityAnalysisTest.java
  security-analysis-api/src/test/java/com/powsybl/security/interceptors/SecurityAnalysisInterceptorTest.java
Labels: Breaking Change, PR: waiting-for-review, Security Analysis

#1588 Serialize in XIIDM 1.5 new kind of limits
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/LineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_5.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/LoadingLimitsXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_0/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_0/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_1/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_2/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_3/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_4/tl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_5/dl-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_5/eurostag-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_5/t3w-loading-limits.xml
  iidm/iidm-xml-converter/src/test/resources/V1_5/tl-loading-limits.xml
Labels: Breaking Change, PR: ready-to-be-merged, XIIDM

#1595 Throw a comprehensive exception when a terminal ref of a busbar section is written in bus-breaker or bus-branch
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TerminalRefXml.java
Labels: Breaking Change, PR: ready-to-be-merged, XIIDM, bug

#1543 Timeseries csv parser
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeries.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesCsvConfig.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesTable.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StringTimeSeriesLostColumnsIssueTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesTableTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesTest.java
Labels: PR: ready-to-be-merged

#1539 Dynamic simulation results
  dynamic-simulation/dynamic-simulation-api/pom.xml
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationResult.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/DynamicSimulationResultImpl.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultDeserializer.java
  dynamic-simulation/dynamic-simulation-api/src/main/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultSerializer.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/AnotherDynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationProviderMock.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/DynamicSimulationResultTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultJsonTest.java
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationResult.json
  dynamic-simulation/dynamic-simulation-api/src/test/resources/DynamicSimulationResultError.json
  dynamic-simulation/dynamic-simulation-tool/src/test/java/com/powsybl/dynamicsimulation/tool/DynamicSimulationToolTest.java
Labels: Dynamic, PR: ready-to-be-merged

#1567 UCTE: quality of datasets and calculations support
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/invalidRegulationNetwork.uct
  ucte/ucte-converter/src/test/resources/invalidVoltageReference.uct
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteLine.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteLogger.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNode.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteRegulation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteTransformer.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteValidation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteReader.java
Labels: UCTE

#1596 add powsybl-bom
  bom/pom.xml
  pom.xml
Labels: PR: ready-to-be-merged

#1580 Java11
  commons/pom.xml
  dsl/pom.xml
  dsl/src/main/java/com/powsybl/dsl/AstUtil.java
  dsl/src/main/java/com/powsybl/dsl/PowsyblDslAstTransformation.java
  dsl/src/test/java/com/powsybl/dsl/AstUtilTest.java
  pom.xml
  scripting/pom.xml
  scripting/src/main/groovy/com/powsybl/scripting/groovy/InitPowsybl.groovy
  simulation-api/pom.xml
  time-series/time-series-api/pom.xml
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged

#1587 Add new iidm hvdc extensions
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/HvdcAngleDroopActivePowerControl.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/HvdcAngleDroopActivePowerControlAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/HvdcOperatorActivePowerRange.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/HvdcOperatorActivePowerRangeAdder.java
  iidm/iidm-extensions/src/main/resources/xsd/hvdcAngleDroopActivePowerControl.xsd
  iidm/iidm-extensions/src/main/resources/xsd/hvdcOperatorActivePowerRange.xsd
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcAngleDroopActivePowerControlAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcAngleDroopActivePowerControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcAngleDroopActivePowerControlImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcOperatorActivePowerRangeAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcOperatorActivePowerRangeAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcOperatorActivePowerRangeImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/HvdcAngleDroopActivePowerControlTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/HvdcOperatorActivePowerRangeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcAngleDroopActivePowerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcOperatorActivePowerRangeTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/HvdcAngleDroopActivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/HvdcOperatorActivePowerRangeXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/HvdcAngleDroopActivePowerControlXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/HvdcOperatorActiveRangeXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_5/hvdcAngleDroopActivePowerControlRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_5/hvdcOperatorActiveRangeRef.xml
Labels: IIDM, PR: ready-to-be-merged, XIIDM
