Repository powsybl/powsybl-core, pull requests merged in 2021-09, with the labels that each got.

#1715 Move Boundary classes formulas as util
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DanglingLine.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/AbstractHalfLineBoundaryImpl.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/DanglingLineBoundaryImpl.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SV.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/HalfLineBoundaryImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
Labels: IIDM, PR: waiting-for-review

#1807 Allows to move line ends
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Line.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LineImpl.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
Labels: IIDM, PR: waiting-for-review

#1800 Traverser from several vertices
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/Networks.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/NodeBreakerTopology.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CalculatedBusImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NodeBreakerVoltageLevelAdapter.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerInternalConnectionsTest.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
Labels: PR: ready-to-be-merged

#1816 New sensitivity factor: add branch to HVDC setpoint factors to sensitivity API
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/BranchFlowPerHvdcSetpointIncrease.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/BranchIntensityPerHvdcSetpointIncrease.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/variables/HvdcSetpointIncrease.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/BranchFlowPerHvdcSetpointIncreaseTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/BranchIntensityPerHvdcSetpointIncreaseTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/variables/HvdcSetpointIncreaseTest.java
Labels: PR: waiting-for-review, PR: next-release

#1817 add regulating terminal for vsc converter station
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VscConverterStation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VscConverterStationAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VscConverterStationAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VscConverterStationImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VscConverterStationAdapterTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractVscTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/HvdcTestNetwork.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/VscConverterStationXml.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_6.xsd
  iidm/iidm-xml-converter/src/test/resources/V1_6/VscRoundTripRef.xml
Labels: PR: ready-to-be-merged

#1821 Fix IdBasedBusRef implementation when branch is not found is the network
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/IdBasedBusRef.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/BusRefTest.java
Labels: bug, IIDM

#1776 BranchResult : Add double attribute to handle flowTransfer data
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/BranchResult.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultBuilderTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/converter/ExporterTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/PostContingencyResultTest.java
  security-analysis/security-analysis-api/src/test/resources/PostContingencyResultTest.json
  security-analysis/security-analysis-api/src/test/resources/SecurityAnalysisResult.json
  security-analysis/security-analysis-default/src/main/java/com/powsybl/security/impl/DefaultSecurityAnalysis.java
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/SecurityAnalysisTest.java
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/results/BranchResultTest.java
Labels: PR: ready-to-be-merged

#1824 Clarify TraverseResult enum
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/Networks.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerInternalConnectionsTest.java
  math/src/main/java/com/powsybl/math/graph/TraverseResult.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
Labels: PR: ready-to-be-merged

#1823 If b undefined for transformer in CGMES, don't crash
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
Labels: CGMES, PR: ready-to-be-merged

#1779 Extensions to specify if tap changers should be estimated during state estimation or not
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerToBeEstimated.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ThreeWindingsTransformerToBeEstimatedAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerToBeEstimated.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/TwoWindingsTransformerToBeEstimatedAdder.java
  iidm/iidm-extensions/src/main/resources/xsd/threeWindingsTransformerToBeEstimated.xsd
  iidm/iidm-extensions/src/main/resources/xsd/twoWindingsTransformerToBeEstimated.xsd
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ThreeWindingsTransformerToBeEstimatedAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ThreeWindingsTransformerToBeEstimatedAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ThreeWindingsTransformerToBeEstimatedImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/TwoWindingsTransformerToBeEstimatedAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/TwoWindingsTransformerToBeEstimatedAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/TwoWindingsTransformerToBeEstimatedImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/ThreeWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/TwoWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractThreeWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractTwoWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ThreeWindingsTransformerToBeEstimatedXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/TwoWindingsTransformerToBeEstimatedXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/ThreeWindingsTransformerToBeEstimatedXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/TwoWindingsTransformerToBeEstimatedXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_6/threeWindingsTransformerToBeEstimated.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_6/twoWindingsTransformerToBeEstimated.xiidm
Labels: IIDM, PR: ready-to-be-merged, PR: next-release, extensions

#1827 Fix VscConverterStation setters return type
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VscConverterStation.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/VscConverterStationAdapter.java
Labels: bug, IIDM, Breaking Change

#1808 Multiple ACLineSegments inside a Line container
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_cim_line/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#1784 PSSE. Convert to IIDM. Support non-transformer branches with different nominal voltage at ends.
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/AbstractConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/LineConverter.java
  psse/psse-converter/src/test/resources/IEEE_24_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_30_bus.xiidm
  psse/psse-converter/src/test/resources/remoteControl.raw
  psse/psse-converter/src/test/resources/remoteControl.xiidm
  psse/psse-converter/src/test/resources/remoteControl_updated_exported.raw
  psse/psse-converter/src/test/resources/twoTerminalDc.raw
  psse/psse-converter/src/test/resources/twoTerminalDc.xiidm
  psse/psse-converter/src/test/resources/twoTerminalDc_updated_exported.raw
Labels: PSS/E

#1830 Static Var Compensator. Notify update when regulating terminal is changed
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/StaticVarCompensatorImpl.java
Labels: IIDM

#1829 add line1Name and line2Name to mergedXNode xml
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionXmlSerializer.java
  entsoe-util/pom.xml
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/resources/xsd/mergedXnode_V1_0.xsd
  entsoe-util/src/main/resources/xsd/mergedXnode_V1_1.xsd
  entsoe-util/src/test/resources/mergedXnodeRef.xml
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXmlReaderContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/AbstractVersionableNetworkExtensionXmlSerializer.java
Labels: bug, XIIDM, PR: waiting-for-review, extensions

#1811 Cgmes. Voltage and angle in 3wt star buses and boundary nodes
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/DanglingLineBoundaryImpl.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/DanglingLineData.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/TwtData.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
Labels: CGMES, PR: ready-to-be-merged

#1832 Bug fix: namespace of mergedxnode
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  entsoe-util/src/main/resources/xsd/mergedXnode_V1_1.xsd
  entsoe-util/src/test/resources/mergedXnodeRef.xml
Labels: bug, XIIDM, PR: ready-to-be-merged, extensions

#1835 Psse. Review visibility
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/AbstractConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/BusConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/FixedShuntCompensatorConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/GeneratorConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/LineConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/LoadConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/SlackConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/SubstationConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/SwitchedShuntCompensatorConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/TransformerConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/TwoTerminalDcConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/VoltageLevelConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseConversionContextExtensionAdderImpl.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseConversionContextExtensionImpl.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseModelExtensionAdderImpl.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseModelExtensionImpl.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/AbstractRecordGroup.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/Context.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/FileFormat.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/RecordGroupIOJson.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/RecordGroupIOLegacyText.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseCaseIdentification.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTwoTerminalDcTransmissionLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseVoltageSourceConverterDcTransmissionLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/AreaInterchangeData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/BusData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/CaseIdentificationData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/FactsDeviceData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/FixedBusShuntData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/GeneratorData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/GneDeviceData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/InductionMachineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/InterareaTransferData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/LoadData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/MultiSectionLineGroupingData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/MultiTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/NonTransformerBranchData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/OwnerData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/SwitchedShuntData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TransformerData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TransformerImpedanceCorrectionTablesData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TwoTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/VoltageSourceConverterDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/ZoneData.java
Labels: PSS/E

#1836 CGMES: HVDC fix impedance
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_withDifferentConverterTypes/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
Labels: CGMES
