Repository powsybl/powsybl-core, pull requests merged in 2021-04, with the labels that each got.

#1666 Functional logs POC
  commons/pom.xml
  commons/src/main/java/com/powsybl/commons/reporter/AbstractReporter.java
  commons/src/main/java/com/powsybl/commons/reporter/Report.java
  commons/src/main/java/com/powsybl/commons/reporter/ReportBuilder.java
  commons/src/main/java/com/powsybl/commons/reporter/Reporter.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModel.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelDeserializer.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelJsonModule.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModelSerializer.java
  commons/src/main/java/com/powsybl/commons/reporter/TypedValue.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importer.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlow.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowProvider.java
  pom.xml
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysis.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisProvider.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteExporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterReporterTest.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/util/UcteConverterHelperTest.java
  ucte/ucte-converter/src/test/resources/elementName.uct
  ucte/ucte-converter/src/test/resources/elementNameImportReport.txt
  ucte/ucte-converter/src/test/resources/frVoltageRegulatingXnodeReport.json
  ucte/ucte-converter/src/test/resources/parallelUcteImportReport.json
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteElement.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteLine.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNetwork.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNetworkImpl.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteNode.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteRecord.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteRegulation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteTransformer.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteValidation.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteReportConstants.java
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/io/UcteReader.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteFileReadWriteTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteLineTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNetworkFactory.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteNodeTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteRegulationTest.java
  ucte/ucte-network/src/test/java/com/powsybl/ucte/network/UcteTransformerTest.java
Labels: PR: ready-to-be-merged

#1640 BusVoltagePerTargetV sensitivity factor
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractBusRef.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/BusRef.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/IdBasedBusRef.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/BusRefTest.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/BusVoltagePerTargetV.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/functions/BusVoltage.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/factors/variables/TargetVoltage.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/BusVoltagePerTargetVTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/functions/BusVoltageTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/factors/variables/TargetVoltageTest.java
Labels: PR: waiting-for-review, Sensitivity

#1679 Implement BusAdapter.getConnectedTerminals and BusAdapter.getConnectedTerminalStream
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusAdapter.java
Labels: MergingView, PR: waiting-for-review

#1672 Warn instead of throwing an exception if P/Q are undefined
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/DefaultNetworkReducer.java
  iidm/iidm-reducer/src/test/java/com/powsybl/iidm/reducer/DefaultNetworkReducerTest.java
Labels: PR: ready-to-be-merged

#1678 Reporter javadoc
  commons/src/main/java/com/powsybl/commons/reporter/AbstractReporter.java
  commons/src/main/java/com/powsybl/commons/reporter/Report.java
  commons/src/main/java/com/powsybl/commons/reporter/ReportBuilder.java
  commons/src/main/java/com/powsybl/commons/reporter/Reporter.java
  commons/src/main/java/com/powsybl/commons/reporter/ReporterModel.java
  commons/src/main/java/com/powsybl/commons/reporter/TypedValue.java
Labels: Javadoc, PR: ready-to-be-merged

#1681 Check minP <= maxP during the CGMES import
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_fixed_minP_maxP/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractReactiveLimitsOwnerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: waiting-for-review

#1683 Remove useless utilities in commons
  commons/pom.xml
  commons/src/main/java/com/powsybl/commons/exceptions/UncheckedJaxbException.java
  commons/src/main/java/com/powsybl/commons/io/BufferedLineParser.java
  commons/src/main/java/com/powsybl/commons/io/mmap/MemoryMapFileMock.java
  commons/src/main/java/com/powsybl/commons/io/mmap/MemoryMappedFile.java
  commons/src/main/java/com/powsybl/commons/io/mmap/MemoryMappedFileFactory.java
  commons/src/main/java/com/powsybl/commons/io/mmap/MemoryMappedFileImpl.java
  commons/src/main/java/com/powsybl/commons/jaxb/IntervalAdapter.java
  commons/src/main/java/com/powsybl/commons/jaxb/JaxbContextCache.java
  commons/src/main/java/com/powsybl/commons/jaxb/JaxbUtil.java
  commons/src/main/java/com/powsybl/commons/net/ConnectionParameters.java
  commons/src/test/java/com/powsybl/commons/exceptions/UncheckedExceptionTest.java
  commons/src/test/java/com/powsybl/commons/io/mmap/MemoryMapFileMockTest.java
  commons/src/test/java/com/powsybl/commons/io/mmap/MemoryMappedFileImplTest.java
  pom.xml
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged

#1685 CGMES: add support for Equivalent Branches at boundaries
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_eqbranch/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_eqbranch_at_boundary/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentBranchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES, PR: waiting-for-info-reviewer, PR: waiting-for-review

#1689 Bug fix: completing the creation of a control area should NOT return the implementation
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdder.java
Labels: CGMES, PR: waiting-for-review, bug

#1686 Add Slack badge and link in README
  README.md
Labels: PR: ready-to-be-merged

#1693 Rename correctly CgmesControlAreasAdderImplProvider
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdderImplProvider.java
Labels: PR: waiting-for-review, bug, extensions

#1684 CGMES SV : export flows for branches and three windings transformers
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: ready-to-be-merged

#1668 PSS/E Add new dataBlocks
  psse/psse-converter/src/test/resources/ExampleVersion32.xiidm
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseGneDevice.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseInductionMachine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseMultiTerminalDcTransmissionLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PssePowerFlowModel.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTwoTerminalDcConverter.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTwoTerminalDcTransmissionLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseVoltageSourceConverter.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseVoltageSourceConverterDcTransmissionLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/GneDeviceData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/InductionMachineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/MultiTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRawData32.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRawData33.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRawData35.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRawxData35.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRecordGroup.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TwoTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/VoltageSourceConverterDcTransmissionLineData.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  psse/psse-model/src/test/resources/ExampleVersion32.raw
  psse/psse-model/src/test/resources/ExampleVersion32_exported.raw
  psse/psse-model/src/test/resources/IEEE_14_bus.json
  psse/psse-model/src/test/resources/IEEE_14_bus_completed.json
  psse/psse-model/src/test/resources/IEEE_14_bus_completed.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_exported.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_rev35.json
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_rev35.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_rev35.rawx
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_rev35_exported.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_completed_rev35_exported.rawx
  psse/psse-model/src/test/resources/IEEE_14_bus_rev35.json
  psse/psse-model/src/test/resources/IEEE_14_isolated_buses.json
  psse/psse-model/src/test/resources/IEEE_24_bus.json
  psse/psse-model/src/test/resources/IEEE_24_bus_rev35.json
Labels: PSS/E

#1697 Add the possibility to specify the scaling convention when creating dangling line scalables
  action/action-util/src/main/java/com/powsybl/action/util/DanglingLineScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/Scalable.java
  action/action-util/src/test/java/com/powsybl/action/util/DanglingLineScalableTest.java
Labels: PR: waiting-for-review
