Repository powsybl/powsybl-core, pull requests merged in 2021-03, with the labels that each got.

#1637 Remove simulation-api module
  distribution-core/pom.xml
  pom.xml
  simulation-api/pom.xml
  simulation-api/src/main/java/com/powsybl/simulation/ImpactAnalysis.java
  simulation-api/src/main/java/com/powsybl/simulation/ImpactAnalysisProgressListener.java
  simulation-api/src/main/java/com/powsybl/simulation/ImpactAnalysisResult.java
  simulation-api/src/main/java/com/powsybl/simulation/ImpactAnalysisTool.java
  simulation-api/src/main/java/com/powsybl/simulation/SimulationDetailedParameters.java
  simulation-api/src/main/java/com/powsybl/simulation/SimulationParameters.java
  simulation-api/src/main/java/com/powsybl/simulation/SimulationState.java
  simulation-api/src/main/java/com/powsybl/simulation/SimulatorFactory.java
  simulation-api/src/main/java/com/powsybl/simulation/Stabilization.java
  simulation-api/src/main/java/com/powsybl/simulation/StabilizationResult.java
  simulation-api/src/main/java/com/powsybl/simulation/StabilizationStatus.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/AbstractSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/AbstractTsoGeneratorAutomaton.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/LimitsXmlParsingState.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndex2.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/OverloadSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SecurityIndexId.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SecurityIndexParser.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SecurityIndexType.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/SmallSignalSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TransientSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoDisconnectedGenerator.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoFrequencySecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoGeneratorSpeedAutomaton.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoGeneratorVoltageAutomaton.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoOverloadSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoOvervoltageSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoSynchroLossSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/TsoUndervoltageSecurityIndex.java
  simulation-api/src/main/java/com/powsybl/simulation/securityindexes/UnderOverVoltageSecurityIndex.java
  simulation-api/src/test/java/com/powsybl/simulation/SimulationParametersConfigTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/AbstractSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndex2Test.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/MultiCriteriaVoltageStabilityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/OverloadSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/SmallSignalSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TransientSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoFrequencySecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoGeneratorSpeedAutomatonTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoGeneratorVoltageAutomatonTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoOverloadSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoOvervoltageSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoSynchroLossSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/TsoUndervoltageSecurityIndexTest.java
  simulation-api/src/test/java/com/powsybl/simulation/securityindexes/UnderOverVoltageSecurityIndexTest.java
  simulation-api/src/test/resources/multiCriteriaVoltageStabilityIndex.xml
  simulation-api/src/test/resources/multiCriteriaVoltageStabilityIndex2.xml
Labels: Breaking Change, PR: ready-to-be-merged

#1641 Psse. Improve performance of the transformer data block.
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/AbstractRecordGroup.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/AbstractRecordGroupIOLegacyTextMultiLine.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/RecordGroupIOLegacyText.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseRates.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTransformer.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/PowerFlowRecordGroup.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TransformerData.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
Labels: PSS/E

#1618 Replace SecurityAnalysis factory uses by loaded SecurityAnalysisProvider
  security-analysis-api/src/main/java/com/powsybl/security/AbstractSecurityAnalysis.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysis.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysis2.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisFactories.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisFactory.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisFactoryImpl.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisFactoryPluginInfo.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisProvider.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalyzer.java
  security-analysis-api/src/main/java/com/powsybl/security/execution/SecurityAnalysisExecutionBuilder.java
  security-analysis-api/src/main/java/com/powsybl/security/execution/SecurityAnalysisExecutionImpl.java
  security-analysis-api/src/main/java/com/powsybl/security/tools/SecurityAnalysisTool.java
  security-analysis-api/src/main/java/com/powsybl/security/tools/SecurityAnalysisToolConstants.java
  security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisProviderTest.java
  security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisTest.java
  security-analysis-api/src/test/java/com/powsybl/security/execution/SecurityAnalysisExecutionBuilderTest.java
  security-analysis-api/src/test/java/com/powsybl/security/execution/SecurityAnalysisExecutionImplTest.java
  security-analysis-api/src/test/java/com/powsybl/security/tools/SecurityAnalysisMockFactory.java
  security-analysis-api/src/test/java/com/powsybl/security/tools/SecurityAnalysisToolTest.java
  security-analysis-api/src/test/resources/com/powsybl/config/test/config.yml
  security-analysis-api/src/test/resources/com/powsybl/config/test/filelist.txt
Labels: PR: waiting-for-review, Refactoring, Security Analysis

#1645 Optimise getBus in Bus/Breaker view for default Network implementation
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
Labels: IIDM, Performance

#1642 CGMES.normalPF is imported as a property
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
Labels: CGMES, PR: waiting-for-review

#1646 Psse: Sort the shunt blocks of the non-linear model.
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/SwitchedShuntCompensatorConverter.java
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-converter/src/test/resources/SwitchedShunt.raw
  psse/psse-converter/src/test/resources/SwitchedShunt.xiidm
Labels: PSS/E

#1647 Bug fix in MergedBus : getConnectedTerminalCount does not use the connected terminals but all
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MergedBus.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/BusTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/tck/BusTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusTest.java
Labels: IIDM, PR: ready-to-be-merged, bug

#1654 PSS/E. Discard controls regulating isolated buses. Do not remove comments inside quotes.
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/GeneratorConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/SwitchedShuntCompensatorConverter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/TransformerConverter.java
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-converter/src/test/resources/IEEE_14_isolated_buses.xiidm
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/RecordGroupIOLegacyText.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  psse/psse-model/src/test/resources/IEEE_14_isolated_buses.json
  psse/psse-model/src/test/resources/IEEE_14_isolated_buses.raw
  psse/psse-model/src/test/resources/IEEE_14_isolated_buses_exported.raw
Labels: PSS/E

#1657 Fix BusBreakerVoltageLevel export style for switch edges
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
Labels: PR: ready-to-be-merged

#1651 Import CGMES area exchanges
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesBoundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlArea.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreas.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesControlAreas.xsd
  cgmes/cgmes-extensions/src/test/java/com/powsybl/cgmes/extensions/CgmesControlAreaTest.java
  cgmes/cgmes-extensions/src/test/java/com/powsybl/cgmes/extensions/CgmesControlAreasXmlSerializerTest.java
  cgmes/cgmes-extensions/src/test/resources/eurostag_cgmes_control_area.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Boundary.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineBoundaryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/HalfLineBoundaryImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TieLineImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BoundaryAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/HalfLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergingViewIndex.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/TieLineAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TieLineAdapterTest.java
Labels: CGMES, PR: waiting-for-review

#1540 Allow SV Export for CGMES node breaker networks
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConnectorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AsynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/BusbarSectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergyConsumerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergySourceConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ExternalNetworkInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SeriesCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/AcDcConverterConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/ThreeWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TwoWindingsTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMapping.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingXmlSerializer.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTopologyKind.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesIidmMapping.xsd
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: ready-to-be-merged

#1660 CGMES control areas extension: use linked hash sets to have predictable iteration order
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaImpl.java
Labels: CGMES

#1661 CGMES - IIDM mapping: serialization loop must be done over BusView buses
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingXmlSerializer.java
Labels: CGMES

#1662 Make optional the description attribute of CGMES model objects
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSshMetadataAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSshMetadataImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSshMetadataXmlSerializer.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSvMetadataAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSvMetadataImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSvMetadataXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesSshMetadata.xsd
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesSvMetadata.xsd
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#1663 extending the min/max range if tap position is outside range in UCT import
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/tapPositionsRange.uct
Labels: PR: ready-to-be-merged, UCTE

#1656 PSS/E. Validate the imported model before converting it to IIDM
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  psse/psse-converter/src/test/resources/IEEE_118_bus.raw
  psse/psse-converter/src/test/resources/IEEE_118_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_57_bus.raw
  psse/psse-converter/src/test/resources/IEEE_57_bus.xiidm
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseArea.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseBus.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseCaseIdentification.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseFixedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseGenerator.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseLoad.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseNonTransformerBranch.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseOwner.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseSwitchedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseValidation.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseZone.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  psse/psse-model/src/test/resources/IEEE_14_bus_invalid.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_invalid.txt
Labels: PSS/E

#1664 Bump jackson version (vulnerability)
  pom.xml
Labels: PR: ready-to-be-merged, Quality

#1670 Correct randomness of voltage level import order in UCTE import
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/ext/UcteNetworkExt.java
Labels: PR: ready-to-be-merged, UCTE, bug

#1671 Replace an exception thrown in Scalable.scale() by an error log
  action/action-util/src/main/java/com/powsybl/action/util/GeneratorScalable.java
  action/action-util/src/main/java/com/powsybl/action/util/LoadScalable.java
  action/action-util/src/test/java/com/powsybl/action/util/GeneratorScalableTest.java
  action/action-util/src/test/java/com/powsybl/action/util/LoadScalableTest.java
Labels: PR: waiting-for-review
