Repository powsybl/powsybl-core, pull requests merged in 2021-02, with the labels that each got.

#1585 Use ServiceLoader to create SecurityAnalysis
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysis2.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImpl.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisImplProvider.java
  security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisProvider.java
  security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysis2Test.java
  security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisTest.java
Labels: PR: waiting-for-review, Security Analysis

#1613 add new constructor with inputStream for GroovyDynamicModelsSupplier
  dynamic-simulation/dynamic-simulation-dsl/src/main/java/com/powsybl/dynamicsimulation/groovy/GroovyDynamicModelsSupplier.java
  dynamic-simulation/dynamic-simulation-dsl/src/test/java/com/powsybl/dynamicsimulation/groovy/GroovyDynamicModelSupplierTest.java
Labels: PR: ready-to-be-merged

#1611 Fix empty alias type management
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Identifiable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractIdentifiable.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractAliasesTest.java
Labels: IIDM, PR: ready-to-be-merged

#1623 Update sensitivity factors provider API
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/JsonSensitivityFactorsProvider.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityFactorsProvider.java
Labels: Breaking Change, Feature, Sensitivity

#1625 Check on RTC regulation only throws exception if loadTapChangingCapabilities is true, else it logs a warning
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTapChangerTest.java
Labels: IIDM, PR: waiting-for-review

#1607 Add some information for mergedxnode extension
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnode.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeAdder.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeAdderImpl.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeImpl.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/MergedXnodeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
Labels: PR: ready-to-be-merged, extensions

#1628 Make slack terminal XML serializer versionable
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee118cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf-solved.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee14cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee300cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee30cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee57cdf.xiidm
  ieee-cdf/ieee-cdf-converter/src/test/resources/ieee9cdf.xiidm
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/SlackTerminalXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/slackTerminal_V1_0.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/slackTerminal_V1_1.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/slackTerminal_V1_2.xsd
  iidm/iidm-xml-converter/src/test/resources/slackTerminal.xml
  psse/psse-converter/src/test/resources/IEEE_118_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_14_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_24_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_57_bus.xiidm
  psse/psse-converter/src/test/resources/ThreeMIB_T3W_modified.xiidm
  psse/psse-converter/src/test/resources/ThreeMIB_T3W_phase.xiidm
  psse/psse-converter/src/test/resources/remoteControl.xiidm
Labels: Breaking Change, Doc needed, PR: ready-to-be-merged, XIIDM, extensions

#1632 Voltage level export : must iterate over graph vertex capacity
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
Labels: IIDM, PR: waiting-for-review, bug

#1633 Fix CGMES voltage limit import: if inconsistent, ignore
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
Labels: CGMES, PR: ready-to-be-merged, bug

#1630 Fix some invalid validation messages in UCTE converter.
  ucte/ucte-network/src/main/java/com/powsybl/ucte/network/UcteValidation.java
Labels: PR: ready-to-be-merged, UCTE, bug
