Repository powsybl/powsybl-core, pull requests merged in 2022-11, with the labels that each got.

#1901 CGMES. Add functional logs
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1Catalog.java
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_invalid_voltage_bus/MicroGridTestConfiguration_BC_BE_SV_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_target_deadband_negative/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/BoundaryEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesBoundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForVscConverters.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/StaticVarCompensatorConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SvInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChangerConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/FunctionalLogsTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-invalid-voltage-bus.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-target-deadband.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/miniGridNodeBreaker.txt
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  commons/src/main/java/com/powsybl/commons/reporter/TypedValue.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/AbstractPowsyblTripleStore.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES, PR: next-release, Log

#2340 Remove feeder bay
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Connectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractHvdcConverterStation.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevelExt.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/util/RemoveDanglingSwitchesTopologyTest.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractConnectableAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ModificationReports.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveFeederBay.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLine.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/RemoveFeederBayTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/util/AbstractRemoveDanglingSwitchesTopologyTest.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
Labels: Breaking Change, PR: ready-to-be-merged, PR: next-release, Modification

#2353 Fix default implementation of deprecated method of StandbyAutomatonAdder
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/StandbyAutomatonAdder.java
Labels: bug

#2354 Small clean in CgmesExportContext (renaming and small refactoring)
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
Labels: CGMES

#2345 Dangling line boundary implementation: get voltage level of network side
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Boundary.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/AbstractHalfLineBoundaryImpl.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/DanglingLineBoundaryImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BoundaryAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TieLineAdapterTest.java
Labels: IIDM, Breaking Change

#2348 Cgmes Conversion: Extend hvdc configuration.
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Hvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandEndHvdc.java
Labels: CGMES, PR: ready-to-be-merged

#2343 Fix remaining dangling switches when replacing tee point by voltage level on line
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ReplaceTeePointByVoltageLevelOnLine.java
  iidm/iidm-modification/src/test/resources/eurostag-replace-tee-point-by-voltage-level-on-line-nbbb.xml
  iidm/iidm-modification/src/test/resources/fictitious-replace-tee-point-by-voltage-level-on-line-nb.xml
Labels: PR: next-release

#2361 CGMES export: do not throw exception when merged lines contain boundary terminals properties
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2358 Fix regression in distributed security analysis
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/SecurityAnalysisCommandOptions.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandler.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/distributed/SecurityAnalysisCommandOptionsTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/distributed/SecurityAnalysisExecutionHandlersTest.java
Labels: bug, PR: ready-to-be-merged, PR: next-release

#2360 [Network modification] Factorize get tee point from lines
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ModificationReports.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ReplaceTeePointByVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLineBuilder.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/TopologyModificationUtils.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/ReplaceTeePointByVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLineTest.java
Labels: PR: ready-to-be-merged, PR: next-release

#2357 Refactoring CGMES logs
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesReports.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportProfilesConsistencyTest.java
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-invalid-voltage-bus.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-target-deadband.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/miniGridNodeBreaker.txt
Labels: CGMES, PR: next-release, Log

#2368 Add CGMES post-processor to import short-circuit data
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/CgmesShortCircuitPostProcessor.java
  cgmes/cgmes-shortcircuit/src/test/java/com/powsybl/cgmes/shortcircuit/CgmesImporterTest.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2347 CGMES export: fix export of boundary data from dangling lines
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/Cgmes3Catalog.java
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1Catalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2326 Handle UCTE mixed ratio and phase tap changers
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/combineRtcAndPtc.uct
Labels: PR: next-release

#2378 Fix vulnerability [CVE-2022-41854] by bumping snakeyaml to 1.33
  pom.xml
Labels: Quality, vulnerability

#2366 add battery contingency element
  contingency/contingency-api/src/main/java/com/powsybl/contingency/BatteryContingency.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/Contingency.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/ContingencyBuilder.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/ContingencyElement.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/ContingencyElementType.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/contingency/list/criterion/PropertyCriterion.java
  contingency/contingency-api/src/main/java/com/powsybl/contingency/contingency/list/criterion/SingleCountryCriterion.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/BatteryContingencyTest.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/tasks/BatteryTrippingTest.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/tripping/BatteryTripping.java
Labels: Action DSL, :thumbsup: Top Issue!, PR: waiting-for-review
