Repository powsybl/powsybl-core, pull requests merged in 2022-06, with the labels that each got.

#2148 CGMES export: export definition of regulating controls only once
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/RegulatingControlEq.java
Labels: CGMES, PR: ready-to-be-merged

#2150 CGMES export: handle regions not related to countries
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/test/FakeCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#2144 Move GeneratorStartup extension to powsybl-core
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeXmlSerializer.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/GeneratorStartup.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/GeneratorStartupAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorStartupAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorStartupAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorStartupImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/GeneratorStartupTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractGeneratorStartupTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/generatorStartup_V1_0.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/generatorStartup_V1_1.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_8/generatorStartupRef.xml
Labels: Breaking Change, PR: ready-to-be-merged, extensions

#2130 Matpower export
  matpower/matpower-converter/pom.xml
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerConstants.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerExporter.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-converter/src/test/java/com/powsybl/matpower/converter/MatpowerExporterTest.java
  matpower/matpower-converter/src/test/resources/be.json
  matpower/matpower-converter/src/test/resources/ieee14.xiidm
  matpower/matpower-converter/src/test/resources/sim1.json
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MBus.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerReader.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerWriter.java
  matpower/matpower-model/src/test/resources/ieee14.json
Labels: PR: ready-to-be-merged

#2147 Add possible values for extensions (from present extensions modules)
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/SlackTerminalXmlTest.java
Labels: Configuration, Breaking Change, PR: ready-to-be-merged, extensions

#2137 CGMES export: ignore fictitious switches created for disconnected terminals
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_terminal_disconnected/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
Labels: CGMES, PR: ready-to-be-merged

#2083 Fix ZIP datasource with dot in name
  commons/src/main/java/com/powsybl/commons/datasource/DataSourceUtil.java
  commons/src/test/java/com/powsybl/commons/datasource/AbstractDataSourceTest.java
  commons/src/test/java/com/powsybl/commons/datasource/ZipFileDataSourceTest.java
Labels: PR: next-release

#2108 Tieflow may not be a dangling line
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
Labels: CGMES

#2125 HVDC: Support additional configuration
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_twoDcLineSegments/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_twoAcDcConverters_twoDcLineSegments_noAcConnectionAtOneEnd/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_two_DCLineSegments_one_transformer/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_two_DCLineSegments_one_transformer/SmallGridTestConfiguration_HVDC_TP_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/HVDC_with_two_transformers/SmallGridTestConfiguration_HVDC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Hvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandEndHvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandsEnds.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/NodeEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
Labels: CGMES

#2153 Use targetP/targetQ instead of p0/q0 for IIDM Battery
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkReader.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkReaderTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Battery.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/BatteryAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BatteryAdderAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BatteryAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/VoltageLevelAdapterTest.java
  iidm/iidm-scripting/src/main/groovy/com/powsybl/iidm/network/scripting/BatteryAdderExtension.groovy
  iidm/iidm-scripting/src/main/groovy/com/powsybl/iidm/network/scripting/BatteryExtension.groovy
  iidm/iidm-scripting/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  iidm/iidm-scripting/src/test/groovy/com/powsybl/iidm/network/scripting/BatteryExtensionTest.groovy
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBatteryTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/BatteryNetworkFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/BatteryXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/util/IidmXmlUtil.java
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_V1_8.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/iidm_equipment_V1_8.xsd
  iidm/iidm-xml-converter/src/test/resources/V1_8/activePowerControlRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/batteryRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/branchObservabilityRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/branchObservabilityRoundTripRefInvalid.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/injectionObservabilityRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/injectionObservabilityRoundTripRefInvalid.xml
Labels: IIDM, Breaking Change, Deprecated, XIIDM, PR: ready-to-be-merged, PR: next-release

#2157 Move scalables in iidm-modification
  action/action-dsl/src/test/resources/scalable.groovy
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/AbstractCompoundScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/AbstractInjectionScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/AbstractScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/DanglingLineScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/GeneratorScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/LoadScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/ProportionalScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/Scalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/ScalableAdapter.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/StackScalable.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/scalable/UpDownScalable.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/DanglingLineScalableTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/GeneratorScalableTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/LoadScalableTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/ScalableTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/ScalableTestNetwork.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/scalable/UpDownScalableTest.java
Labels: Breaking Change, PR: next-release, Scalable

#2158 SecurityAnalysisParameters is missing in SecurityAnalysisJsonModule
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/JsonSecurityAnalysisParameters.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisJsonModule.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisParametersJsonModule.java
Labels: bug, Breaking Change, PR: ready-to-be-merged

#2160 Fix: read startup extension with itesla namespace
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/generatorStartup_itesla_V1_0.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_8/generatorStartupRef-1.0-itesla.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/generatorStartupRef-1.0.xml
Labels: bug, XIIDM, PR: ready-to-be-merged, PR: next-release, extensions

#2156 Bump maven-core to 3.8.5 [CVE-2021-26291]
  pom.xml
Labels: PR: ready-to-be-merged, vulnerability

#2163 Loading limits bug when exporting to XIIDM 1.5
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/LoadingLimitsBugTest.java
  iidm/iidm-xml-converter/src/test/resources/loading-limits-bug.xml
Labels: bug, XIIDM, PR: ready-to-be-merged

#2161 CGMES export: fix hidden tap changer export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2165 Write dangling lines' terminals' power flows at network side
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
Labels: CGMES, PR: next-release

#2180 CGMES import parameter for IIDM id source: mRID or rdfID
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/SourceForIidmIdentifiersTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStore.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreFactory.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreFactoryService.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/TripleStoreOptions.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreFactoryServiceRDF4J.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
Labels: CGMES

#2169 Limit getters return optionals
  action/action-dsl/pom.xml
  action/action-dsl/src/main/java/com/powsybl/action/dsl/ast/ActionExpressionEvaluator.java
  action/action-dsl/src/test/java/com/powsybl/action/dsl/ConditionDslLoaderTest.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/Cgmes3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Branch.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/FlowsLimitsHolder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/LoadingLimitsAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/OperationalLimitsAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LimitViolationUtils.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBranch.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsHolderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/AbstractBranchAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/DanglingLineAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/MergedLine.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapter.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/DanglingLineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/LoadFlowBasedPhaseShifterOptimizer.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/TopologyModificationUtils.java
  iidm/iidm-scripting/src/main/groovy/com/powsybl/iidm/network/scripting/BranchExtension.groovy
  iidm/iidm-scripting/src/main/groovy/com/powsybl/iidm/network/scripting/FlowLimitsHolderExtension.groovy
  iidm/iidm-scripting/src/main/resources/META-INF/groovy/org.codehaus.groovy.runtime.ExtensionModule
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractActivePowerLimitsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractApparentPowerLimitsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCurrentLimitsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractDanglingLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractThreeWindingsTransformerTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractConnectableXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/DanglingLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/LineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ThreeWindingsTransformerXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TieLineXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/TwoWindingsTransformerXml.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/LimitViolationDetector.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/detectors/LimitViolationDetectorTest.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
Labels: IIDM, Breaking Change, PR: ready-to-be-merged

#2162 CGMES export: avoid duplicated base voltages
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: CGMES, PR: ready-to-be-merged
