Repository powsybl/powsybl-core, pull requests merged in 2022-08, with the labels that each got.

#2216 Allow boundaries to be assembled with other network data in the same instance file
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/Cgmes3ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/cgmes3-test-models-modified/MicroGrid/singleFile/20210209T1930Z_1D_BE_9.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_single_file/MicroGridTestConfiguration_BC_BE_V2.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/Cgmes3ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2244 Upgrade rdf4j to latest version (4.1.0) for performance improvements
  pom.xml
Labels: PR: ready-to-be-merged, dependencies, PR: next-release, Quality

#2235 Fix NPE in BranchObservability XML serialization
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BranchObservabilityXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/BranchObservabilityXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_6/branchObservabilityRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_7/branchObservabilityRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_8/branchObservabilityRoundTripRef.xml
Labels: bug, PR: ready-to-be-merged, PR: next-release, extensions

#2247 Upgrade jgrapht to 1.5.1
  pom.xml
Labels: bug, PR: ready-to-be-merged, PR: next-release, Quality

#2246 Extension adder: change returns type of add method
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtensionAdder.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionAdder.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/MergedXnodeTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorShortCircuitAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/IdentifiableShortCircuitAdderImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/GeneratorShortCircuitTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractCoordinatedReactiveControlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractGeneratorStartupTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcAngleDroopActivePowerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcOperatorActivePowerRangeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractRemoteReactivePowerControlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractSlackTerminalTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractSubstationAndLinePositionTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractThreeWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractTwoWindingsTransformerPhaseAngleClockTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractTwoWindingsTransformerToBeEstimatedTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractVoltagePerReactivePowerControlTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ActivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BranchObservabilityXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BranchStatusXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BusbarSectionPositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ConnectablePositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/CoordinatedReactiveControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/DiscreteMeasurementsXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorEntsoeCategoryXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/HvdcAngleDroopActivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/HvdcOperatorActivePowerRangeXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/IdentifiableShortCircuitXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/InjectionObservabilityXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LinePositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LoadDetailXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/MeasurementsXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/SlackTerminalXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/SubstationPositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ThreeWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ThreeWindingsTransformerToBeEstimatedXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/TwoWindingsTransformerPhaseAngleClockXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/TwoWindingsTransformerToBeEstimatedXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/VoltagePerReactivePowerControlXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorEntsoeCategoryXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorShortCircuitXmlSerializerTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/GeneratorStartupXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/HvdcAngleDroopActivePowerControlXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/HvdcOperatorActiveRangeXmlTest.java
Labels: IIDM, Breaking Change, PR: ready-to-be-merged, PR: next-release

#2151 CGMES export: ensure all exported identifiers are valid
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_NL_SSH_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_NL_TP_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/AbstractCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/FixedCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NamingStrategyFactory.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/SimpleCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/IslandEndHvdc.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/RegulatingControlEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TapChangerEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesMappingTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/Repackager.java
Labels: Doc needed, CGMES, PR: next-release

#2238 Rename topology network modifications
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ConnectVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateLineOnLine.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/ConnectVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/CreateLineOnLineTest.java
Labels: Doc needed, Breaking Change, PR: ready-to-be-merged, PR: next-release, Modification
