Repository powsybl/powsybl-core, pull requests merged in 2022-05, with the labels that each got.

#2097 Fix export of generating units with multiple synchronous machines
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_gen_unit_with_two_sync_machines/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
Labels: CGMES, PR: ready-to-be-merged

#2093 Throw exception when trying to access component of removed equipment
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubstationImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBatteryTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractGeneratorTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSubstationTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractVoltageLevelTest.java
Labels: Breaking Change, PR: ready-to-be-merged

#2112 Fill ENTSOE category extension from CGMES generating unit description
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_gu_description_entsoe_category/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_gu_description_entsoe_category/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/EntsoeCategoryPostProcessor.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES

#2106 Fix: connectivity is symmetrical when attaching a voltage level on a line
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AttachVoltageLevelOnLine.java
  iidm/iidm-modification/src/test/resources/eurostag-line-split-nb-vl.xml
Labels: IIDM, Breaking Change, PR: ready-to-be-merged

#2102 CGMES export : phase tap changers exported as tabular if EQ is exported
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TapChangerEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChanger.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangerImpl.java
Labels: CGMES, PR: ready-to-be-merged

#2109 CGMES export : create equivalent injection id and terminal if not present
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
Labels: CGMES, PR: ready-to-be-merged

#2105 CGMES export EQ : tap changer regulating controls
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TapChangerEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
Labels: CGMES

#2062 Dummy platform config when no PlatformConfigProvider found
  action/action-dsl/src/main/java/com/powsybl/action/dsl/GroovyDslContingenciesProviderFactory.java
  action/action-simulator/src/main/java/com/powsybl/action/simulator/loadflow/LoadFlowActionSimulatorConfig.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  commons/src/main/java/com/powsybl/commons/config/AbstractModuleConfigRepository.java
  commons/src/main/java/com/powsybl/commons/config/BaseVoltagesConfig.java
  commons/src/main/java/com/powsybl/commons/config/EnvironmentModuleConfigRepository.java
  commons/src/main/java/com/powsybl/commons/config/ModuleConfigRepository.java
  commons/src/main/java/com/powsybl/commons/config/PlatformConfig.java
  commons/src/main/java/com/powsybl/commons/config/PropertiesModuleConfigRepository.java
  commons/src/main/java/com/powsybl/commons/config/StackedModuleConfigRepository.java
  commons/src/main/java/com/powsybl/commons/io/table/TableFormatterConfig.java
  commons/src/test/java/com/powsybl/commons/config/BaseVoltagesConfigTest.java
  commons/src/test/java/com/powsybl/commons/config/EmptyPlatformConfigTest.java
  commons/src/test/java/com/powsybl/commons/config/EnvironmentModuleConfigRepositoryTest.java
  commons/src/test/java/com/powsybl/commons/config/PropertiesPlatformConfigTest.java
  commons/src/test/java/com/powsybl/commons/config/XmlPlatformConfigTest.java
  commons/src/test/java/com/powsybl/commons/config/YamlPlatformConfigTest.java
  computation-local/src/main/java/com/powsybl/computation/local/LocalComputationConfig.java
  config-test/src/test/java/com/powsybl/config/test/TestPlatformConfigProviderTest.java
  contingency/contingency-dsl/src/main/java/com/powsybl/contingency/dsl/GroovyDslContingenciesProviderFactory.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/BoundaryPointXlsParser.java
  entsoe-util/src/test/java/com/powsybl/entsoe/util/BoundaryPointXlsParserTest.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportConfig.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/ParameterDefaultValueConfig.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/LoadFlowBasedPhaseShifterOptimizerConfig.java
  iidm/iidm-scripting/src/main/java/com/powsybl/iidm/network/scripting/GroovyScriptPostProcessor.java
  iidm/iidm-scripting/src/main/java/com/powsybl/iidm/network/scripting/JavaScriptPostProcessor.java
  iidm/iidm-scripting/src/test/java/com/powsybl/iidm/network/scripting/GroovyScriptPostProcessorTest.java
  iidm/iidm-scripting/src/test/java/com/powsybl/iidm/network/scripting/JavaScriptPostProcessorTest.java
  loadflow/loadflow-validation/src/main/java/com/powsybl/loadflow/validation/ValidationConfig.java
  pom.xml
  powerfactory/powerfactory-db/src/main/java/com/powsybl/powerfactory/db/PowerFactoryAppUtil.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/execution/SecurityAnalysisExecutionBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/tools/SecurityAnalysisTool.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/tools/SecurityAnalysisToolTest.java
Labels: Breaking Change, Deprecated

#2121 Cgmes conversion: Delete unused class
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TapChangerTransformers.java
Labels: CGMES

#2122 Import/export parameter possible values
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExporter.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-measurements/src/main/java/com/powsybl/cgmes/measurements/CgmesMeasurementsPostProcessor.java
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/ConversionParameters.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/Parameter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/ParameterDefaultValueConfig.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/parameters/ParameterType.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/ConversionParametersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/parameters/ParameterTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
Labels: Breaking Change

#2123 Remove Jena triplestore implementation
  cgmes/cgmes-conformity/pom.xml
  cgmes/cgmes-model-alternatives/pom.xml
  cgmes/cgmes-model/pom.xml
  distribution-core/pom.xml
  pom.xml
  triple-store/pom.xml
  triple-store/triple-store-impl-jena/pom.xml
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreFactoryServiceJena.java
  triple-store/triple-store-impl-jena/src/main/java/com/powsybl/triplestore/impl/jena/TripleStoreJena.java
  triple-store/triple-store-impl-rdf4j/src/main/java/com/powsybl/triplestore/impl/rdf4j/TripleStoreRDF4J.java
  triple-store/triple-store-test/pom.xml
Labels: Doc needed, Breaking Change, PR: ready-to-be-merged

#2107 CGMES EQ export : consider 2 and 3-winding transformer tap changers
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
Labels: PR: waiting-for-review, PR: ready-to-be-merged, PR: next-release

#2111 CGMES export: only export terminals for objects exported as equipment
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2023 Add cgmes naming strategy
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NamingStrategyFactory.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/SubstationIdMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractIdentifiedObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SvInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/VoltageLevelConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/StaticVarCompensatorEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TransformerConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesMappingTest.java
  triple-store/triple-store-api/src/main/java/com/powsybl/triplestore/api/PropertyBag.java
Labels: Doc needed, CGMES, PR: ready-to-be-merged, PR: next-release

#2120 upgrade poi-ooxml to remove javax.xml.stream jars in dependencies
  pom.xml
Labels: PR: ready-to-be-merged

#2131 CGMES import: ensure path exists before trying to load boundaries
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
Labels: CGMES

#2089 add methods to get specific parameters for sensibility and security
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisParameters.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisProvider.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/JsonSecurityAnalysisParameters.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisParametersDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisParametersSerializer.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisParametersTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/JsonSecurityAnalysisParametersTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/SecurityAnalysisProviderMock.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisParameters.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisProvider.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/SensitivityAnalysisTool.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/json/JsonSensitivityAnalysisParameters.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/json/SensitivityAnalysisParametersDeserializer.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/json/SensitivityAnalysisParametersSerializer.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/json/SensitivityJson.java
  sensitivity-analysis-api/src/main/java/com/powsybl/sensitivity/json/SensitivityJsonModule.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityAnalysisParametersTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityAnalysisProviderMock.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityFactorTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityValueTest.java
  sensitivity-analysis-api/src/test/java/com/powsybl/sensitivity/SensitivityVariableSetTest.java
Labels: Doc needed, Breaking Change, PR: ready-to-be-merged, PR: next-release

#2135 Move GL CGMES conversion into core
  cgmes/cgmes-gl/pom.xml
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/AbstractPositionExporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/CgmesGLExporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/CgmesGLImportPostProcessor.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/CgmesGLImporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/CgmesGLModel.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/CgmesGLUtils.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/ExportContext.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/LinePositionExporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/LinePositionImporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/SubstationPositionExporter.java
  cgmes/cgmes-gl/src/main/java/com/powsybl/cgmes/gl/SubstationPositionImporter.java
  cgmes/cgmes-gl/src/main/resources/CGMES-GL.sparql
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/AbstractCgmesGLTest.java
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/CgmesGLExporterTest.java
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/CgmesGLImportPostProcessorTest.java
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/CgmesGLImporterTest.java
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/CgmesGLModelTest.java
  cgmes/cgmes-gl/src/test/java/com/powsybl/cgmes/gl/GLTestUtils.java
  cgmes/pom.xml
  distribution-core/pom.xml
  pom.xml
Labels: Breaking Change, PR: next-release

#2139 Add possible values for import/export parameters when possible
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExporter.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
Labels: PR: ready-to-be-merged, PR: next-release, Conversion

#2116 PSSE Converter: Fix error when moving the shunt admittance between ideal ratio and transmission impedance
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/TransformerConverter.java
  psse/psse-converter/src/test/resources/ExampleVersion32.xiidm
  psse/psse-converter/src/test/resources/IEEE_118_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_14_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_14_isolated_buses.xiidm
  psse/psse-converter/src/test/resources/IEEE_30_bus.xiidm
  psse/psse-converter/src/test/resources/IEEE_57_bus.xiidm
  psse/psse-converter/src/test/resources/SwitchedShunt.xiidm
  psse/psse-converter/src/test/resources/ThreeMIB_T3W_modified.xiidm
  psse/psse-converter/src/test/resources/ThreeMIB_T3W_phase.xiidm
  psse/psse-converter/src/test/resources/TwoWindingsTransformerPhase.xiidm
  psse/psse-converter/src/test/resources/remoteControl.xiidm
  psse/psse-converter/src/test/resources/twoTerminalDc.xiidm
Labels: PR: ready-to-be-merged, PR: next-release, PSS/E

#2126 Bus and branch result extension
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResult.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/SecurityAnalysisResultBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/BranchResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/BranchResultSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/BusResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/BusResultSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/PostContingencyResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/PreContingencyResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisJsonModule.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/ThreeWindingsTransformerResultDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/ThreeWindingsTransformerResultSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/BranchResult.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/BusResult.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/PostContingencyResult.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/PreContingencyResult.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/results/ThreeWindingsTransformerResult.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/SecurityAnalysisResultBuilderTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/converter/ExporterTest.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/PostContingencyResultTest.java
  security-analysis/security-analysis-api/src/test/resources/SecurityAnalysisResult.json
  security-analysis/security-analysis-default/src/main/java/com/powsybl/security/impl/DefaultSecurityAnalysis.java
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/SecurityAnalysisTest.java
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/results/BusResultTest.java
Labels: Breaking Change, PR: ready-to-be-merged, PR: next-release

#2128 XmlInputFactory: manually clear the inputstream to allow gc
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/FullModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/NamespaceReader.java
  commons/src/main/java/com/powsybl/commons/xml/XmlUtil.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
Labels: PR: ready-to-be-merged, PR: next-release

#2141 Add distributed active power to load flow result
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResult.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResultImpl.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultDeserializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultSerializer.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/LoadFlowResultJsonTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/tools/RunLoadFlowToolTest.java
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion13.json
Labels: Breaking Change, PR: ready-to-be-merged, PR: next-release

#2138 Fix IdentifiableShortCircuitAdderImpl implementation (generics)
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/IdentifiableShortCircuitAdderImpl.java
Labels: IIDM, PR: ready-to-be-merged, extensions

#2140 CGMES import: consider DC Topological Nodes
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity2Catalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_BE_SSH_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_BE_TP_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_ENTSO-E_SV_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_HVDC_SSH_1.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_HVDC_TP_1.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_NL_SSH_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_1D_NL_TP_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_BE_DY_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_BE_EQ_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_BE_GL_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_ENTSO-E_DL_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_ENTSO-E_EQ_BD_2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_ENTSO-E_TP_BD_2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_HVDC_DY_1.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_HVDC_EQ_1.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_HVDC_GL_1.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_NL_DY_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_NL_EQ_4.xml
  cgmes/cgmes-conformity/src/main/resources/conformity/cas-2/MicroGrid/Type2_T2/CGMES_v2.4.15_MicroGridTestConfiguration_T2_Assembled_Complete_v2/20171002T0930Z_NL_GL_4.xml
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity2Test.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity2ConversionTest.java
Labels: CGMES, PR: ready-to-be-merged

#2146 CGMES export: shunt compensator reference to its regulating control
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ShuntCompensatorEq.java
Labels: CGMES, PR: ready-to-be-merged
