Repository powsybl/powsybl-core, pull requests merged in 2022-02, with the labels that each got.

#1865 Fix transformers substation check
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerAdderImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerInternalConnectionsTest.java
Labels: bug, IIDM, PR: ready-to-be-merged

#1938 Matpower: update resources to be consistent with the value of the phase shift angle
  matpower/matpower-converter/pom.xml
  matpower/matpower-converter/src/test/java/com/powsybl/matpower/converter/MatpowerImporterTest.java
  matpower/matpower-converter/src/test/resources/ieee14-phase-shifter.xiidm
  matpower/matpower-model/src/test/resources/ieee14-phase-shifter.json
Labels: Matpower

#1963 Additional clarifications on power flow inputs (SSH) and state values (SV)
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractCgmesTapChangerBuilder.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/HvdcConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/JoinVoltageLevelTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TieFlowConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TransformerConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/Cgmes3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
Labels: CGMES

#1951 User functional logs reporter in import data variants and importer wrapper
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/TestImporter.java
  iidm/iidm-converter-api/src/test/resources/postProcessorReporterTest.json
Labels: bug, PR: ready-to-be-merged

#1949 Delete CGMES update to only use CGMES full export
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtension.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdderImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionImpl.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesAdder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/VoltageLevelEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/CgmesUpdate.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/Changelog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChange.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeCreation.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeRemoval.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmChangeUpdate.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/IidmToCgmes.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreChange.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreChangeParams.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreComputedValueUpdateReference.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/TripleStoreSimpleUpdateReference.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/GeneratorToSynchronousMachine.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/IidmToCgmes16.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LineToACLineSegment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/LoadToEnergyConsumer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/ShuntCompensatorToShuntCompensator.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/TwoWindingsTransformerToPowerTransformer.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/update/elements16/VoltageLevelToVoltageLevel.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesNetworkCatalog.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportAlternativesTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesAdderTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/Comparison.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/network/compare/ComparisonConfig.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/CgmesUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogCreationRemovalTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/ChangelogUpdateTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/update/NetworkChanges.java
  cgmes/cgmes-conversion/src/test/resources/cim14/7buses.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/ieee14.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/nordic32.xiidm
  cgmes/cgmes-conversion/src/test/resources/cim14/tx-from-microBE-adapted.xiidm
Labels: Doc needed, CGMES, Breaking Change, PR: waiting-for-review

#1972 Remove useless getConnectable() private method
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
Labels: IIDM, PR: ready-to-be-merged

#1970 Add run with reporter for short circuit analysis
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysis.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysisProvider.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitAnalysisMock.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitAnalysisTest.java
Labels: PR: ready-to-be-merged, Log, Shortcircuits

#1973 conveted from floats to double
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetail.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LoadDetailAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailImpl.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LoadDetailXmlSerializer.java
Labels: IIDM, XIIDM, PR: ready-to-be-merged, extensions

#1945 Add hypotheses to create a voltage level on a line and to attach a line to another line
  iidm/iidm-modification/pom.xml
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AttachNewLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AttachVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/TopologyModificationUtils.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/AttachNewLineOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/AttachVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/TopologyTestUtils.java
  iidm/iidm-modification/src/test/resources/eurostag-line-split-bb-l.xml
  iidm/iidm-modification/src/test/resources/eurostag-line-split-bb-vl.xml
  iidm/iidm-modification/src/test/resources/eurostag-line-split-nb-l.xml
  iidm/iidm-modification/src/test/resources/eurostag-line-split-nb-vl.xml
Labels: IIDM, Doc needed, Breaking Change, PR: ready-to-be-merged

#1978 Fix network corruption when second node already used
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/CorruptedNetworkWhenSecondNodeAlreadyUsed.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCorruptedNetworkWhenSecondNodeAlreadyUsed.java
Labels: bug, PR: next-release

#1979 Fix removing the "last" variant of a network for tap changers
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTapChanger.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTapChangerTest.java
Labels: bug, PR: next-release

#1981 Add missing artifacts in root pom's dependency management
  pom.xml
Labels: PR: ready-to-be-merged

#1982 Make a set of extensions multi-variant
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/RemoteReactivePowerControl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ActivePowerControlImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/CoordinatedReactiveControlImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcAngleDroopActivePowerControlImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcOperatorActivePowerRangeImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerControlAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerControlImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractActivePowerControlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractCoordinatedReactiveControlTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcAngleDroopActivePowerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractHvdcOperatorActivePowerRangeTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractRemoteReactivePowerControlTest.java
Labels: Breaking Change, PR: ready-to-be-merged
