Repository powsybl/powsybl-core, pull requests merged in 2022-04, with the labels that each got.

#2054 Fix file leak when reading DGS file
  powerfactory/powerfactory-model/src/main/java/com/powsybl/powerfactory/model/StudyCaseLoader.java
Labels: PR: next-release

#2051 Propagate Cancel to CompletableFutureTask (kill external process of localcomputationmanager)
  computation/src/main/java/com/powsybl/computation/CompletableFutureTask.java
  computation/src/test/java/com/powsybl/computation/CompletableFutureTaskTest.java
Labels: PR: ready-to-be-merged, PR: next-release

#2050 Fix: does not crash during CGMES export when a terminal is disconnected
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2060 Substation and line position extensions
  iidm/iidm-extensions/pom.xml
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/Coordinate.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LinePosition.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/LinePositionAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/SubstationPosition.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/SubstationPositionAdder.java
  iidm/iidm-extensions/src/test/java/com/powsybl/iidm/network/extensions/CoordinateTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LinePositionAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LinePositionAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LinePositionImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SubstationPositionAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SubstationPositionAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SubstationPositionImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/SubstationAndLinePositionTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractSubstationAndLinePositionTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/LinePositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/SubstationPositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/linePosition.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/substationPosition.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/SubstationAndLinePositionXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_7/substationAndLinePositionRoundTripRef.xml
Labels: IIDM, PR: next-release

#2065 Ensure IDs of calculated buses are unique in IIDM networks
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
Labels: bug, IIDM, PR: next-release

#2063 Ensure connectivity nodes and topological nodes have different IDs in CGMES networks from IIDM networks
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
Labels: bug, CGMES, PR: next-release

#2074 Fix switch terminals ID in CGMES EQ export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: bug, CGMES, PR: next-release

#2077 Fix Regulating Control export in CGMES export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: bug, CGMES, PR: ready-to-be-merged

#2070 Replacing Objects.equal with ==
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/GeneratorXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/StaticVarCompensatorXml.java
Labels: bug, PR: ready-to-be-merged

#2075 Fix NPE when removing a container (voltage level, substation...) after removing one switch
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
Labels: bug

#2080 Fix NPE in busbar section adder
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusbarSectionAdderImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/NpeInBusbarSectionAdderTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNpeInBusbarSectionAdderTest.java
Labels: bug, PR: ready-to-be-merged

#2086 Math native 1.2.1
  pom.xml
Labels: bug

#2088 Bump mockito to 4.4.0
  action/action-simulator/src/test/java/com/powsybl/action/simulator/loadflow/ParallelLoadFlowActionSimulatorTest.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/BusRefTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/BusbarSectionAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/LineAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/ThreeWindingsTransformerAdapterTest.java
  iidm/iidm-mergingview/src/test/java/com/powsybl/iidm/mergingview/TwoWindingsTransformerAdapterTest.java
  loadflow/loadflow-results-completion/src/test/java/com/powsybl/loadflow/resultscompletion/AbstractLoadFlowResultsCompletionTest.java
  pom.xml
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/BigDoubleBufferTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/BigStringBufferTest.java
Labels: Breaking Change

#2087 Fix NPE: no NPE thrown when equipment added and validation level has been invalidated
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkTest.java
Labels: bug, IIDM, PR: ready-to-be-merged

#2094 description, modellingAuthoritySet are not identifiers
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
Labels: CGMES, PR: next-release
