Repository powsybl/powsybl-core, pull requests merged in 2022-10, with the labels that each got.

#2298 [CGMES] Find a voltage level when substation contains nodes + explicit exception thrown when access to undefined voltage level of conducting equipment instead of NullPointerException
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_missing_substation_region/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_substation_node/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractBranchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
Labels: CGMES, PR: ready-to-be-merged

#2311 Move cgmes shortcircuits into core.
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/BusBranch_busbarSections_ipMax/SmallGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/SmallGrid/BusBranch_busbarSections_ipMax/SmallGridTestConfiguration_BC_TP_v3.0.0.xml
  cgmes/cgmes-shortcircuit/pom.xml
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/BusbarSectionShortCircuitImporter.java
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/CgmesShortCircuitImporter.java
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/CgmesShortCircuitImporterUtils.java
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/CgmesShortCircuitModel.java
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/GeneratorShortCircuitImporter.java
  cgmes/cgmes-shortcircuit/src/main/java/com/powsybl/cgmes/shorcircuit/PerUnit.java
  cgmes/cgmes-shortcircuit/src/main/resources/CGMES-SHORT-CIRCUITS.sparql
  cgmes/cgmes-shortcircuit/src/test/java/com/powsybl/cgmes/shortcircuit/CgmesImporterTest.java
  cgmes/pom.xml
  distribution-core/pom.xml
  pom.xml
Labels: CGMES, PR: ready-to-be-merged

#2289 [Network modification] Create voltage level topology
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopology.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopologyBuilder.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ModificationReports.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/ConnectVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/CreateLineOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopologyTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/ReplaceTeePointByVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/RevertConnectVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/TopologyTestUtils.java
  iidm/iidm-modification/src/test/resources/create-vl-topo-test-complete.xiidm
  iidm/iidm-modification/src/test/resources/create-vl-topo-test.xiidm
Labels: IIDM, Modification

#2321 refactor action deserializer
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/ActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisJsonModule.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/ActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/ActionListDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/ActionListSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/ActionSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/LineConnectionActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/MultipleActionsActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/PhaseTapChangerTapPositionActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/SwitchActionDeserializer.java
Labels: Refactoring

#2320 add ratio tap changer to four substations network
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/FourSubstationsNodeBreakerFactory.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/DiscreteMeasurementsXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_5/disMeasRef.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_6/disMeasRef.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_7/disMeasRef.xiidm
  iidm/iidm-xml-converter/src/test/resources/V1_8/disMeasRef.xiidm
Labels: IIDM, Breaking Change

#2322 UCTE import, avoid empty element name properties
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteImporter.java
  ucte/ucte-converter/src/test/java/com/powsybl/ucte/converter/UcteImporterTest.java
  ucte/ucte-converter/src/test/resources/emptyElementName.uct
Labels: PR: ready-to-be-merged

#2316 Fix ShortCircuitParametersSerializer boolean default values
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/json/ShortCircuitParametersSerializer.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitParametersTest.java
  shortcircuit-api/src/test/resources/ShortCircuitParameters.json
Labels: bug, Breaking Change, PR: ready-to-be-merged

#2323 make OperatorStrategy extendable
  commons/src/main/java/com/powsybl/commons/json/JsonUtil.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/OperatorStrategyDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/OperatorStrategySerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/strategy/OperatorStrategy.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/JsonOperatorStrategyExtensionTest.java
  security-analysis/security-analysis-api/src/test/resources/OperatorStrategyFileExtensionsTest.json
  security-analysis/security-analysis-api/src/test/resources/OperatorStrategyFileExtensionsTest2.json
Labels: Action DSL, PR: waiting-for-review, extensions

#2230 Detach a line from 3 lines (attach new line on line reverse action)
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ModificationReports.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLineBuilder.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLineTest.java
  iidm/iidm-modification/src/test/resources/eurostag-revert-create-line-on-line-bb-l.xml
  iidm/iidm-modification/src/test/resources/eurostag-revert-create-line-on-line-nb-l.xml
  iidm/iidm-modification/src/test/resources/fictitious-revert-create-line-on-line-l.xml
Labels: IIDM, PR: ready-to-be-merged, Modification

#2327 CGMES export fix: do not export flows and terminals of non-exported switches
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
Labels: bug, CGMES, PR: ready-to-be-merged

#2237 Generator action
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/action/GeneratorAction.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/action/GeneratorActionBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisJsonModule.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/ActionSerializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/GeneratorActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/GeneratorActionSerializer.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/JsonActionAndOperatorStrategyTest.java
  security-analysis/security-analysis-api/src/test/resources/ActionFileTest.json
Labels: PR: waiting-for-review

#2333 Fix loop to get unused positions + refactoring + min is 0, not Integer.MIN_VALUE
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/TopologyModificationUtils.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/TopologyModificationUtilsTest.java
  iidm/iidm-modification/src/test/resources/network-nb-no-connectable-position.xiidm
Labels: Modification

#2336 Bump jackson to 2.13.4 and jackson-databind to 2.13.4.2 [CVE-2022-42003] [CVE-2022-42004]
  pom.xml
Labels: dependencies, PR: next-release, vulnerability

#2329 CGMES. Fix conversion of equivalent branches with different nominal voltages
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_eqbranch_with_different_nominals/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentBranchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/EquivalentBranchConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged, PR: next-release

#2328 Add missing attributes or references in CGMES export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/AcLineSegmentEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/GeneratingUnitEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/PowerTransformerEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ShuntCompensatorEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/StaticVarCompensatorEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/SwitchEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TapChangerEq.java
Labels: bug, CGMES, PR: ready-to-be-merged, PR: next-release

#2331 Load action
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/action/GeneratorActionBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/action/LoadAction.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/action/LoadActionBuilder.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/SecurityAnalysisJsonModule.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/LoadActionDeserializer.java
  security-analysis/security-analysis-api/src/main/java/com/powsybl/security/json/action/LoadActionSerializer.java
  security-analysis/security-analysis-api/src/test/java/com/powsybl/security/json/JsonActionAndOperatorStrategyTest.java
  security-analysis/security-analysis-api/src/test/resources/ActionFileTest.json
Labels: PR: next-release

#2337 Powerfactory: Generator converter, for targetP and targetQ use pgini_a and qgini_a if are available
  powerfactory/powerfactory-converter/src/main/java/com/powsybl/powerfactory/converter/GeneratorConverter.java
Labels: PR: ready-to-be-merged, PR: next-release, PowerFactory

#2335 StandbyAutomaton extension of static var compensator
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/StandbyAutomaton.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/StandbyAutomatonAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/StandbyAutomatonAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/StandbyAutomatonAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/StandbyAutomatonImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/StandbyAutomatonTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractStandbyAutomatonTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/StandbyAutomatonXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/standbyAutomaton.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/StandbyAutomatonXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/standbyAutomatonRoundTripRef.xml
Labels: PR: next-release

#2344 CGMES Export: export missing load groups
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/LoadGroup.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/LoadGroups.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/EnergyConsumerEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES

#2338 Matpower: fix inverted voltage limits
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-converter/src/test/java/com/powsybl/matpower/converter/MatpowerImporterTest.java
  matpower/matpower-converter/src/test/resources/ieee14-inverted-voltage-limits.xiidm
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerModel.java
Labels: bug, PR: ready-to-be-merged, PR: next-release, Matpower
