Repository powsybl/powsybl-core, pull requests merged in 2022-07, with the labels that each got.

#2189 Allow setting terminal P for shunt compensators
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_shunt_compensator_g_p/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_shunt_compensator_g_p/MicroGridTestConfiguration_BC_NL_SV_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractShuntCompensatorTest.java
Labels: CGMES, PR: ready-to-be-merged

#2199 Move parameters to commons
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExporter.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPostProcessorTest.java
  cgmes/cgmes-measurements/src/main/java/com/powsybl/cgmes/measurements/CgmesMeasurementsPostProcessor.java
  commons/src/main/java/com/powsybl/commons/parameters/Parameter.java
  commons/src/main/java/com/powsybl/commons/parameters/ParameterDefaultValueConfig.java
  commons/src/main/java/com/powsybl/commons/parameters/ParameterType.java
  commons/src/test/java/com/powsybl/commons/parameters/ParameterTest.java
  ieee-cdf/ieee-cdf-converter/src/main/java/com/powsybl/ieeecdf/converter/IeeeCdfImporter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/Exporter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importer.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/tools/ImporterMock.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLExporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XMLImporter.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerExporter.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  powerfactory/powerfactory-converter/src/main/java/com/powsybl/powerfactory/converter/PowerFactoryImporter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseExporter.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/PsseImporter.java
  ucte/ucte-converter/src/main/java/com/powsybl/ucte/converter/UcteExporter.java
Labels: Breaking Change, PR: ready-to-be-merged

#2205 Fixes AttachVoltageLevelOnLine and AttachNewLineOnLine
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AttachNewLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AttachVoltageLevelOnLine.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/AttachNewLineOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/AttachVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/TopologyTestUtils.java
  iidm/iidm-modification/src/test/resources/eurostag-line-split-nb-vl.xml
  iidm/iidm-modification/src/test/resources/fictitious-line-split-l.xml
  iidm/iidm-modification/src/test/resources/fictitious-line-split-vl.xml
Labels: IIDM, Modification

#2198 Move extensions from sld to core
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/BranchStatus.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/BranchStatusAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/BusbarSectionPosition.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/BusbarSectionPositionAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ConnectablePosition.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ConnectablePositionAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchStatusAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchStatusAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchStatusImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BusbarSectionPositionAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BusbarSectionPositionAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BusbarSectionPositionImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ConnectablePositionAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ConnectablePositionAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ConnectablePositionImpl.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BranchStatusXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BusbarSectionPositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/ConnectablePositionXmlSerializer.java
  iidm/iidm-xml-converter/src/main/resources/xsd/branchStatus.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/busbarSectionPosition.xsd
  iidm/iidm-xml-converter/src/main/resources/xsd/connectablePosition.xsd
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/BranchStatusXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/BusbarSectionPositionXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/ConnectablePositionXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/branchStatusRef.xml
  iidm/iidm-xml-converter/src/test/resources/busbarSectionPositionRef.xml
  iidm/iidm-xml-converter/src/test/resources/connectablePositionRef.xml
Labels: Breaking Change

#1591 able to choose encoding for network xml export
  commons/src/main/java/com/powsybl/commons/xml/XmlUtil.java
  commons/src/test/java/com/powsybl/commons/AbstractConverterTest.java
  commons/src/test/java/com/powsybl/commons/xml/XmlUtilTest.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/ExportOptions.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/export/ExportOptionsTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/EncodingTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/NetworkXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/encoding/network.xml
Labels: XIIDM, PR: ready-to-be-merged

#2187 CGMES import: reset slack terminal only if previous was disconnected
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_multiple_generators_with_reference_priority/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_multiple_generators_with_reference_priority/MicroGridTestConfiguration_BC_NL_SSH_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_multiple_generators_with_reference_priority/MicroGridTestConfiguration_BC_NL_TP_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#2217 Importer and exporter refactoring
  action/action-simulator/src/main/java/com/powsybl/action/simulator/tools/ActionSimulatorTool.java
  action/action-simulator/src/test/java/com/powsybl/action/simulator/tools/ActionSimulatorToolTest.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/Exporter.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/export/Exporters.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/ImportConfig.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importer.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/import_/Importers.java
  iidm/iidm-converter-api/src/main/java/com/powsybl/iidm/tools/ConversionTool.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/export/ExportersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/ImportersTest.java
  iidm/iidm-converter-api/src/test/java/com/powsybl/iidm/import_/PostProcessorReporterTest.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/tools/RunLoadFlowTool.java
Labels: Breaking Change, PR: ready-to-be-merged, Conversion

#2197 Read base URI if present during CGMES triplestore import and apply to all files
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_explicitBase/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesOnDataSource.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/NamespaceReader.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/NamespaceReaderTest.java
  cgmes/cgmes-model/src/test/resources/empty_cim16_EQ_with_explicitBase.xml
Labels: CGMES, PR: ready-to-be-merged
