Repository powsybl/powsybl-core, pull requests merged in 2022-01, with the labels that each got.

#1874 Cgmes fix TieFlow mapping
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/Cgmes3ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/cgmes3-test-models-modified/SmallGrid/tieFlowMappedToEquivalentInjection/20210112T1742Z_1D_GB_EQ_001.xml
  cgmes/cgmes-conformity/src/test/resources/cgmes3-test-models-modified/SmallGrid/tieFlowMappedToSwitch/20210112T1742Z_1D_GB_EQ_001.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow_mapped_to_equivalent_injection/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow_mapped_to_equivalent_injection/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow_mapped_to_switch/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow_mapped_to_switch/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow_mapped_to_switch/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/SwitchesChain.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/TerminalMapping.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TieFlowConversionTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/BusBreakerVoltageLevelAdapter.java
  iidm/iidm-mergingview/src/main/java/com/powsybl/iidm/mergingview/NodeBreakerVoltageLevelAdapter.java
Labels: CGMES, PR: ready-to-be-merged

#1927 Allows to ensure ID unicity in Measurement and DiscreteMeasurement
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/DiscreteMeasurementAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/MeasurementAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/util/DiscreteMeasurementValidationUtil.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/util/MeasurementValidationUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementAdderImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractDiscreteMeasurementsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractMeasurementsTest.java
Labels: Breaking Change, PR: ready-to-be-merged, extensions

#1932 Correct typo getExtensionsName() into getExtensionName() in ExtensionAdderProvider
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionAdderImplProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesModelExtensionAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesDanglingLineBoundaryNodeAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesLineBoundaryNodeAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSshMetadataAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesSvMetadataAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesTapChangersAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CimCharacteristicsAdderImplProvider.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionAdderProvider.java
  commons/src/main/java/com/powsybl/commons/extensions/ExtensionAdderProviders.java
  commons/src/test/java/com/powsybl/commons/extensions/ExtensionAdderProvidersTest.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/EntsoeAreaAdderImplProvider.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/MergedXnodeAdderImplProvider.java
  entsoe-util/src/main/java/com/powsybl/entsoe/util/XnodeAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ActivePowerControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchObservabilityAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/CoordinatedReactiveControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/DiscreteMeasurementsAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorEntsoeCategoryAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/GeneratorShortCircuitAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcAngleDroopActivePowerControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/HvdcOperatorActivePowerRangeAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/IdentifiableShortCircuitAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/InjectionObservabilityAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/LoadDetailAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/MeasurementsAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/RemoteReactivePowerControlAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ThreeWindingsTransformerPhaseAngleClockAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ThreeWindingsTransformerToBeEstimatedAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/TwoWindingsTransformerPhaseAngleClockAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/TwoWindingsTransformerToBeEstimatedAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/VoltagePerReactivePowerControlAdderImplProvider.java
  iidm/iidm-scripting/src/test/groovy/com/powsybl/iidm/network/scripting/IdentifiableExtensionGroovyTest.groovy
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseConversionContextExtensionAdderImplProvider.java
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/extensions/PsseModelExtensionAdderImplProvider.java
Labels: bug, PR: ready-to-be-merged

#1860 TP export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/TopologyExportTest.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMapping.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesIidmMappingXmlSerializer.java
  cgmes/cgmes-extensions/src/main/resources/xsd/cgmesIidmMapping.xsd
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNamespace.java
Labels: CGMES, PR: ready-to-be-merged

#1941 redundant attribute in ObservabilityQuality is a boolean and not a Boolean anymore + some code improvements
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/BranchObservability.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/InjectionObservability.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ObservabilityQuality.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchObservabilityAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/BranchObservabilityImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/InjectionObservabilityAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/InjectionObservabilityImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ObservabilityQualityImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractBranchObservabilityTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractInjectionObservabilityTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/BranchObservabilityXmlSerializer.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/extensions/InjectionObservabilityXmlSerializer.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/BranchObservabilityXmlTest.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/extensions/InjectionObservabilityXmlTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_6/branchObservabilityRoundTripRef.xml
  iidm/iidm-xml-converter/src/test/resources/V1_6/injectionObservabilityRoundTripRef.xml
Labels: Doc needed, Breaking Change, PR: ready-to-be-merged, extensions

#1933 Add shortcircuit api
  distribution-core/pom.xml
  pom.xml
  shortcircuit-api/pom.xml
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/FaultResult.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysis.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysisProvider.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysisResult.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitAnalysisTool.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitConstants.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/ShortCircuitParameters.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/AbstractTableShortCircuitAnalysisResultExporter.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/AsciiShortCircuitAnalysisResultExporter.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/CsvShortCircuitAnalysisResultExporter.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/FaultResultDeserializer.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/FaultResultSerializer.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/JsonShortCircuitAnalysisResultExporter.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisJsonModule.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisResultDeserializer.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisResultExporter.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisResultExporters.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisResultSerializer.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/interceptors/DefaultShortCircuitAnalysisInterceptor.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptor.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptorExtension.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptors.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/json/JsonShortCircuitParameters.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/json/ShortCircuitParametersDeserializer.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/json/ShortCircuitParametersSerializer.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitAnalysisMock.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitAnalysisTest.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitAnalysisToolTest.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitParametersTest.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/converter/DummyFaultResultExtensionSerializer.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/converter/DummyLimitViolationExtensionSerializer.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/converter/DummyShortCircuitAnalysisResultExtensionSerializer.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/converter/ShortCircuitAnalysisResultExportersTest.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptorExtensionMock.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptorMock.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/interceptors/ShortCircuitAnalysisInterceptorTest.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/json/JsonShortCircuitParametersTest.java
  shortcircuit-api/src/test/resources/ShortCircuitParameters.json
  shortcircuit-api/src/test/resources/config.yml
  shortcircuit-api/src/test/resources/shortcircuit-results.csv
  shortcircuit-api/src/test/resources/shortcircuit-results.json
  shortcircuit-api/src/test/resources/shortcircuit-with-extensions-results.json
Labels: PR: ready-to-be-merged, Shortcircuits

#1946 Fix formatter config for CSV shortcircuits test
  shortcircuit-api/src/test/resources/com/powsybl/config/test/config.yml
  shortcircuit-api/src/test/resources/com/powsybl/config/test/filelist.txt
Labels: bug, unit test, PR: ready-to-be-merged

#1935 add vertex validation to UndirectedGraphImpl
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/TestAbstractVoltageLevel.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/test/java/com/powsybl/math/graph/UndirectedGraphImplTest.java
Labels: PR: waiting-for-review

#1948 Fix multiple lines at boundaries by discarding the disconnected one
  cgmes/cgmes-conformity/src/test/java/com/powsybl/cgmes/conformity/test/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_three_lines_at_boundary/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_three_lines_at_boundary/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conformity/src/test/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_three_lines_at_boundary/MicroGridTestConfiguration_BC_BE_TP_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/BoundaryEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
Labels: CGMES

#1955 Fix bug: switches were not removed from index when all edges were removed
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-reducer/src/test/java/com/powsybl/iidm/reducer/DefaultNetworkReducerTest.java
  math/src/main/java/com/powsybl/math/graph/DefaultUndirectedGraphListener.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphListener.java
Labels: bug, Doc needed, Breaking Change, PR: ready-to-be-merged
