Repository powsybl/powsybl-core, pull requests merged in 2023-04, with the labels that each got.

#2529 PSSE: Q record anywhere between blocks.
  psse/psse-model/src/main/java/com/powsybl/psse/model/io/RecordGroupIOLegacyText.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/MultiTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TransformerData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/TwoTerminalDcTransmissionLineData.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/VoltageSourceConverterDcTransmissionLineData.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  psse/psse-model/src/test/resources/IEEE_14_bus_non_induction_machine_data.raw
  psse/psse-model/src/test/resources/IEEE_14_bus_non_induction_machine_data_rev35.raw
Labels: PSS/E

#2530 PSSE Two-Terminal DC line data: allow negative value for SETVL (desired inverter power)
  psse/psse-converter/src/main/java/com/powsybl/psse/converter/TwoTerminalDcConverter.java
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterTest.java
  psse/psse-converter/src/test/resources/twoTerminalDc_with_negative_setvl.raw
  psse/psse-converter/src/test/resources/twoTerminalDc_with_negative_setvl.xiidm
Labels: PSS/E

#2536 Fix writing zero bPerSection for xiidm <1.5
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/ShuntTestCaseFactory.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/ShuntXml.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/ShuntCompensatorXmlTest.java
Labels: bug, XIIDM

#2538 PSSE : add test cases from Illinois repository
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterIllinoisTest.java
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 118 Bus-fixed-duplicated-ids.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 118 Bus.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 14 bus.raw
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 24 bus.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 30 bus.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 39 bus-fixed-mixed-delimiters.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 39 bus.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 57 bus-fixed-duplicated-ids.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE 57 bus.RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE RTS 96 bus (1).RAW
  psse/psse-model-test/src/main/resources/illinois/literature-based/IEEE300Bus.raw
  psse/psse-model-test/src/main/resources/illinois/literature-based/WSCC 9 bus.raw
  psse/psse-model-test/src/main/resources/illinois/literature-based/two_area_case.RAW
  psse/psse-model-test/src/main/resources/illinois/synthetic/Illinois200.RAW
  psse/psse-model-test/src/main/resources/illinois/synthetic/README.md
  psse/psse-model-test/src/main/resources/illinois/synthetic/SouthCarolina500.RAW
  psse/psse-model-test/src/main/resources/illinois/synthetic/Texas2000_June2016.RAW
  psse/psse-model-test/src/main/resources/illinois/synthetic/uiuc-150bus.RAW
Labels: PSS/E

#2543 Notify listeners after invalidating cache when switches' status is updated: connectivity is then correctly taking the update into account
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SwitchImpl.java
Labels: bug, IIDM

#2544 Move FourSubstationsNodeBreakerWithExtensionsFactory to iidm-test
  iidm/iidm-extensions/pom.xml
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/TopologyModificationUtilsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractNetworkExtensionsTest.java
  iidm/iidm-test/pom.xml
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/FourSubstationsNodeBreakerWithExtensionsFactory.java
Labels: PR: ready-to-be-merged

#2528 CGMES EQ export fixes
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/GeneratingUnitEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ShuntCompensatorEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/SynchronousMachineEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TapChangerEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
Labels: bug, CGMES

#2540 PSSE: Support null fields in rawx format
  psse/psse-converter/src/test/java/com/powsybl/psse/converter/PsseImporterPsseTest.java
  psse/psse-model-test/src/main/resources/psse/README.md
  psse/psse-model-test/src/main/resources/psse/ieee_25_bus.rawx
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseGenerator.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseOwnership.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseRates.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseSwitchedShunt.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTransformer.java
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/PsseTransformerWinding.java
Labels: PSS/E

#2541 PSSE: switched shunt, in rawx format fields "i" and "id" must be "ibus" and…
  psse/psse-model/src/main/java/com/powsybl/psse/model/pf/io/SwitchedShuntData.java
  psse/psse-model/src/test/java/com/powsybl/psse/model/PsseRawDataTest.java
  psse/psse-model/src/test/resources/IEEE_24_bus_rev35.rawx
  psse/psse-model/src/test/resources/IEEE_24_bus_rev35_exported.rawx
Labels: PSS/E

#2537 CGMES import: import TATL shortName or name, not ID + CGMES export: fix on LoadingLimitType and LoadingLimit names
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1NetworkCatalog.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/OperationalLimitConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/LoadingLimitEq.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, PR: ready-to-be-merged

#2546 Cgmes export fixes
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/TieFlowEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
Labels: CGMES, PR: waiting-for-review
