Repository powsybl/powsybl-core, pull requests merged in 2023-11, with the labels that each got.

#2752 CGMES. Clean up logs related to regulating controls
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForTransformers.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EquivalentInjectionConversion.java
Labels: CGMES, PR: ready-to-be-merged

#2768 CGMES export shunt compensators: do not create new regulating controls if not needed
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
Labels: CGMES, PR: next-release

#2739 Cgmes export: Preserve original classes of loads
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/Cgmes3ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesCatalogsConstants.java
  cgmes/cgmes-conformity/src/main/resources/cgmes3-test-models-modified/MicroGrid/allTypesOfLoads/20210209T1930Z_1D_BE_EQ_9.xml
  cgmes/cgmes-conformity/src/main/resources/cgmes3-test-models-modified/MicroGrid/allTypesOfLoads/20210209T1930Z_1D_BE_SSH_9.xml
  cgmes/cgmes-conformity/src/main/resources/cgmes3-test-models-modified/MicroGrid/allTypesOfLoads/20210209T1930Z_1D_NL_EQ_9.xml
  cgmes/cgmes-conformity/src/main/resources/cgmes3-test-models-modified/MicroGrid/allTypesOfLoads/20210209T1930Z_1D_NL_SSH_9.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AsynchronousMachineConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergyConsumerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/EnergySourceConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SvInjectionConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/LoadGroups.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/EnergyConsumerEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/LoadResponseCharacteristicEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: next-release

#2754 Custom connection/disconnection of connectables
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Terminal.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SwitchPredicates.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VoltageLevelExt.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/NodeBreakerConnectTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/NodeBreakerDisconnectionDiamondPathBugTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/util/SwitchPredicatesTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerDisconnectionDiamondPathBugTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/util/AbstractSwitchPredicatesTest.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraph.java
  math/src/main/java/com/powsybl/math/graph/UndirectedGraphImpl.java
Labels: Breaking Change, Feature

#2771 CGMES export: add EquipmentContainer when exporting EnergySource
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: PR: next-release

#2770 CGMES. Preserve static var compensator regulating control data even if disabled
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/BE_BB_Complete_v2_off_svc_control_v/MicroGridTestConfiguration_T4_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/Type4_T4/BE_BB_Complete_v2_off_svc_control_v/MicroGridTestConfiguration_T4_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionUtil.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SvcExportTest.java
Labels: CGMES, PR: next-release

#2773 CGMES: fix CGM export adding equivalent injection power flows at tie lines
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity3ConversionTest.java
Labels: CGMES, PR: next-release

#2764 Add a listener on terminal connection
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusBreakerTest.java
Labels: December release

#2767 Load Flow Results API enhancements
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResult.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowResultImpl.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultDeserializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/json/LoadFlowResultSerializer.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/tools/RunLoadFlowTool.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/LoadFlowResultJsonTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/tools/RunLoadFlowToolTest.java
  loadflow/loadflow-api/src/test/resources/LoadFlowResultResult.txt
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion13SolverFailed.json
  loadflow/loadflow-api/src/test/resources/LoadFlowResultVersion14.json
Labels: Breaking Change, LoadFlow, December release

#2690 Reporter for xml conversion - Rework
  commons/src/main/java/com/powsybl/commons/reporter/AbstractReporter.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractReporterContext.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/MultiThreadReporterContext.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ReporterContext.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/SimpleReporterContext.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VariantManager.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/Networks.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/ReporterContextTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ReactiveCapabilityCurveAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ReactiveLimitsHolderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ReactiveLimitsOwner.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubnetworkImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/NetworkReporterContextTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNetworkReporterTest.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/AbstractTreeDataImporter.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXml.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/NetworkXmlReaderContext.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/XmlReports.java
  iidm/iidm-xml-converter/src/main/java/com/powsybl/iidm/xml/test/MetrixTutorialSixBusesFactory.java
  iidm/iidm-xml-converter/src/test/java/com/powsybl/iidm/xml/XMLImporterTest.java
  iidm/iidm-xml-converter/src/test/resources/V1_11/twoWindingsTransformerPhaseAndRatioTap.xml
  iidm/iidm-xml-converter/src/test/resources/V1_11/twoWindingsTransformerPhaseAndRatioTapWithExtensions.xml
  iidm/iidm-xml-converter/src/test/resources/importXmlReport.txt
  iidm/iidm-xml-converter/src/test/resources/importXmlReportExtensions.txt
  iidm/iidm-xml-converter/src/test/resources/importXmlReportExtensionsAndValidations.txt
  iidm/iidm-xml-converter/src/test/resources/importXmlReportExtensionsNotFound.txt
  iidm/iidm-xml-converter/src/test/resources/importXmlReportValidation.txt
Labels: Breaking Change, December release

#2763 Reference priorities and reference terminals iIDM extensions
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtendable.java
  commons/src/main/java/com/powsybl/commons/extensions/AbstractExtension.java
  commons/src/main/java/com/powsybl/commons/extensions/Extension.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferencePriorities.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferencePrioritiesAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferencePriority.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferencePriorityAdder.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferenceTerminals.java
  iidm/iidm-extensions/src/main/java/com/powsybl/iidm/network/extensions/ReferenceTerminalsAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferencePrioritiesAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferencePrioritiesAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferencePrioritiesImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferencePriorityAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferencePriorityImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferenceTerminalsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferenceTerminalsAdderImplProvider.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferenceTerminalsImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/ReferencePrioritiesTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/extensions/ReferenceTerminalsTest.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/extensions/ReferencePrioritiesSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/extensions/ReferenceTerminalsSerDe.java
  iidm/iidm-serde/src/main/resources/xsd/referencePriorities.xsd
  iidm/iidm-serde/src/main/resources/xsd/referenceTerminals.xsd
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/extensions/ReferencePrioritiesXmlTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/extensions/ReferenceTerminalsXmlTest.java
  iidm/iidm-serde/src/test/resources/V1_11/referencePrioritiesRef.xiidm
  iidm/iidm-serde/src/test/resources/V1_11/referenceTerminalsRef.xiidm
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractReferencePrioritiesTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractReferenceTerminalsTest.java
Labels: December release, extensions

#2649 IIDM modification - naming strategy
  action/action-dsl/src/main/java/com/powsybl/action/dsl/modification/ScriptNetworkModification.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/GeneratorAdder.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/AbstractNetworkModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/AbstractSetpointModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/BatteryModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/CloseSwitch.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/ConnectGenerator.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/GeneratorModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/NetworkModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/NetworkModificationList.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/OpenSwitch.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/PhaseShifterOptimizeTap.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/PhaseShifterSetAsFixedTap.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/PhaseShifterShiftTap.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/ReplaceTieLinesByLines.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/ShuntCompensatorModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/tapchanger/AbstractTapPositionModification.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/AbstractCreateConnectableFeederBays.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ConnectVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateCouplingDevice.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopology.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopologyBuilder.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/DefaultNamingStrategy.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/NamingStrategy.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveFeederBay.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveHvdcLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveSubstation.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveVoltageLevel.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/ReplaceTeePointByVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertConnectVoltageLevelOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RevertCreateLineOnLine.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/TopologyModificationUtils.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/tripping/AbstractTripping.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/ConnectVoltageLevelOnLineTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/CreateVoltageLevelTopologyTest.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/DefaultNamingStrategyTest.java
  iidm/iidm-modification/src/test/resources/create-vl-topo-test-complete.xiidm
  iidm/iidm-modification/src/test/resources/create-vl-topo-test.xiidm
  iidm/iidm-modification/src/test/resources/eurostag-line-split-bb-vl.xml
  iidm/iidm-modification/src/test/resources/eurostag-replace-tee-point-by-voltage-level-on-line-bb.xml
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/SecurityAnalysisTest.java
  shortcircuit-api/src/main/java/com/powsybl/shortcircuit/VoltageRange.java
  shortcircuit-api/src/test/java/com/powsybl/shortcircuit/ShortCircuitParametersTest.java
Labels: IIDM, December release

#2597 Ampl exporter : add versionning
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplConstants.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExportConfig.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplExporter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplNetworkWriter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/AmplUtil.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/DefaultAmplNetworkUpdaterFactory.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/util/AmplDatTableFormatter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/version/AmplColumnsExporter.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/version/AmplExportVersion.java
  ampl-converter/src/main/java/com/powsybl/ampl/converter/version/BasicAmplExporter.java
  ampl-converter/src/test/java/com/powsybl/ampl/converter/AmplNetworkWriterTest.java
  ampl-converter/src/test/resources/inputs/headers.txt
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ThreeSides.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/TopologyLevelTest.java
Labels: December release

#2794 Fix CGMES date parsing
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/DateParsingTest.java
  cgmes/cgmes-conversion/src/test/resources/dateParsing.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
Labels: December release

#2789 Loadflow specific parameters to map
  action/action-simulator/src/test/java/com/powsybl/action/simulator/LoadFlowProviderMock.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/AbstractNoSpecificParametersLoadFlowProvider.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlow.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowParameters.java
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowProvider.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowProviderMock.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowProviderTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/JsonLoadFlowParametersTest.java
  loadflow/loadflow-scripting/src/test/java/com/powsybl/loadflow/scripting/LFMock.java
  loadflow/loadflow-validation/src/test/java/com/powsybl/loadflow/validation/LoadFlowProviderMock.java
  security-analysis/security-analysis-default/src/test/java/com/powsybl/security/impl/mocks/LoadFlowProviderMock.java
Labels: PR: waiting-for-review, December release

#2806 CGMES export fix static var compensator with bmin = bmax = 0
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: CGMES, PR: ready-to-be-merged, December release

#2782 CGMES. SV export load flow status for each topological island
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesMappingTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/SwitchesFlow.java
Labels: CGMES, December release

#2799 Modification on connect/disconnect tests
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
Labels: bug, PR: waiting-for-review, December release

#2549 Use BFS instead of DFS for reducer subnetwork predicate
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/IdentifierNetworkPredicate.java
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/SubNetworkPredicate.java
  iidm/iidm-reducer/src/test/java/com/powsybl/iidm/reducer/SubNetworkPredicateTest.java
Labels: December release
