Repository powsybl/powsybl-core, pull requests merged in 2024-04, with the labels that each got.

#2966 Fix hvdcAcEmulation option loading from a yaml config file
  loadflow/loadflow-api/src/main/java/com/powsybl/loadflow/LoadFlowParameters.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/LoadFlowParametersTest.java
  loadflow/loadflow-api/src/test/java/com/powsybl/loadflow/json/JsonLoadFlowParametersTest.java
  loadflow/loadflow-api/src/test/resources/LoadFlowParametersVersion17.json
  loadflow/loadflow-api/src/test/resources/LoadFlowParametersVersion18.json
  loadflow/loadflow-api/src/test/resources/LoadFlowParametersVersion19.json
Labels: bug

#2962 Add back static method parseCsv without ReportNode for TimeSeries
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeries.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesTest.java
Labels: bug

#2973 Add missing battery contingency validation
  contingency/contingency-api/src/main/java/com/powsybl/contingency/Contingency.java
  contingency/contingency-api/src/test/java/com/powsybl/contingency/BatteryContingencyTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
Labels: PR: waiting-for-review

#2987 CGMES unit tests for transformer conversion
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TransformerConversionTest.java
Labels: bug, CGMES

#2988 CGMES metadata model interface and implementation
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesMetadataModelsAdderImpl.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesMetadataModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesMetadataModelImpl.java
Labels: CGMES, PR: next-release, extensions

#2991 CGMES export: fix regression on external explicit SV dependencies
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_sv_with_mas/MicroGridTestConfiguration_BC_Assembled_SV_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/LegacyCommonGridModelExportTest.java
Labels: bug, CGMES, PR: ready-to-be-merged, PR: next-release

#2993 CGMES export. Allow external metadata model definition. Flag to disable update of dependencies
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/LegacyCommonGridModelExportTest.java
Labels: CGMES, PR: next-release, Feature
