Repository powsybl/powsybl-core, pull requests merged in 2024-01, with the labels that each got.

#2841 CGMES export SV: voltage of tie line boundary node
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
Labels: bug, CGMES, January release

#2845 Add case date handling when merging networks
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/MergeTest.java
Labels: PR: ready-to-be-merged, January release

#2775 CGMES. Import input with multiple grid models as a network with subnetworks
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesConversionContextExtensionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/CgmesImportPreAndPostProcessorsTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionTester.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/FunctionalLogsTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ImportExportPerformanceTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/MultipleDataSourceTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/SourceForIidmIdentifiersTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/cim14/Cim14SmallCasesConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/Cgmes3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity1ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity2ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/CgmesConformity3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/Cgmes3ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesMappingTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportProfilesConsistencyTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportToCimVersionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/TopologyExportCornerCasesTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/TopologyExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SvcExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SwitchExportTest.java
  cgmes/cgmes-shortcircuit/src/test/java/com/powsybl/cgmes/shortcircuit/CgmesImporterTest.java
Labels: CGMES, PR: ready-to-be-merged, January release

#2846 Fix typo in class name AbstractBinaryNodeCalc
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/AbstractBinaryMinMax.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/AbstractBinaryNodeCalc.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/BinaryOperation.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/DefaultNodeCalcVisitor.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcCloner.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcEvaluator.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcModifier.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcPrinter.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/ast/NodeCalcVisitor.java
Labels: January release

#2779 Automation systems
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AutomationSystem.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/IdentifiableType.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/OverloadManagementSystem.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/OverloadManagementSystemAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Substation.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractAutomationSystem.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OverloadManagementSystemAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OverloadManagementSystemImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubnetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubstationImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/OverloadManagementSystemTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractOverloadManagementSystemTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSubnetworksExplorationTest.java
Labels: Breaking Change, IIDM 1.12, January release

#2828 Refactor the tap changer adder interfaces
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/PhaseTapChangerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/PhaseTapChangerStepAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/RatioTapChangerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/RatioTapChangerStepAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TapChangerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TapChangerStepAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/PhaseTapChangerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/RatioTapChangerAdderImpl.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractTransformerSerDe.java
Labels: Breaking Change, January release

#2804 Modify CGMES naming strategy so that the IDs are stable
  cgmes/cgmes-completion/src/main/java/com/powsybl/cgmes/completion/CreateMissingContainersPreProcessor.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_Assembled_v2_bad_ids/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/AbstractCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NamingStrategyFactory.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ACLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractConductingEquipmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/AbstractIdentifiedObjectConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/NodeConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SubstationConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/VoltageLevelConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/DcLineSegmentConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportUtil.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/LoadGroups.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/StateVariablesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/TopologyExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/LoadAreaEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/LoadingLimitEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ModelDescriptionEq.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/AbstractCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/CgmesObjectReference.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/FixedCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/NamingStrategy.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/NamingStrategyFactory.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/naming/SimpleCgmesAliasNamingStrategy.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportContextTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesMappingTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesNamingStrategyTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportProfilesConsistencyTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/TopologyExportTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
Labels: CGMES, PR: ready-to-be-merged, January release

#2844 Overload management system Serialization/Deserialization
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractComplexIdentifiableSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractIdentifiableSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractTreeDataExporter.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractTreeDataImporter.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/ExportOptions.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/ImportOptions.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/NetworkSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/OverloadManagementSystemSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/SubstationSerDe.java
  iidm/iidm-serde/src/main/resources/xsd/iidm_V1_12.xsd
  iidm/iidm-serde/src/main/resources/xsd/iidm_equipment_V1_12.xsd
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/AbstractIidmSerDeTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/ExportOptionsTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/ImportOptionsTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/OverloadManagementSystemSerDeTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/XMLExporterTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/XMLImporterTest.java
  iidm/iidm-serde/src/test/resources/V1_0/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_1/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_10/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_11/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_12/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_2/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_3/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_4/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_5/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_6/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_7/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_8/overloadManagementSystemRoundTripRef.xml
  iidm/iidm-serde/src/test/resources/V1_9/overloadManagementSystemRoundTripRef.xml
Labels: IIDM, IIDM 1.12, January release

#2837 New "Ground" injection
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractEquipmentTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AbstractTerminalTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/DefaultTopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Ground.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/GroundAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/IdentifiableType.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TopologyVisitor.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/VoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBus.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractHvdcConverterStationAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractInjectionAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BatteryAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/DanglingLineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GeneratorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GroundAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GroundImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LccConverterStationAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LoadAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ShuntCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/StaticVarCompensatorAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubnetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/VscConverterStationAdderImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/GroundTest.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/GroundSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/NetworkSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/VoltageLevelSerDe.java
  iidm/iidm-serde/src/main/resources/xsd/iidm_V1_12.xsd
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/GroundSerDeTest.java
  iidm/iidm-serde/src/test/resources/V1_11/ground.xml
  iidm/iidm-serde/src/test/resources/V1_12/ground.xml
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractGroundTest.java
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/TwoVoltageLevelNetworkFactory.java
  loadflow/loadflow-results-completion/src/main/java/com/powsybl/loadflow/resultscompletion/z0flows/Z0FlowFromBusBalance.java
Labels: IIDM, IIDM 1.12, January release

#2636 Permanent limit is now mandatory in IIDM
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesImport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/LoadingLimitsMapping.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/LoadingLimitsAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/ValidationUtil.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LoadingLimitsUtil.java
  iidm/iidm-api/src/test/java/com/powsybl/iidm/network/util/LoadingLimitsUtilTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractLoadingLimits.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractLoadingLimitsAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ActivePowerLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ApparentPowerLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CurrentLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsHolderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsOwner.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/AbstractTreeDataImporter.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/ConnectableSerDeUtil.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/DanglingLineSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/ImportOptions.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/LineSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/ThreeWindingsTransformerSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/TieLineSerDe.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/TwoWindingsTransformerSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/ImportOptionsTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/LoadingLimitsXmlTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/XMLImporterTest.java
  iidm/iidm-serde/src/test/resources/V1_0/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_1/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_10/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_11/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_12/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_2/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_3/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_4/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_5/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_6/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_7/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_8/withoutPermanentLimit.xml
  iidm/iidm-serde/src/test/resources/V1_9/withoutPermanentLimit.xml
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCurrentLimitsTest.java
Labels: Breaking Change, XIIDM, IIDM 1.12, January release

#2854 Connection disconnection notification
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Terminal.java
  iidm/iidm-extensions/pom.xml
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractBranchAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractConnectable.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractInjectionAdder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/AbstractTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/BusbarSectionAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeTerminal.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TerminalBuilder.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TerminalExt.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ThreeWindingsTransformerImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerAdderImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/ConnectionNotificationTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractConnectionNotificationTest.java
Labels: Breaking Change, January release

#2848 CGMES ground conversion
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/GroundConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/GroundConversionTest.java
  cgmes/cgmes-conversion/src/test/resources/groundTest.xml
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/GroundAdderImpl.java
  iidm/iidm-serde/src/test/resources/V1_12/ground.xml
  iidm/iidm-test/src/main/java/com/powsybl/iidm/network/test/TwoVoltageLevelNetworkFactory.java
Labels: CGMES, January release

#2857 CGMES ground conversion: minimize unit test file
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/GroundConversionTest.java
  cgmes/cgmes-conversion/src/test/resources/groundTest.xml
Labels: CGMES

#2840 CGMES export: fix missing breaker
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SwitchExportTest.java
Labels: bug, CGMES, January release

#2863 Fix deserialization bug in skipped extensions
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/NetworkSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/NetworkSerDeTest.java
  iidm/iidm-serde/src/test/resources/skippedExtensions.xml
  iidm/iidm-serde/src/test/resources/xsd/terminalMockNoSerDe.xsd
Labels: bug, December release, January release

#2865 Add overload management system removal (missing method)
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/AutomationSystem.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OverloadManagementSystemImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubstationImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractOverloadManagementSystemTest.java
Labels: bug, PR: ready-to-be-merged, January release

#2866 CGMES: Correct neutral step calculation for tap changers
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
Labels: PR: ready-to-be-merged, January release

#2864 Fix equipment_V1_12.xsd
  iidm/iidm-serde/src/main/resources/xsd/iidm_equipment_V1_12.xsd
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/EquipmentXsdTest.java
Labels: bug, PR: ready-to-be-merged, January release

#2867 Fix vsc replacement by regulating generator
  iidm/iidm-reducer/pom.xml
  iidm/iidm-reducer/src/main/java/com/powsybl/iidm/reducer/DefaultNetworkReducer.java
  iidm/iidm-reducer/src/test/java/com/powsybl/iidm/reducer/DefaultNetworkReducerTest.java
Labels: bug, January release

#2870 Fix the visibility of the XxxLimitsAdderImpl classes
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ActivePowerLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/ApparentPowerLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/CurrentLimitsAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/OperationalLimitsGroupImpl.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/OperationalLimitsGroupImplTest.java
Labels: bug, January release

#2874 Sort the paired dangling lines when merging networks
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractMergeNetworkTest.java
Labels: bug, January release

#2871 Binary iidm: distinction between null and empty string
  commons/src/main/java/com/powsybl/commons/binary/BinReader.java
  commons/src/main/java/com/powsybl/commons/binary/BinWriter.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/BinaryTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/EurostagBinaryTest.java
  iidm/iidm-serde/src/test/resources/V1_12/eurostag-tutorial1-lf-extensions.bin
  iidm/iidm-serde/src/test/resources/V1_12/eurostag-tutorial1-lf.bin
Labels: bug, January release

#2869 CGMES export neutral step unit test
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/TapChangerNeutralStepTest.java
Labels: CGMES, PR: ready-to-be-merged, January release

#2877 CGMES post-processor to remove grounds
  cgmes/cgmes-conversion/pom.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RemoveGroundsPostProcessor.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/GroundConversionTest.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NodeBreakerVoltageLevel.java
Labels: CGMES, January release
