Repository powsybl/powsybl-core, pull requests merged in 2025-01, with the labels that each got.

#3254 Fix case9241pegase.mat import
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-converter/src/test/java/com/powsybl/matpower/converter/MatpowerImporterTest.java
  matpower/matpower-converter/src/test/resources/ieee14-phase-shifter-zero-ratio-issue.json
  matpower/matpower-converter/src/test/resources/ieee14-phase-shifter-zero-ratio-issue.xiidm
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerModelFactory.java
Labels: bug, Matpower, Release 03/2025

#3256 Add fix to Matpower importer to import some pglib files
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerExporter.java
  matpower/matpower-model/pom.xml
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerFormatVersion.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerModel.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerReader.java
  matpower/matpower-model/src/main/java/com/powsybl/matpower/model/MatpowerWriter.java
  matpower/matpower-model/src/test/java/com/powsybl/matpower/model/MatpowerReaderWriterTest.java
Labels: Matpower, Release 03/2025

#3262 Save GroundDisconnector CGMES switch kind in a property
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/SwitchConversionTest.java
  docs/grid_exchange_formats/cgmes/import.md
Labels: bug, CGMES, Release 03/2025

#3234 Use PowerTransformerEnd.endNumber to sort transformer windings
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/WindingType.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/WindingTypeTest.java
Labels: CGMES, Refactoring

#3224 Complete docs about implemented remedial actions
  docs/simulation/security/index.md
Labels: Release 03/2025

#3267 Replace CGMES.switchType property by CGMES.originalClass property.
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/SwitchConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/SwitchConversionTest.java
Labels: Breaking Change, Refactoring

#3208 Adder by copy for lines
  ampl-converter/src/main/java/com/powsybl/ampl/converter/util/NetworkUtil.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Branch.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/LineAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Network.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/OperationalLimitsGroup.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LoadingLimitsUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/NetworkImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubnetworkImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractCurrentLimitsTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractLineTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSubnetworksCreationTest.java
Labels: Breaking Change, Release 03/2025, Custom IIDM impl

#3265 Fix MATPOWER shunt conductance import
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerExporter.java
  matpower/matpower-converter/src/main/java/com/powsybl/matpower/converter/MatpowerImporter.java
  matpower/matpower-converter/src/test/resources/be.json
  matpower/matpower-converter/src/test/resources/ieee118.xiidm
  matpower/matpower-converter/src/test/resources/ieee14-inverted-voltage-limits.xiidm
  matpower/matpower-converter/src/test/resources/ieee14-phase-shifter-zero-ratio-issue.xiidm
  matpower/matpower-converter/src/test/resources/ieee14-phase-shifter.xiidm
  matpower/matpower-converter/src/test/resources/ieee14.xiidm
  matpower/matpower-converter/src/test/resources/ieee30-considering-base-voltage.xiidm
  matpower/matpower-converter/src/test/resources/ieee30.xiidm
  matpower/matpower-converter/src/test/resources/ieee300.xiidm
  matpower/matpower-converter/src/test/resources/ieee57.xiidm
  matpower/matpower-converter/src/test/resources/ieee9.xiidm
  matpower/matpower-converter/src/test/resources/ieee9_limits.xiidm
  matpower/matpower-converter/src/test/resources/ieee9zeroimpedance.xiidm
  matpower/matpower-converter/src/test/resources/t_case9_dcline.xiidm
Labels: Matpower, Release 03/2025

#3276 Fix extension deserialization
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/ReferenceTerminalsImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/SlackTerminalImpl.java
  iidm/iidm-serde/src/main/java/com/powsybl/iidm/serde/NetworkSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/ExtensionDeserIssueTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/LoadBarSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/LoadFooSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/LoadMockSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/LoadZipModelSerDe.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/NetworkSerDeTest.java
  iidm/iidm-serde/src/test/java/com/powsybl/iidm/serde/TerminalMockSerDe.java
Labels: bug, Release 03/2025

#3283 Add missing checkValidity for MergedBus
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/MergedBus.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/BusTest.java
  iidm/iidm-impl/src/test/java/com/powsybl/iidm/network/impl/tck/NodeBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractBusBreakerTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractNodeBreakerTest.java
Labels: Release 03/2025

#3280 Fix remove voltage level
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveFeederBay.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/topology/RemoveVoltageLevel.java
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/util/ModificationReports.java
  iidm/iidm-modification/src/test/java/com/powsybl/iidm/modification/topology/RemoveVoltageLevelTest.java
Labels: bug

#3279 Review conditions of RegulatingControl creation at CGMES export
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForGenerators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForShuntCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/RegulatingControlEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SvcExportTest.java
Labels: bug, CGMES, Release 03/2025

#3238 Refactor grouped queries in CgmesModel
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_transformer_at_boundary/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Context.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/NodeContainerMapping.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/PhaseAngleClock.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ShuntConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/Adjacency.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/CgmesDcConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/hvdc/NodeEquipment.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/AbstractTransformerConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesPhaseTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/CgmesRatioTapChangerBuilder.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/transformers/TapChanger.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/FakeTapChangerConversionTest.java
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-target-deadband.txt
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/AbstractCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesModelFactory.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/InMemoryCgmesModel.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/triplestore/CgmesModelTripleStore.java
  cgmes/cgmes-model/src/main/resources/CIM14.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  matpower/matpower-converter/src/test/resources/be.json
Labels: CGMES, Breaking Change, Refactoring, Release 03/2025

#3181 CGMES conversion switch test
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_switch_type_preserved/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_switch_type_preserved/MicroGridTestConfiguration_BC_NL_SSH_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_NL_v2_switch_without_name/MicroGridTestConfiguration_BC_NL_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_internal_line_z0/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_load_break_switch/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_protected_switch/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_switch_type_preserved/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_switch_type_preserved/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_terminal_disconnected/MiniGridTestConfiguration_BC_SSH_v3.0.0.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/ConversionUtil.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/SwitchConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/RetainedSwitchExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/issues/SwitchExportTest.java
  cgmes/cgmes-conversion/src/test/resources/issues/switches/basic_switch.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/disconnected_terminal_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/disconnected_terminal_SSH.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/line_with_0_impedance.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/retained_switch.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/switch_in_bus_branch_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/switch_in_bus_branch_TP.xml
  cgmes/cgmes-conversion/src/test/resources/issues/switches/switch_kind.xml
  cgmes/cgmes-conversion/src/test/resources/jumperTest.xml
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, Breaking Change, Release 03/2025

#3260 Two winding transformers adder by copy
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/Substation.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/TwoWindingsTransformerAdder.java
  iidm/iidm-api/src/main/java/com/powsybl/iidm/network/util/LoadingLimitsUtil.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/LineAdderImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/SubstationImpl.java
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/TwoWindingsTransformerAdderImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractSubnetworksCreationTest.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/AbstractTwoWindingsTransformerTest.java
Labels: Breaking Change, Release 03/2025, Custom IIDM impl
