Repository powsybl/powsybl-core, pull requests merged in 2025-02, with the labels that each got.

#3294 ReportNode: add detail severity and documentation
  commons/src/main/java/com/powsybl/commons/report/ReportNode.java
  commons/src/main/java/com/powsybl/commons/report/TypedValue.java
  docs/user/functional_logs/export.md
  docs/user/functional_logs/i18n.md
  docs/user/functional_logs/import.md
  docs/user/functional_logs/index.md
  docs/user/index.md
Labels: Release 03/2025

#3300 Rework condition to better identify boundary subsets
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesSubset.java
  cgmes/cgmes-model/src/test/java/com/powsybl/cgmes/model/CgmesSubsetTest.java
Labels: bug, CGMES

#3281 Switch TimeSeries to nanosecond precision
  dynamic-simulation/dynamic-simulation-api/src/test/java/com/powsybl/dynamicsimulation/json/DynamicSimulationResultJsonTest.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/AbstractPoint.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/AbstractTimeSeriesIndex.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/CalculatedTimeSeries.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/CompressedDoubleDataChunk.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/CompressedStringDataChunk.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/DoubleMultiPoint.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/DoublePoint.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/DoubleTimeSeries.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/InfiniteTimeSeriesIndex.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/IrregularTimeSeriesIndex.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/RegularTimeSeriesIndex.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/StringPoint.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeries.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesIndex.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesMetadata.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/TimeSeriesTable.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/UncompressedDoubleDataChunk.java
  time-series/time-series-api/src/main/java/com/powsybl/timeseries/UncompressedStringDataChunk.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/CalculatedTimeSeriesTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/DoubleDataChunkTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/DoublePointTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/DoubleTimeSeriesTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/InfiniteTimeSeriesIndexTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/IrregularTimeSeriesIndexTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/ReadOnlyTimeSeriesStoreAggregatorTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/RegularTimeSeriesIndexTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StoredDoubleTimeSeriesTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StringDataChunkTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StringPointTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/StringTimeSeriesTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesMetadataTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesTableTest.java
  time-series/time-series-api/src/test/java/com/powsybl/timeseries/TimeSeriesTest.java
  time-series/time-series-dsl/src/test/java/com/powsybl/timeseries/dsl/CalculatedTimeSeriesGroovyDslTest.java
Labels: Breaking Change, Time series, Release 03/2025

#3320 Fix `positionOrderTooHigh` reports log
  iidm/iidm-modification/src/main/java/com/powsybl/iidm/modification/util/ModificationReports.java
Labels: Log, Release 03/2025

#3177 CGMES conversion operational limit tests
  cgmes/cgmes-conformity/src/main/java/com/powsybl/cgmes/conformity/CgmesConformity1ModifiedCatalog.java
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_limits/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_missing_limit_value/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_undefined_PATL/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/MiniGridTestConfiguration_BC_EQ_v3.0.0.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MiniGrid/NodeBreaker/BaseCase_Complete_v3_limits/changes
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/OperationalLimitConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/OperationalLimitsGroupTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/Cgmes3ConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/resources/OperationalLimits.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/limits_cim100.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/limitsets_EQBD.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/limitsets_TPBD.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/limitsets_associated_to_equipments_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/limitsets_associated_to_terminals_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/loading_limits.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/missing_limits.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/multiple_limitsets_on_same_terminal.xml
  cgmes/cgmes-conversion/src/test/resources/issues/operational-limits/voltage_limits.xml
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
Labels: CGMES, Breaking Change, Refactoring, Release 03/2025

#3316 Make SSH graph for CIM100 OperationalLimits query optional
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
Labels: bug, CGMES, Release 03/2025

#3272 CGMES. Import StaticVarCompensators: sVCControlMode and voltageSetPoint are deprecated and optional in CGMES 3.0
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingControlMappingForStaticVarCompensators.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/StaticVarCompensatorTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/resources/issues/static-var-compensator/staticVarCompensator_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/static-var-compensator/staticVarCompensator_SSH.xml
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
Labels: bug, CGMES

#3268 Allow standByAutomaton extension to have inconsistent voltage thresholds if not in stand by
  iidm/iidm-impl/src/main/java/com/powsybl/iidm/network/impl/extensions/StandbyAutomatonImpl.java
  iidm/iidm-tck/src/test/java/com/powsybl/iidm/network/tck/extensions/AbstractStandbyAutomatonTest.java
Labels: Breaking Change, Release 03/2025, Custom IIDM impl

#3305 Add documentation page for NetworkModifications
  docs/grid_features/index.md
  docs/grid_features/network_modifications.md
Labels: Release 03/2025

#3323 Add documentation for PowerFactory format
  docs/grid_exchange_formats/index.md
  docs/grid_exchange_formats/powerfactory/import.md
  docs/grid_exchange_formats/powerfactory/index.md
  powerfactory/powerfactory-dgs/README.md
Labels: Documentation, Release 03/2025

#3311 Add "Build the doc" section in the readme
  .gitignore
  README.md
  docs/README.md
Labels: Release 03/2025

#3149 CGMES: remove extension for Control Areas, use IIDM Area
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesBoundary.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/CgmesExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/Conversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/RegulatingTerminalMapper.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/ControlAreaConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/elements/TieFlowConversion.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/CgmesExportContext.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/EquipmentExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/ReferenceDataProvider.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/SteadyStateHypothesisExport.java
  cgmes/cgmes-conversion/src/main/java/com/powsybl/cgmes/conversion/export/elements/ControlAreaEq.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/TieFlowConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/CgmesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/EquipmentExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/ExportXmlCompare.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/StateVariablesExportTest.java
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/export/SteadyStateHypothesisExportTest.java
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-invalid-voltage-bus.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE-target-deadband.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/microGridBaseCaseBE.txt
  cgmes/cgmes-conversion/src/test/resources/functional-logs/miniGridNodeBreaker.txt
  cgmes/cgmes-conversion/src/test/resources/issues/control-areas/HvdcTieFlow_EQ.xml
  cgmes/cgmes-conversion/src/test/resources/issues/control-areas/HvdcTieFlow_EQBD.xml
  cgmes/cgmes-conversion/src/test/resources/issues/control-areas/HvdcTieFlow_TPBD.xml
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlArea.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreaImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreas.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdder.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdderImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasAdderImplProvider.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasImpl.java
  cgmes/cgmes-extensions/src/main/java/com/powsybl/cgmes/extensions/CgmesControlAreasSerDe.java
  cgmes/cgmes-extensions/src/test/java/com/powsybl/cgmes/extensions/CgmesControlAreaTest.java
  cgmes/cgmes-extensions/src/test/java/com/powsybl/cgmes/extensions/CgmesControlAreasSerDeTest.java
  cgmes/cgmes-model/src/main/java/com/powsybl/cgmes/model/CgmesNames.java
  cgmes/cgmes-model/src/main/resources/CIM100.sparql
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
  docs/grid_exchange_formats/cgmes/import.md
Labels: CGMES, Breaking Change, Release 03/2025

#3222 Remove use of filter in controlarea query
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow/MicroGridTestConfiguration_BC_BE_EQ_V2.xml
  cgmes/cgmes-conformity/src/main/resources/conformity-modified/cas-1.1.3-data-4.0.3/MicroGrid/BaseCase/BC_BE_v2_with_tie_flow/MicroGridTestConfiguration_BC_BE_SSH_V2.xml
  cgmes/cgmes-conversion/src/test/java/com/powsybl/cgmes/conversion/test/conformity/modified/CgmesConformity1ModifiedConversionTest.java
  cgmes/cgmes-model/src/main/resources/CIM16.sparql
Labels: CGMES, Refactoring, Release 03/2025

#3335 Fix the action status badge
  README.md
Labels: Documentation
